<div class="bg-lighter-grey innerContainer allBorder mt-5 center-block">
  <div class="p-4">
    <div class="row">
      <div class="col-md-9 text-left">
        <label class="font-weight-normal dashboardHeadingFont"> HR Dashboard </label>
      </div>
      <div class="col-md-3 text-right">
        <mat-form-field class="fullwidth my-form">
          <mat-select class="my-form" placeholder="Select Branch" required>
            <mat-option *ngFor=" let item" [value]="item.companyId">
              {{item.companyName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="bgWhite boxShadow">
          <div class="row p-4">
            <div class="col-md-8 text-left">
              <div class="row">
                <div class="col-md-12">
                  <div class="imgOnLeave"></div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-12">
                  <label class="mb-0" style="font-size: 0.9em;">ON LEAVE - TODAY</label>
                </div>
              </div>
            </div>
            <div class="col-md-4 text-right">
              <div class="row">
                <div class="col-md-12">
                  <label class="pt-1" style="font-size: 2.5em;">4</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="bgWhite boxShadow">
          <div class="row p-4">
            <div class="col-md-7 text-left">
              <div class="row">
                <div class="col-md-12">
                  <div class="imgContract"></div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-12">
                  <label class="mb-0" style="font-size: 0.9em;">CONTRACT/PERMANENT</label>
                </div>
              </div>
            </div>
            <div class="col-md-5 text-right">
              <div class="row">
                <div class="col-md-12">
                  <label class="pt-1" style="font-size: 2.5em;">5/25</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="bgWhite boxShadow">
          <div class="row p-4">
            <div class="col-md-8 text-left">
              <div class="row">
                <div class="col-md-12">
                  <div class="imgJobOpen"></div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-12">
                  <label class="mb-0" style="font-size: 0.9em;">JOB OPENINGS</label>
                </div>
              </div>
            </div>
            <div class="col-md-4 text-right">
              <div class="row">
                <div class="col-md-12">
                  <label class="pt-1" style="font-size: 2.5em;">4</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="bgWhite boxShadow">
          <div class="row p-4">
            <div class="col-md-9 text-left">
              <div class="row">
                <div class="col-md-12">
                  <div class="imgAppReceive"></div>
                </div>
              </div>
              <div class="row mt-1">
                <div class="col-md-12">
                  <label class="mb-0" style="font-size: 0.9em;">APPLICATION RECEIVED</label>
                </div>
              </div>
            </div>
            <div class="col-md-3 text-right">
              <div class="row">
                <div class="col-md-12">
                  <label class="pt-1" style="font-size: 2.5em;">2</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <div class="bgWhite pt-2" style="height: 350px;" [chart]="Variablepie_Chart"></div>
      </div>
      <div class="col-md-6">
        <div class="bgWhite pt-2" style="height: 350px;" [chart]="Variablepie_Chart"></div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <div class="bgWhite" style="height: 350px;" [chart]="Column_Chart"></div>
      </div>
      <div class="col-md-6">
        <div class="bgWhite" style="height: 350px;" [chart]="StackColumn_Chart"></div>
      </div>
    </div>
  </div>

</div>
