ul{
    border: 0px solid green;
    list-style-type: none;
    padding: 5px 0 0 10px;
}

li{
    border-bottom: 1px solid #cccccc;
    padding: 10px 0 0 0;
}

h5{
    padding-top: 13px;
    font-size: 15px;
    font-weight: bold;
}