<div class="loginbody">
    <div class="loginPanel ">
  
      <div class="row" style="border:2px soild red;">
        <div class="col-md-12 text-center">
          <img class="mx-auto d-block" src="../assets/images/Ambit-Logo.svg" alt="" width="150em" height="150em">
        </div>
        <div class="col-md-12 text-center">
          <div class="hLogin">
            Empowered by Innovation
          </div>
        </div>
      </div>
  
      <div class="h-100 row">
        <div class="offset-md-1 col-md-10">
          <div class="row">
            <div class="col-md-12 text-center">
              <label style="color: #263e98">RESET PASSWORD</label>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class='fullwidth' appearance="legacy">
                <mat-label class="inputLabel">
                  Enter new password *
                </mat-label>
                <input matInput id="txtUserName" class='loginInput' [(ngModel)]="txtUserName" autofocus>
                <mat-icon matSuffix color="primary">
                  <i class='fa icon-new-user'></i>
                </mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class='fullwidth' appearance="legacy">
                <mat-label class="inputLabel">
                  Confirm new password *
                </mat-label>
                <input id="txtPassword" type="password" matInput class='loginInput' [(ngModel)]="txtPassword" (keypress)="getKeyPressed($event)" >
                <mat-icon matSuffix color="primary">
                  <i class='fa icon-cnfrm-password'></i>
                </mat-icon>
              </mat-form-field>
            </div>
          </div>
          <br />
          <button mat-raised-button class="fullwidth forgotButton" color="primary" (click)="onSubmit()">
            SAVE PASSWORD
          </button>

        </div>
      </div> <br />
      
    </div>
    <!--start shadow  div-->
    <div id="boxBottomBorder">    
    </div>
    <!--end shadow  div-->
  
  </div><!-- end main class -->
  
  <!--start infovative logo row-->
  <div class="row">
    <div class="offset-md-10 col-md-2" style="position: fixed; bottom: 0.5em; right: -2em;">
        <img class="mx-auto d-block text-right" src="../../../assets/images/PoweredBy.svg" alt="" width="140em">
    </div>
  </div>
  <!--end infovative logo row-->
  
  <!--start copyright div-->
  <div class="copyRight">
    Copyright &copy; AMBIT. All rights reserved.
  </div>
  <!--end copyright div-->
  
  
  <!-- Start forgot password Modal Window -->
  <div class="modal fade modal-forgot" id="forgotModal">
    <div class="modal-dialog shadow-lg-dark modal-lg" style="width: 600px;">
      <div class="modal-content">
  
        <!--start Modal body -->
        <div class="modal-body" style="background-color: #6c81f8">
          <br/>
          <!--start 1st row-->
          <div class="row">
            <div class="col-md-8"><br/>
                <h4 class="fontWhite">
                  Hi Amir!
                </h4><br/>
              <p class="fontWhite">
                You have successfully updated<br/>
                your password. Click the button<br/>
                below to proceed signing in.<br/>
              </p>
            </div>
            <div class="col-md-4 text-center" style="bottom: -2em; right: 3em;">
              <img class="mx-auto d-block text-right" src="../../../assets/images/ResetPassword-Large.svg" alt="" width="180em">
            </div>
          </div>
          <!--end 1st row-->
          <br/><br/>
          <!--start 2nd row-->
          <div class="row">
            <div class="col-md-4" style="margin-top: -8%">
              <button type="button" class="btn-border cursorPointer text-center" 
                routerLink='' style="margin: 0; width: 120%;">
                BACK TO LOGIN
              </button>
            </div>
            <div class=" offset-md-2 col-md-6 text-center fontWhite">
              <h5>
                PASSWORD CHANGED
              </h5>
            </div>
          </div>
          <!--end 2nd row-->
          <br/>
        </div>
        <!--end Modal body -->
  
      </div>
    </div>
  </div>
  <!-- End forgot password Modal Window -->