<!-- start menubar buttons -->
<div class="topnav boxShadow">
  <div>
    <!--class="container" -->
    <span class="fa iconContainer">
      <span class="fa icon-hr-employeeprofile"> </span>
    </span>
    <h1> Employee Profile</h1>

    <!-- (click)="downloadExcel()" -->
    <a class="pointerCursor" (click)="downloadExcel()">
      <i class="fa fa-file-excel-o"></i>
      Excel
    </a>

    <!-- (click)="downloadCSV()" -->
    <a class="pointerCursor" (click)="downloadCSV()">
      <i class="fa fa-file-text-o"></i>
      CSV
    </a>

    <!-- (click)="downPDF()" -->
    <a class="pointerCursor" (click)="downloadPDF()">
      <i class="fa fa-file-pdf-o"></i>
      PDF
    </a>

    <!-- (click)="printDiv()" -->
    <a class="pointerCursor" (click)="printDiv()">
      <i class="fa fa-print"></i>
      Print
    </a>

    <!-- <a class="pointerCursor" data-toggle="modal" data-target="#profileModal" (click)="clear()">
        <i class="fa fa-plus-square"></i>
        Add New
      </a> -->

  </div>
</div>
<!-- end menubar buttons -->


<div class="myContainer mat-elevation-z8 bgWhite">

  <!--Start search textbox Row-->
  <div class="row tab-margin">
    <div class="col-md-12">
      <mat-form-field class="fullwidth">
        <input matInput [(ngModel)]="tblSearch" placeholder="Search">
      </mat-form-field>
      <span class="fab fa-accessible-icon"></span>
    </div>
  </div>
  <!--end search textbox Row-->

  <!--start table row-->
  <div class="example-container">
    <div class="example-table-container">
      <table class="table table-striped">
        <thead>
          <tr class='d-flex'>
            <th class='col-1 text-center'>Sr #</th>
            <th class='col-3'>Employee Name</th>
            <th class='col-2'>Job Profile</th>
            <th class='col-2'>Office</th>
            <th class='col-2'>Department</th>
            <th class='col-1 text-center'>Edit</th>
            <th class='col-1 text-center'>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of employeeListMain | search:'UserName,Email': tblSearch | paginate: {
            itemsPerPage: itemPerPage, currentPage: p } | orderBy: order:reverse:'case-insensitive' let i=index"
            class='d-flex'>
            <td class='col-1 text-center'>{{i + 1}}</td>
            <td class='col-3'>{{item.indvdlFullName}}</td>
            <td class='col-2'>{{item.jobDesigName}}</td>
            <td class='col-2'>{{item.locationName}}</td>
            <td class='col-2'>{{item.deptName}}</td>
            <td class='col-1 text-center'>
              <span class="fa fa-edit pointerCursor" data-toggle="modal" data-target="#employeeModal"
                (click)="edit(item)"></span>
            </td>
            <td class='col-1 text-center'>
              <span class="fa fa-trash pointerCursor"></span>
              <!-- data-toggle="modal" data-target="#deleteModal" -->
            </td>
          </tr>


        </tbody>
      </table>
    </div>

    <div class="row tab-margin">
      <div class="col-md-10">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
      <div class="col-md-2 text-right">
        <mat-form-field class="fullwidth pagenateList">
          <mat-select placeholder="Items Per Page" [(ngModel)]="itemPerPage">
            <mat-option value="10">10</mat-option>
            <mat-option value="15">15</mat-option>
            <mat-option value="20">20</mat-option>
            <mat-option value="25">25</mat-option>
            <mat-option value="30">30</mat-option>
            <mat-option value="35">35</mat-option>
            <mat-option value="40">40</mat-option>
            <mat-option value="45">45</mat-option>
            <mat-option value="50">50</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

  </div>
  <!--end table row-->
</div>
<!--end container -->


<br />


<!-- Hidden Table for Print and PDF files starts-->
<div class="container printArea" id="printArea" [hidden]=true>
  <div class="printDiv">

    <!--Start heading table -->
    <table>
      <tr>
        <td width="15%" style="border:none;">
          <img src="../../../assets/images/Ambit-Logo.svg" width="135px">
        </td>

        <td style="border:none;">
          <div class="commonCss cssHeading">Infovative Solutions</div>
          <div class="commonCss cssAddress">Office #209, 3rd Floor Anayat Plaza, G11 Markaz Islamabad.</div>
          <div class="commonCss cssContact">Mobile: 0313-1234567, Ph. 051-5544661</div>
        </td>
      </tr>
    </table>
    <!--End heading table -->

    <br /><br />

    <!--Start table Row-->
    <div class="row">
      <table>
        <thead>
          <tr>
            <th>Sr #</th>
            <th>Employee Name</th>
            <th>Job Profile</th>
            <th>Office</th>
            <th>Department</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of employeeListMain | search:'indvdlFullName,jobDesigName,locationName,deptName' :tblSearch  let i=index">
            <td>{{i+1}}</td>
            <td>{{item.indvdlFullName}}</td>
            <td>{{item.jobDesigName}}</td>
            <td>{{item.locationName}}</td>
            <td>{{item.deptName}}</td>
          </tr>
        </tbody>
      </table>
    </div><!-- end table row -->
  </div>
</div>
<!-- Hidden Table for Print and PDF files ends-->

<!-- Hidden Table Starts for Excel and CSV files -->
<igx-grid #excelDataContent [data]="excelDataList" [autoGenerate]="false" height="null" width="null" [hidden]="true">
</igx-grid>
<!-- Hidden Table Ends  for Excel and CSV files -->



<!--bootstrap modal window -->
<!-- Start Modal Window -->
<div class="modal fade" id="employeeModal">
  <div class="modal-dialog shadow-lg-dark modal-xl">
    <div class="modal-content">

      <!--start Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Employee Information</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!--end Modal Header -->

      <!--start Modal body -->
      <div class="modal-body">


        <!--Start Tabs  -->
        <mat-tab-group>
          <!--start tab 1-->
          <mat-tab label="Personal Detail">

            <br />
            <!--start heading-->
            <h5>Personal Detail</h5>
            <!--end heading-->

            <!-- start row 1-->
            <div class="row tab-margin">
              <div class="col-md-6">
                <mat-form-field class="fullwidth">
                  <input matInput placeholder="First Name" [(ngModel)]="firstName" (keydown)="generateFullName()"
                    (keyup)="generateFullName()">
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field class="fullwidth">
                  <input matInput placeholder="Mid Name" [(ngModel)]="midName" (keydown)="generateFullName()"
                    (keyup)="generateFullName()">
                </mat-form-field>
              </div>
            </div>
            <!-- end row 1-->



            <!-- start row 2-->
            <div class="row tab-margin">
              <div class="col-md-6">
                <mat-form-field class="fullwidth">
                  <input matInput placeholder="Last Name" [(ngModel)]="lastName" (keydown)="generateFullName()"
                    (keyup)="generateFullName()">
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field class="fullwidth">
                  <input matInput placeholder="Full Name" [(ngModel)]="fullName" disabled>
                </mat-form-field>
              </div>
            </div>
            <!-- end row 2-->



            <!-- start row 3-->
            <div class="row tab-margin">
              <div class="col-md-6">
                <mat-form-field class="fullwidth">
                  <input matInput placeholder="Father/Husband Name" [(ngModel)]="fhName">
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field class="fullwidth">
                  <input matInput placeholder="CNIC" [(ngModel)]="CNIC">
                </mat-form-field>
              </div>
            </div>
            <!-- end row 3-->



            <!-- start row 4-->
            <div class="row tab-margin">
              <!-- <div class="col-md-6">
                <mat-form-field>
                  <mat-select placeholder="Domicile">
                    <mat-option value="1">Yes</mat-option>
                    <mat-option value="2">No</mat-option>
                  </mat-select>
                </mat-form-field>
              </div> -->

              <!-- <div class="col-md-6">
                <mat-form-field>
                  <input matInput placeholder="Religion" [(ngModel)]="religion">
                </mat-form-field>
              </div> -->
            </div>
            <!-- end row 4-->



            <!-- *________________Start Add Address Detail_____________________ -->
            <div class="tab-margin">

              <div class="row">
                <div class="col-md-12">
                  <h6>Address Info</h6>
                </div>
              </div>

              <div *ngFor="let item of addressDetail; let i=index">
                <div class="row">
                  <table>
                    <tr>

                      <!--address type combo box-->
                      <td style="padding:0 15px 0 15px; width: 200px;">
                        <p-dropdown [options]="addressType" filter="true" [(ngModel)]="item.addressType"
                          placeholder="Address Type" required>
                          <ng-template let-itm pTemplate="item">
                            <div style="position: relative;height: 25px;">
                              <div style="font-size:14px;float:left;margin-top:4px;">{{itm.label}}</div>
                            </div>
                          </ng-template>
                        </p-dropdown>

                      </td>

                      <!--address text box-->
                      <td colspan="3">
                        <!-- [showMaskTyped]="true" required -->
                        <input class="" type="text" pInputText [(ngModel)]="item.address" placeholder="Address"
                          style="width: 100%;">
                      </td>

                      <td rowspan="2" style="padding:0 0 5px 15px; width: 55px;">
                        <button mat-fab color="warn" (click)="removeAddress(i)">
                          <span class="fa fa-minus"></span>
                        </button>
                      </td>

                    </tr>

                    <!-- Country Province City District -->
                    <tr>
                      <!-- Country -->
                      <td style="padding:8px 15px 8px 15px; width: 200px;">
                        <p-dropdown [options]="countryListForAddress" filter="true" [(ngModel)]="item.countryCode"
                          placeholder="Select Country" required>
                          <ng-template let-itm pTemplate="item">
                            <div style="position: relative;height: 25px;">
                              <div style="font-size:14px;float:left;margin-top:4px;">{{itm.label}}</div>
                            </div>
                          </ng-template>
                        </p-dropdown>
                      </td>

                      <!-- Province -->
                      <td>
                        <p-dropdown [options]="provinceList" filter="true" [(ngModel)]="item.provinceCode"
                          placeholder="Select Province" required>
                          <ng-template let-itm pTemplate="item">
                            <div style="position: relative;height: 25px;">
                              <div style="font-size:14px;float:left;margin-top:4px;">{{itm.label}}</div>
                            </div>
                          </ng-template>
                        </p-dropdown>
                      </td>

                      <!-- District -->
                      <td>
                        <p-dropdown [options]="districtList" filter="true" [(ngModel)]="item.districtCode"
                          placeholder="Select District" required>
                          <ng-template let-itm pTemplate="item">
                            <div style="position: relative;height: 25px;">
                              <div style="font-size:14px;float:left;margin-top:4px;">{{itm.label}}</div>
                            </div>
                          </ng-template>
                        </p-dropdown>
                      </td>

                      <!-- City -->
                      <td>
                        <p-dropdown [options]="cityList" filter="true" [(ngModel)]="item.cityCode"
                          placeholder="Select City" required>
                          <ng-template let-itm pTemplate="item">
                            <div style="position: relative;height: 25px;">
                              <div style="font-size:14px;float:left;margin-top:4px;">{{itm.label}}</div>
                            </div>
                          </ng-template>
                        </p-dropdown>
                      </td>
                    </tr>

                  </table>

                </div>
              </div>


              <!--Add more Contact button-->
              <div class="row">
                <div class="col-md-3">
                  <button mat-fab color="primary" (click)="addAddress()">
                    <span class="fa fa-plus"></span>
                  </button>
                </div>
              </div>
              <br />
            </div>
            <!-- *________________End Add Address Detail_____________________ -->



            <!-- *________________Start Add Contacts Detail_____________________ -->
            <div class="tab-margin">

              <div class="row">
                <div class="col-md-12">
                  <h6>Contact Info</h6>
                </div>
              </div>

              <div *ngFor="let item of contactDetail; let i=index" class="tab-margin">
                <div class="row">
                  <table bordre="1">
                    <tr>

                      <!--contact type text box-->
                      <td style="border: 0px solid red; padding:0 15px 0 15px;">
                        <p-dropdown [options]="contactType" filter="true" [(ngModel)]="item.contactType"
                          placeholder="Contact Type" required>
                          <ng-template let-itm pTemplate="item">
                            <div style="position: relative;height: 25px;">
                              <div style="font-size:14px;float:left;margin-top:4px;">{{itm.label}}</div>
                            </div>
                          </ng-template>
                        </p-dropdown>

                      </td>

                      <!-- Country code combo box-->
                      <td style="border: 0px solid red;">

                        <p-dropdown [options]="countryList" filter="true" [(ngModel)]="item.countryCode"
                          placeholder="Country Code" required>
                          <ng-template let-code pTemplate="item">
                            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                              <div style="font-size:14px;float:left;margin-top:4px">{{code.label}}</div>
                            </div>
                          </ng-template>
                        </p-dropdown>

                      </td>

                      <!--Contact code combobox -->
                      <td colspan="2" style="border: 0px solid red;">
                        <input type="text" pInputText [(ngModel)]="item.contactNumber" placeholder="Number"
                          mask="0000000000" style="width: 100%">
                      </td>
                      <!-- <td colspan="2" style="border: 0px solid red; width: 150px;" *ngIf="item.areaCode">
                          <input type="text" pInputText [(ngModel)]="item.contactNumber" placeholder="Number"
                            mask="00-0000000" style="width: 100%">
                        </td>
  
                        <td colspan="2" style="border: 0px solid red; width: 150px;" *ngIf="item.mobileCode">
                          <input type="text" pInputText [(ngModel)]="item.mobileNumber" placeholder="Number"
                            mask="000-0000000" style="width: 100%">
                        </td> -->

                      <!--Remove button -->
                      <td style="border: 0px solid red; padding:0 0 5px 15px; width: 55px;">
                        <button mat-fab color="warn" (click)="removeContact(i)">
                          <span class="fa fa-minus"></span>
                        </button>
                      </td>


                    </tr>
                  </table>

                </div>
              </div>

              <!--Add more Contact button-->
              <div class="row tab-margin">
                <div class="col-md-3">
                  <button mat-fab color="primary" (click)="addContact()">
                    <span class="fa fa-plus"></span>
                  </button>
                </div>
              </div>
              <br />
            </div>
            <!-- *________________End Add Contacts Detail_____________________ -->



            <!-- *________________Start Add Email Detail_____________________ -->
            <div class="tab-margin">

              <div class="row">
                <div class="col-md-12">
                  <h6>Email Info</h6>
                </div>
              </div>


              <div *ngFor="let item of emailDetail; let i=index">
                <div class="row">
                  <table>
                    <tr>

                      <!--address type combo box-->
                      <td style="border: 0px solid red; padding:0 15px 0 15px; width: 200px;">
                        <p-dropdown [options]="emailType" filter="true" [(ngModel)]="item.type" placeholder="Email Type"
                          required>
                          <ng-template let-itm pTemplate="item">
                            <div style="position: relative;height: 25px;">
                              <div style="font-size:14px;float:left;margin-top:4px;">{{itm.label}}</div>
                            </div>
                          </ng-template>
                        </p-dropdown>

                      </td>

                      <!--address text box-->
                      <td>
                        <!-- [showMaskTyped]="true" required -->
                        <input class="" type="text" pInputText [(ngModel)]="item.email" placeholder="Email"
                          style="width: 100%;">
                      </td>

                      <td style="border: 0px solid red; padding:0 0 5px 15px; width: 55px;">
                        <button mat-fab color="warn" (click)="removeEmail(i)">
                          <span class="fa fa-minus"></span>
                        </button>
                      </td>

                    </tr>
                  </table>

                </div>
                <!-- Contact Table Ends -->

                <!-- Contact Number Section Ends -->

              </div>

              <!--Add more email button-->
              <div class="row">
                <div class="col-md-3">
                  <button mat-fab color="primary" (click)="addEmail()">
                    <span class="fa fa-plus"></span>
                  </button>
                </div>
              </div>
            </div>
            <!-- *________________End Add Email Detail_____________________ -->



            <!-- start row 9-->
            <div class="row tab-margin">
              <div class="col-md-6">
                <br />
                <button mat-raised-button color="primary" (click)="updateEmpPersonalInfo()"> Save </button>
              </div>
            </div>
            <!-- end row 9-->


          </mat-tab>
          <!--end tab 1-->


          <!--start tab 2 ---------------------------------------------------------- -->
          <mat-tab label="Job Profile">

            <br />
            <!--start heading-->
            <h5>Job Profile</h5>
            <!--end heading-->

            <!--start row 1-->
            <div class="row tab-margin">
              <div class="col-md-6">
                <p-dropdown [options]="jobProfileList" [(ngModel)]="ddlJobProfile" (onChange)="getFilterItem('jobs')"
                  placeholder="Job Title" filter="true" [style]="{'width':'100%'}">
                  <ng-template let-itm pTemplate="item">
                    <div style="position: relative;height: 25px; z-index: 100;">
                      <div style="font-size:14px;float:left;margin-top:4px;">{{itm.label}}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </div>

            </div>
            <!-- end row 1-->

            <br />

            <!--start row 2-->
            <div class="row tab-margin">
              <div class="col-md-3">
                <b>Job Title</b>
              </div>

              <div class="col-md-3">
                {{lblJobTitle}}
              </div>

              <div class="col-md-3">
                <b>Scale</b>
              </div>

              <div class="col-md-3">
                {{lblBPS}}
              </div>
            </div>
            <!-- end row 2-->

            <br />

            <!--start row 3-->
            <div class="row tab-margin">
              <div class="col-md-3">
                <b>Office</b>
              </div>

              <div class="col-md-3">
                {{lblOffice}}
              </div>

              <div class="col-md-3">
                <b>Department</b>
              </div>

              <div class="col-md-3">
                {{lblDepartment}}
              </div>
            </div>
            <!-- end row 3-->


            <!--start row 4-->
            <div class="row tab-margin">
              <div class="col-md-3">
                <br />
                <b>Appointment Date</b>
              </div>

              <div class="col-md-3">
                <br />
                {{lblAppointmentDate | date}}
              </div>

              <div class="col-md-6">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Joining Date" [(ngModel)]="startDate">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <!--end row 4-->

            <!--start row 5-->
            <div class="row tab-margin">
              <div class="col-md-3">
                <b>Job Type</b>
              </div>

              <div class="col-md-3">
                {{lblJobType}}
              </div>

              <div class="col-md-3">
                {{lblRetirementDate | date}}
              </div>

              <div class="col-md-3">
                {{lblContract}}
              </div>
            </div>
            <!--end row 5-->

            <br />

            <!--start row 6-->
            <div class="row tab-margin">
              <div class="col-md-6">
                <button mat-raised-button color="primary" (click)="updateProfile()"> Update </button>
              </div>
            </div>
            <!--end row 6-->
          </mat-tab>
          <!--start tab 2-->



          <!--start tab 3 ---------------------------------------------------------- -->
          <mat-tab label="Qualification Detail">

            <br />
            <!--start heading-->
            <h5>Qualification Detail</h5>
            <!--end heading-->

            <!--Start row 1-->
            <div class="row tab-margin">
              <div class="col-md-12">
                <!--start table row-->
                <div class="example-container mat-elevation-z8">
                  <div class="example-table-container">
                    <table class="table table-striped">
                      <thead>
                        <tr class='d-flex'>
                          <th class='col-1'>Sr #</th>
                          <th class='col-2'>Degree Title</th>
                          <th class='col-2'>Institute</th>
                          <th class='col-2'>Passing Date</th>
                          <th class='col-2'>Grade</th>
                          <th class='col-2'>Doc.</th>
                          <th class='col-1 text-center'>Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of empDegreeList; let i=index" class='d-flex'>
                          <td class='col-1 text-center'>{{i+1}}</td>
                          <td class='col-2'>{{item.degree}}</td>
                          <td class='col-2'>{{item.CampusName}}</td>
                          <td class='col-2'>{{item.PssngDt | date}}</td>
                          <td class='col-2'>{{item.Grade}}</td>
                          <td class='col-2'>{{item.DivIsion}}</td>
                          <td class='col-1 text-center'>
                            <span class="fa fa-minus pointerCursor" (click)="removeQualification(i)"></span>
                          </td>
                        </tr>

                        <tr class='d-flex'>
                          <td class='col-3'>
                            <p-dropdown [options]="degreeList" filter="true" [(ngModel)]="ddlDegree"
                              (onChange)="getFilterItem('skill')" placeholder="Degree" [style]="{'width':'100%'}">
                              <ng-template let-itm pTemplate="item">
                                <div style="position: relative;height: 25px;">
                                  <div style="font-size:14px;float:left;margin-top:4px;">{{itm.label}}</div>
                                </div>
                              </ng-template>
                            </p-dropdown>
                          </td>
                          <td class='col-2'>
                            <input type="text" pInputText [(ngModel)]="empInstitute" class="fullwidth"
                              placeholder="Institute">
                          </td>
                          <td class='col-2'>
                            <p-calendar [(ngModel)]="empDegreeYear" placeholder="Year"></p-calendar>
                          </td>
                          <td class='col-2'>
                            <p-dropdown [options]="gradeList" filter="true" [(ngModel)]="ddlGrade" placeholder="Grade"
                              [style]="{'width':'100%'}">
                              <ng-template let-itm pTemplate="item">
                                <div style="position: relative;height: 25px;">
                                  <div style="font-size:14px;float:left;margin-top:4px;">{{itm.label}}</div>
                                </div>
                              </ng-template>
                            </p-dropdown>
                          </td>
                          <td class='col-2'>
                            <p-dropdown [options]="divisionList" filter="true" [(ngModel)]="ddlDivision"
                              placeholder="Division" [style]="{'width':'100%'}">
                              <ng-template let-itm pTemplate="item">
                                <div style="position: relative;height: 25px;">
                                  <div style="font-size:14px;float:left;margin-top:4px;">{{itm.label}}</div>
                                </div>
                              </ng-template>
                            </p-dropdown>
                          </td>
                          <td class='col-1 text-center'>
                            <span class="fa fa-plus pointerCursor" (click)="addQualification()"></span>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
                <!--end table row-->
              </div>
            </div>
            <!--end row 1-->

            <!--start row 2-->
            <div class="row tab-margin">
              <div class="col-md-6">
                <br /><br /><br /><br><br /><br /><br /><br /><br><br />
                <button mat-raised-button color="primary" (click)="updateQualification()"> Update </button>
              </div>
            </div>
            <!--end row 2-->
          </mat-tab>
          <!--End tab 3-->


          <!--start tab 4 ---------------------------------------------------------- -->
          <mat-tab label="Skill Detial">

            <br />
            <!--start heading-->
            <h5>Skills Detail</h5>
            <!--end heading-->

            <!--Start row 1-->
            <div class="row tab-margin">
              <div class="col-md-12">
                <!--start table row-->
                <div class="example-container mat-elevation-z8">
                  <div class="example-table-container">
                    <table class="table table-striped">
                      <thead>
                        <tr class='d-flex'>
                          <th class='col-1 text-center'>Sr #</th>
                          <th class='col-2'>Grouping</th>
                          <th class='col-3'>Skill</th>
                          <th class='col-2'>Level</th>
                          <th class='col-3'>Remarks</th>
                          <th class='col-1 text-center'>Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of empSkillList; let i=index" class='d-flex'>
                          <td class='col-1 text-center'>{{i + 1}}</td>
                          <td class='col-2'>{{item.group}}</td>
                          <td class='col-3'>{{item.skill}}</td>
                          <td class='col-2'>{{item.SkillLvl}}</td>
                          <td class='col-3'>{{item.SkillRmrks}}</td>
                          <td class='col-1 text-center'>
                            <span class="fa fa-minus pointerCursor" (click)="removeSkill(i)"></span>
                          </td>
                        </tr>

                        <tr class='d-flex'>
                          <td class='col-3'>
                            <p-dropdown [options]="skillGroupList" filter="true" [(ngModel)]="ddlSkillGroup"
                              (onChange)="getFilterItem('skill')" placeholder="Group" [style]="{'width':'100%'}">
                              <ng-template let-itm pTemplate="item">
                                <div style="position: relative;height: 25px;">
                                  <div style="font-size:14px;float:left;margin-top:4px;">{{itm.label}}</div>
                                </div>
                              </ng-template>
                            </p-dropdown>
                          </td>
                          <td class='col-3'>
                            <p-dropdown [options]="skillList" filter="true" [(ngModel)]="ddlSkill" placeholder="Skill"
                              [style]="{'width':'100%'}">
                              <ng-template let-itm pTemplate="item">
                                <div style="position: relative;height: 25px;">
                                  <div style="font-size:14px;float:left;margin-top:4px;">{{itm.label}}</div>
                                </div>
                              </ng-template>
                            </p-dropdown>
                          </td>
                          <td class='col-2'>
                            <input type="number" pInputText [(ngModel)]="empSkillLevel" min="1" max="10"
                              placeholder="Level" class="fullwidth">
                          </td>
                          <td class='col-3'>
                            <input type="text" pInputText [(ngModel)]="empSkillRemarks" class="fullwidth"
                              placeholder="Remarks">
                          </td>
                          <td class='col-1 text-center'>
                            <span class="fa fa-plus pointerCursor" (click)="addSkill()"></span>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
                <!--end table row-->
              </div>
            </div>
            <!--end row 1-->

            <!--start row 2-->
            <div class="row tab-margin">
              <div class="col-md-6">
                <br /><br /><br /><br><br /><br /><br /><br /><br><br />
                <button mat-raised-button color="primary" (click)="updateSkills()"> Update </button>
              </div>
            </div>
            <!--end row 2-->

          </mat-tab>
          <!--end tab 4-->



          <!--start tab 5 ---------------------------------------------------------- -->
          <mat-tab label="Previous Service Detail">

            <br />
            <!--start heading-->
            <h5>Previous Service Detail</h5>
            <!--end heading-->

            <!--Start row 1-->
            <div class="row tab-margin">
              <div class="col-md-12">
                <!--start table row-->
                <div class="example-container mat-elevation-z8">
                  <div class="example-table-container">
                    <table class="table table-striped">
                      <thead>
                        <tr class='d-flex'>
                          <th class='col-1 text-center'>Sr #</th>
                          <th class='col-3'>Post</th>
                          <th class='col-3'>Organization</th>
                          <th class='col-2'>From</th>
                          <th class='col-2'>To</th>
                          <th class='col-1 text-center'>Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of empOrgList; let i=index" class='d-flex'>
                          <td class='col-1 text-center'>{{i+1}}</td>
                          <td class='col-2'>{{item.Post}}</td>
                          <td class='col-3'>{{item.OrgName}}</td>
                          <td class='col-3'>{{item.StartDt | date}}</td>
                          <td class='col-2'>{{item.LeavingDt | date}}</td>
                          <td class='col-1 text-center'>
                            <span class="fa fa-minus pointerCursor" (click)="removePSD(i)"></span>
                          </td>
                        </tr>

                        <tr class='d-flex'>
                          <td class='col-1'></td>
                          <td class='col-3'>
                            <input type="text" pInputText [(ngModel)]="empPost" class="fullwidth" placeholder="Post">
                          </td>
                          <td class='col-3'>
                            <p-dropdown [options]="orgList" filter="true" [(ngModel)]="ddlOrg"
                              placeholder="Organization" [style]="{'width':'100%'}">
                              <ng-template let-itm pTemplate="item">
                                <div style="position: relative;height: 25px;">
                                  <div style="font-size:14px;float:left;margin-top:4px;">{{itm.label}}</div>
                                </div>
                              </ng-template>
                            </p-dropdown>
                          </td>
                          <td class='col-2'>
                            <p-calendar [(ngModel)]="orgStartDate" placeholder="Job Start Date"></p-calendar>
                          </td>
                          <td class='col-2'>
                            <p-calendar [(ngModel)]="orgEndDate" placeholder="Job End Date"></p-calendar>
                          </td>
                          <td class='col-1 text-center'>
                            <span class="fa fa-plus pointerCursor" (click)="addPSD()"></span>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
                <!--end table row-->
              </div>
            </div>
            <!--end row 1-->

            <!--start row 2-->
            <div class="row tab-margin">
              <div class="col-md-6">
                <br /><br /><br /><br><br /><br /><br /><br /><br><br />
                <button mat-raised-button color="primary" (click)="updatePSD()"> Update </button>
              </div>
            </div>
            <!--end row 2-->

          </mat-tab>
          <!--end tab 5-->



          <!--start tab 6 ---------------------------------------------------------- -->
          <mat-tab label="Asset Declaration">

            <br />
            <!--start heading-->
            <h5>Asset Declaration</h5>
            <!--end heading-->

            <!--Start row 1-->
            <div class="row tab-margin">
              <div class="col-md-12">
                <!--start table row-->
                <div class="example-container mat-elevation-z8">
                  <div class="example-table-container">
                    <table class="table table-striped">
                      <thead>
                        <tr class='d-flex'>
                          <th class='col-1'>Sr #</th>
                          <th class='col-7'>Year</th>
                          <th class='col-2'>Submited</th>
                          <th class='col-2 text-center'>Details</th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- <tr *ngFor="let item of userDetail | search:'UserName,Email': query" class='d-flex'> -->
                        <tr class='d-flex'>
                          <td class='col-1'>1</td>
                          <td class='col-7'>2017</td>
                          <td class='col-2'>
                            <span class="fa fa-check"></span>
                          </td>
                          <td class='col-2 text-center'>
                            <span class="fa fa-file-text pointerCursor"></span>
                          </td>
                        </tr>

                        <tr class='d-flex'>
                          <td class='col-1'>2</td>
                          <td class='col-7'>2016</td>
                          <td class='col-2'>
                            <span class="fa fa-remove"></span>
                          </td>
                          <td class='col-2 text-center'>
                            <span class="fa fa-file-text pointerCursor"></span>
                          </td>
                        </tr>

                        <tr class='d-flex'>
                          <td class='col-1'>3</td>
                          <td class='col-7'>2015</td>
                          <td class='col-2'>
                            <span class="fa fa-check"></span>
                          </td>
                          <td class='col-2 text-center'>
                            <span class="fa fa-file-text pointerCursor"></span>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
                <!--end table row-->
              </div>
            </div>
            <!--end row 1-->
            <br />
          </mat-tab>
          <!--end tab 6-->



          <!--start tab 7 ---------------------------------------------------------- -->
          <mat-tab label="ACR">

            <br />
            <!--start heading-->
            <h5>ACR</h5>
            <!--end heading-->

            <!--Start row 1-->
            <div class="row tab-margin">
              <div class="col-md-12">
                <!--start table row-->
                <div class="example-container mat-elevation-z8">
                  <div class="example-table-container">
                    <table class="table table-striped">
                      <thead>
                        <tr class='d-flex'>
                          <th class='col-1'>Sr #</th>
                          <th class='col-3'>Year</th>
                          <th class='col-2'>Submited</th>
                          <th class='col-4'>Progress</th>
                          <th class='col-2 text-center'>Details</th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- <tr *ngFor="let item of userDetail | search:'UserName,Email': query" class='d-flex'> -->
                        <tr class='d-flex'>
                          <td class='col-1'>1</td>
                          <td class='col-3'>2017</td>
                          <td class='col-2'>
                            <span class="fa fa-check"></span>
                          </td>
                          <td class='col-4'>Good</td>
                          <td class='col-2 text-center'>
                            <span class="fa fa-file-text pointerCursor"></span>
                          </td>
                        </tr>

                        <tr class='d-flex'>
                          <td class='col-1'>2</td>
                          <td class='col-3'>2016</td>
                          <td class='col-2'>
                            <span class="fa fa-remove"></span>
                          </td>
                          <td class='col-4'>-</td>
                          <td class='col-2 text-center'>
                            <span class="fa fa-file-text pointerCursor"></span>
                          </td>
                        </tr>

                        <tr class='d-flex'>
                          <td class='col-1'>3</td>
                          <td class='col-3'>2015</td>
                          <td class='col-2'>
                            <span class="fa fa-check"></span>
                          </td>
                          <td class='col-4'>Avg.</td>
                          <td class='col-2 text-center'>
                            <span class="fa fa-file-text pointerCursor"></span>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
                <!--end table row-->
              </div>
            </div>
            <!--end row 1-->
            <br />
          </mat-tab>
          <!--end tab 7-->



          <!--start tab 8 ---------------------------------------------------------- -->
          <mat-tab label="Leave Info">

            <br />
            <!--start heading-->
            <h5>Leave Info</h5>
            <!--end heading-->

            <!--Start row 1-->
            <div class="row tab-margin">
              <div class="col-md-12">
                <!--start table row-->
                <div class="example-container mat-elevation-z8">
                  <div class="example-table-container">
                    <table class="table table-striped">
                      <thead>
                        <tr class='d-flex'>
                          <th class='col-1'>Sr #</th>
                          <th class='col-6'>Leave Type</th>
                          <th class='col-2'>Allowed</th>
                          <th class='col-2'>Used</th>
                          <th class='col-1 text-center'>Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- <tr *ngFor="let item of userDetail | search:'UserName,Email': query" class='d-flex'> -->
                        <tr class='d-flex'>
                          <td class='col-1'>1</td>
                          <td class='col-6'>Medical Leave</td>
                          <td class='col-2'>10</td>
                          <td class='col-2'>3</td>
                          <td class='col-1 text-center'>
                            <span class="fa fa-trash pointerCursor" data-toggle="modal"
                              data-target="#deleteModal"></span>
                          </td>
                        </tr>

                        <tr class='d-flex'>
                          <td class='col-1'>2</td>
                          <td class='col-6'>Casual Leave</td>
                          <td class='col-2'>10</td>
                          <td class='col-2'>2</td>
                          <td class='col-1 text-center'>
                            <span class="fa fa-trash pointerCursor" data-toggle="modal"
                              data-target="#deleteModal"></span>
                          </td>
                        </tr>

                        <tr class='d-flex'>
                          <td class='col-11'></td>
                          <td class='col-1 text-center'>
                            <span class="fa fa-plus pointerCursor"></span>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
                <!--end table row-->
              </div>
            </div>
            <!--end row 1-->
            <br />
          </mat-tab>
          <!--end tab 8-->


          <!--start tab 9 ---------------------------------------------------------- -->
          <mat-tab label="Facilities">

            <br />
            <!--start heading-->
            <h5>Facilities</h5>
            <!--end heading-->

            <!--Start row 1-->
            <div class="row tab-margin">
              <div class="col-md-12">
                <!--start table row-->
                <div class="example-container mat-elevation-z8">
                  <div class="example-table-container">
                    <table class="table table-striped">
                      <thead>
                        <tr class='d-flex'>
                          <th class='col-1 text-center'>Sr #</th>
                          <th class='col-10'>Description</th>
                          <th class='col-1 text-center'></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of empFacilityList; let i=index" class='d-flex'>
                          <td class='col-1 text-center'>{{i + 1}}</td>
                          <td class='col-10'>{{item.facilityName}}</td>
                          <td class='col-1 text-center'>
                            <!-- <span class="fa fa-trash pointerCursor" data-toggle="modal" data-target="#deleteModal"></span> -->
                          </td>
                        </tr>

                        <!-- <tr class='d-flex'>
                          <td class='col-11'></td> 
                          <td class='col-1 text-center'>
                            <span class="fa fa-plus pointerCursor"></span>
                          </td>
                        </tr> -->

                      </tbody>
                    </table>
                  </div>
                </div>
                <!--end table row-->
              </div>
            </div>
            <!--end row 1-->
            <br />
          </mat-tab>
          <!--Emd tab 9-->


        </mat-tab-group>
        <!-- End tabs -->

      </div>
      <!--end Modal body -->

      <!--start Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      <!--end Modal footer -->

    </div>
  </div>
</div>
<!-- End Modal Window  -->

<!-- Start Modal Window to delete leave rule -->
<div class="modal fade" id="deleteModal">
  <div class="modal-dialog shadow-lg-dark">
    <div class="modal-content">
      <!--start Modal body -->
      <div class="modal-body">
        <br>
        <div class="hidden" ngDefaultControl></div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-10">
            <h2>Delete Entry</h2>
          </div>
        </div><br />
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="fullwidth">
              <input matInput placeholder="Enter Password" type="password" [(ngModel)]="txtdPassword">
            </mat-form-field>
          </div>
        </div><br>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="fullwidth">
              <input matInput placeholder="Enter PIN" type="password" [(ngModel)]="txtdPin">
            </mat-form-field>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <button mat-raised-button color="warn" data-dismiss="modal">Delete</button>
          </div>
        </div>
        <br />
      </div>
      <!--end Modal body -->

      <!--start Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      <!--end Modal footer -->

    </div>
  </div>
</div>
<!-- End Modal Window to delete leave rule -->