<br />
<!-- start menubar buttons -->
<div class="myContainer mat-elevation-z8 bgWhite">
  <!--start top nav box shadow div-->
  <div class="topnav boxShadow">
    <!-- start heading & logo div-->
    <div>

      <span class="fa iconContainer">
        <span class="fa icon-hr-employee"></span>
      </span>
      <h1> Employee Information</h1>

      <!--start add role permission button-->
      <a class="pointerCursor" data-toggle="modal" data-target="#employeeModal">
        <i class="fa fa-plus-circle"></i>
        ADD EMPLOYEE
      </a>
      <!--end add role permission button-->
    </div>
    <!-- end heading & logo div-->
  </div>
  <!--end top nav box shadow div-->
</div>
<!-- end menubar buttons -->

<!--start myContainer div-->
<div class="myContainer">
  <!--Start 1st Row-->
  <div class="row">
    <!--start search textbox column-->
    <div class="col-md-12">
      <div class="searchBar border-bottom">
        <span class="fa icon-search"></span>
        <input class="noneOutLine menuSearchBox" type="text" maxlength="32" placeholder="Search"
          [(ngModel)]="tblSearch">
      </div>
    </div>
    <!--end search textbox column-->
  </div>
  <!--end 1st Row-->
  <br />
  <div class="row">
    <div class="col-md-3">
      <mat-card class="allBorder" style="border-radius: 0;">
        <div class="row">
          <div class="col-md-7">
            <label style="font-weight: bold;">Alia Khan</label>
            Accountant
            <div class="row">
              <div class="col-md-4">
                <label>Finance</label>
              </div>
              <div class="col-md-8">
                <label class="border-left">G-10 Branch</label>
              </div>
            </div>
            <div class="row" style="margin-top: -10px;">
              <div class="col-md-12">
                <label>Joining:Jan 20, 2010</label>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-6">
                <span class="fa tableIcon pointerCursor" data-toggle="modal" data-target="#employeeModal">
                  <span class="fa icon-u-edit"></span>
                </span>
              </div>
              <div class="col-md-6">
                <span class="fa tableIcon pointerCursor" data-toggle="modal" data-target="#employeeModal">
                  <span class="fa icon-u-delete"></span>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <br />
            <img src="../assets/images/Profile-Female.jpg" alt="" height="130px">
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card class="allBorder" style="border-radius: 0;">
        <div class="row">
          <div class="col-md-7">
            <label style="font-weight: bold;">Alia Khan</label>
            Accountant
            <div class="row">
              <div class="col-md-4">
                <label>Finance</label>
              </div>
              <div class="col-md-8">
                <label class="border-left">G-10 Branch</label>
              </div>
            </div>
            <div class="row" style="margin-top: -10px;">
              <div class="col-md-12">
                <label>Joining:Jan 20, 2010</label>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-6">
                <span class="fa tableIcon pointerCursor" data-toggle="modal" data-target="#employeeModal">
                  <span class="fa icon-u-edit"></span>
                </span>
              </div>
              <div class="col-md-6">
                <span class="fa tableIcon pointerCursor" data-toggle="modal" data-target="#employeeModal">
                  <span class="fa icon-u-delete"></span>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <br />
            <img src="../assets/images/Profile-Male.jpg" alt="" height="130px">
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card class="allBorder" style="border-radius: 0;">
        <div class="row">
          <div class="col-md-7">
            <label style="font-weight: bold;">Alia Khan</label>
            Accountant
            <div class="row">
              <div class="col-md-4">
                <label>Finance</label>
              </div>
              <div class="col-md-8">
                <label class="border-left">G-10 Branch</label>
              </div>
            </div>
            <div class="row" style="margin-top: -10px;">
              <div class="col-md-12">
                <label>Joining:Jan 20, 2010</label>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-6">
                <span class="fa tableIcon pointerCursor" data-toggle="modal" data-target="#employeeModal">
                  <span class="fa icon-u-edit"></span>
                </span>
              </div>
              <div class="col-md-6">
                <span class="fa tableIcon pointerCursor" data-toggle="modal" data-target="#employeeModal">
                  <span class="fa icon-u-delete"></span>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <br />
            <img src="../assets/images/Profile-Female.jpg" alt="" height="130px"></div>
        </div>
      </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card class="allBorder" style="border-radius: 0;">
        <div class="row">
          <div class="col-md-7">
            <label style="font-weight: bold;">Alia Khan</label>
            Accountant
            <div class="row">
              <div class="col-md-4">
                <label>Finance</label>
              </div>
              <div class="col-md-8">
                <label class="border-left">G-10 Branch</label>
              </div>
            </div>
            <div class="row" style="margin-top: -10px;">
              <div class="col-md-12">
                <label>Joining:Jan 20, 2010</label>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-6">
                <span class="fa tableIcon pointerCursor" data-toggle="modal" data-target="#employeeModal">
                  <span class="fa icon-u-edit"></span>
                </span>
              </div>
              <div class="col-md-6">
                <span class="fa tableIcon pointerCursor" data-toggle="modal" data-target="#employeeModal">
                  <span class="fa icon-u-delete"></span>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <br />
            <img src="../assets/images/Profile-Male.jpg" alt="" height="130px"></div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
<!--end myContainer div-->

<br />



<!-- Start Modal Window -->
<div class="modal fade" id="employeeModal">
  <div class="modal-dialog paddingZero marginZero shadow-lg-dark modal-xl">
    <div class="modal-content">

      <!--start Modal Header -->
      <div class="modal-header bg-white borderWhite5px">
        <h4 class="modal-title text-darkblue">Add Employee</h4>
        <div>
          <button type="button" class="btn-close cursorPointer" data-dismiss="modal"></button>
        </div>
      </div>
      <!--end Modal Header -->

      <!--start Modal body -->
      <div class="modal-body nopadding" style="overflow-y: hidden; overflow-x: hidden;">

        <!--Start Tabs  -->
        <mat-tab-group>
          <!--start tab 1-->
          <mat-tab label="PERSONAL DETAILS">
            <div class="bg-darkBlue">
              <div class="row mr-4">
                <div class="offset-md-1 col-md-9">
                  <label class="text-skyblue font15">
                    Tip: Save Personal Details before moving to next tab
                  </label>
                </div>
                <div class="col-md-1">
                  <button mat-raised-button class="btn" (click)="clear()" style="border-radius: 0;">RESET</button>
                </div>
                <div class="col-md-1">
                  <button mat-raised-button class="btn" (click)="updateEmpPersonalInfo()"
                    style="border-radius: 0;">&nbsp; SAVE &nbsp;</button>
                </div>
              </div>
            </div>
            <div class="bgWhite">
              <!-- start row 1-->
              <div class="row m-auto">
                <div class="offset-md-1 col-md-4 pl-0">
                  <mat-form-field class="fullwidth">
                    <input matInput placeholder="First Name*" [(ngModel)]="firstName" (keydown)="generateFullName()"
                      (keyup)="generateFullName()">
                  </mat-form-field>
                </div>

                <div class="offset-md-2 col-md-4 pr-0">
                  <mat-form-field class="fullwidth">
                    <input matInput placeholder="Middle Name" [(ngModel)]="midName" (keydown)="generateFullName()"
                      (keyup)="generateFullName()">
                  </mat-form-field>
                </div>
              </div>
              <!-- end row 1-->

              <!-- start row 2-->
              <div class="row m-auto">
                <div class="offset-md-1 col-md-4 pl-0">
                  <mat-form-field class="fullwidth">
                    <input matInput placeholder="Last Name*" [(ngModel)]="lastName" (keydown)="generateFullName()"
                      (keyup)="generateFullName()">
                  </mat-form-field>
                </div>

                <div class="offset-md-2 col-md-4 pr-0">
                  <mat-form-field class="fullwidth">
                    <input matInput placeholder="CNIC" [(ngModel)]="CNIC" mask="00000-0000000-0">
                  </mat-form-field>
                </div>
              </div>
              <!-- end row 2-->

              <div class="row m-auto">
                <div class="offset-md-1 col-md-4 pl-0">
                  <!-- <app-config-contact></app-config-contact> -->
                  <!-- <app-config-address></app-config-address> -->
                </div>
                <div class="offset-md-2 col-md-4 pr-0"></div>
              </div>
            </div>
            <!--start heading-->

          </mat-tab>
          <!--end tab 1-->

          <!--start tab 2 ---------------------------------------------------------- -->
          <mat-tab label="JOB PROFILE">
            <div class="bg-darkBlue">
              <div class="row mr-4">
                <div class="offset-md-1 col-md-9">
                  <label class="text-skyblue font15">
                    Tip: Save before moving to next tab
                  </label>
                </div>
                <div class="col-md-1">
                  <button mat-raised-button class="btn" (click)="clear()" style="border-radius: 0;">RESET</button>
                </div>
                <div class="col-md-1">
                  <button mat-raised-button class="btn" (click)="updateEmpPersonalInfo()"
                    style="border-radius: 0;">&nbsp; SAVE &nbsp;</button>
                </div>
              </div>
            </div>
            <div class="bgWhite">
              <div class="row m-auto">
                <div class="offset-md-1 col-md-4 pl-0">
                  <mat-form-field class="fullwidth">
                    <mat-select placeholder="Branch" [(ngModel)]="branch">
                      <mat-option *ngFor="let item of branchList" [value]="item.locationCd">
                        {{item.locationName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="offset-md-2 col-md-4 pr-0">
                  <mat-form-field class="fullwidth">
                    <mat-select placeholder="Department" [(ngModel)]="department">
                      <mat-option *ngFor="let item of deptList" [value]="item.deptCd">
                        {{item.deptName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row m-auto">
                <div class="offset-md-1 col-md-4 pl-0">
                  <mat-form-field class="fullwidth">
                    <mat-select placeholder="Section" [(ngModel)]="section">
                      <mat-option *ngFor="let item of sectList" [value]="item.deptCd">
                        {{item.deptName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="offset-md-2 col-md-4 pr-0">
                  <mat-form-field class="fullwidth">
                    <mat-select placeholder="Job Post" [(ngModel)]="jobPost">
                      <mat-option *ngFor="let item of postList" [value]="item.jobPostCd">
                        {{item.jobPostName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row m-auto">
                <div class="offset-md-1 col-md-4 pl-0">
                  <div class="row">
                    <div class="col-md-8">
                      <label style="font-weight: bold;">Designation</label>
                    </div>
                    <div class="col-md-4">
                      <label style="font-weight: bold;">Pay Scale</label>
                    </div>
                  </div>
                </div>
                <div class="offset-md-2 col-md-4 pr-0">
                  <mat-form-field class="fullwidth">
                    <mat-select placeholder="Job Type" [(ngModel)]="jobType">
                      <mat-option *ngFor="let item of jobTypeList" [value]="item.jobTypeCd">
                        {{item.jobTypeName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row m-auto">
                <div class="offset-md-1 col-md-4 pl-0">
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field class="fullwidth">
                        <input matInput [matDatepicker]="picker" placeholder="Applied Date" [(ngModel)]="appliedDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="fullwidth">
                        <input matInput [matDatepicker]="picker1" placeholder="Joining Date*" [(ngModel)]="joiningDate">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="offset-md-2 col-md-4 pr-0">
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field class="fullwidth">
                        <input matInput [matDatepicker]="picker2" placeholder="Renewal From" [(ngModel)]="renewalFrom">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="fullwidth">
                        <input matInput [matDatepicker]="picker3" placeholder="Contract Ending On"
                          [(ngModel)]="contractEnd">
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--start heading-->
            <!-- <h5>Job Profile</h5>
              <hr> -->
            <!--end heading-->
          </mat-tab>
          <!--start tab 2-->

          <!--start tab 3 ---------------------------------------------------------- -->
          <mat-tab label="QUALIFICATION">
            <div class="bg-darkBlue">
              <div class="row mr-4">
                <div class="offset-md-1 col-md-9">
                  <label class="text-skyblue font15">
                    Tip: Save before moving to next tab
                  </label>
                </div>
                <div class="col-md-1">
                  <button mat-raised-button class="btn" (click)="clear()" style="border-radius: 0;">RESET</button>
                </div>
                <div class="col-md-1">
                  <button mat-raised-button class="btn" (click)="updateEmpPersonalInfo()"
                    style="border-radius: 0;">&nbsp; SAVE &nbsp;</button>
                </div>
              </div>
            </div>
            <div class="bgWhite">

              <!--Start row 1-->
              <div class="row m-auto">
                <div class="col-md-12">
                  <!--start table row-->
                  <div class="example-container">
                    <div class="example-table-container">
                      <table class="table table-striped bottomBorder">
                        <thead>
                          <tr class='d-flex'>
                            <th class='col-1 text-center'>Sr #</th>
                            <th class='col-2'>Degree Title</th>
                            <th class='col-4'>Institute</th>
                            <th class='col-2'>Passing Year</th>
                            <th class='col-2'>Division</th>
                            <th class='col-1 text-center'>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of empDegreeList; let i=index" class='d-flex'>
                            <td class='col-1 text-center'>{{i+1}}</td>
                            <td class='col-2'>{{item.qlfctnCriteriaName}}</td>
                            <td class='col-4'>{{item.campusName}}</td>
                            <td class='col-2'>{{item.pssngDt | date:'yyyy'}}</td>
                            <td class='col-2'>{{item.divIsion}}</td>
                            <td class='col-1 text-center'>
                              <span class="fa fa-minus pointerCursor text-danger"
                                (click)="removeQualification(i)"></span>
                            </td>
                          </tr>

                          <tr class='d-flex'>
                            <td class='col-3'>
                              <p-dropdown appendTo="body" [options]="degreeList" filter="true" [(ngModel)]="ddlDegree"
                                (onChange)="getFilterItem('skill')" placeholder="Degree" [style]="{'width':'100%'}">
                                <ng-template let-itm pTemplate="item">
                                  <div style="position: relative;height: 25px;">
                                    <div style="font-size:14px;float:left;margin-top:4px;">{{itm.label}}</div>
                                  </div>
                                </ng-template>
                              </p-dropdown>
                            </td>
                            <td class='col-4'>
                              <input type="text" pInputText [(ngModel)]="empInstitute" class="fullwidth"
                                placeholder="Institute">
                            </td>
                            <td class='col-2'>
                              <p-calendar [(ngModel)]="empDegreeYear" placeholder="Passing Year" view="month"
                                dateFormat="mm/yy" [inputStyle]="{'width':'100%'}"></p-calendar>
                            </td>
                            <td class='col-2'>
                              <p-dropdown appendTo="body" [options]="divisionList" filter="true"
                                [(ngModel)]="ddlDivision" placeholder="Division" [style]="{'min-width':'100%'}">
                                <ng-template let-itm pTemplate="item">
                                  <div style="position: relative;height: 25px;">
                                    <div style="font-size:14px;float:left;margin-top:4px;">{{itm.label}}</div>
                                  </div>
                                </ng-template>
                              </p-dropdown>
                            </td>
                            <td class='col-1 text-center'>
                              <span class="fa fa-plus pointerCursor text-primary" (click)="addQualification()"></span>
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!--end table row-->
                </div>
              </div>
              <!--end row 1-->
              <br /><br />
            </div>
          </mat-tab>
          <!--End tab 3-->


          <!--start tab 4 ---------------------------------------------------------- -->
          <mat-tab label="SKILLS">
            <div class="bg-darkBlue">
              <div class="row mr-4">
                <div class="offset-md-1 col-md-9">
                  <label class="text-skyblue font15">
                    Tip: Save before moving to next tab
                  </label>
                </div>
                <div class="col-md-1">
                  <button mat-raised-button class="btn" (click)="clear()" style="border-radius: 0;">RESET</button>
                </div>
                <div class="col-md-1">
                  <button mat-raised-button class="btn" (click)="updateEmpPersonalInfo()"
                    style="border-radius: 0;">&nbsp; SAVE &nbsp;</button>
                </div>
              </div>
            </div>
            <div class="bgWhite">

              <!--Start row 1-->
              <div class="row m-auto">
                <div class="col-md-12">
                  <!--start table row-->
                  <div class="example-container">
                    <div class="example-table-container">
                      <table class="table table-striped bottomBorder">
                        <thead>
                          <tr class='d-flex'>
                            <th class='col-1 text-center'>Sr #</th>
                            <th class='col-2'>Skill Group</th>
                            <th class='col-3'>Skill</th>
                            <th class='col-2'>Expertise</th>
                            <th class='col-3'>Remarks</th>
                            <th class='col-1 text-center'>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of empSkillList; let i=index" class='d-flex'>
                            <td class='col-1 text-center'>{{i + 1}}</td>
                            <td class='col-2'>{{item.qlfctnName}}</td>
                            <td class='col-3'>{{item.qlfctnCriteriaName}}</td>
                            <td class='col-2'>
                              <p-rating class="rating-size" [(ngModel)]="item.skillLvl" [cancel]="false"
                                [disabled]="true"></p-rating>
                            </td>
                            <td class='col-3'>{{item.skillRmrks}}</td>
                            <td class='col-1 text-center'>
                              <span class="fa fa-minus pointerCursor text-danger" (click)="removeSkill(i)"></span>
                            </td>
                          </tr>

                          <tr class='d-flex'>
                            <td class='col-3'>
                              <p-dropdown appendTo="body" [options]="skillGroupList" filter="true"
                                [(ngModel)]="ddlSkillGroup" (onChange)="getFilterItem('skill')"
                                placeholder="Skill Group" [style]="{'width':'100%'}">
                                <ng-template let-itm pTemplate="item">
                                  <div style="position: relative;height: 25px;">
                                    <div style="font-size:14px;float:left;margin-top:4px;">{{itm.label}}</div>
                                  </div>
                                </ng-template>
                              </p-dropdown>
                            </td>
                            <td class='col-3'>
                              <p-dropdown appendTo="body" [options]="skillList" filter="true" [(ngModel)]="ddlSkill"
                                placeholder="Skill" [style]="{'width':'100%'}">
                                <ng-template let-itm pTemplate="item">
                                  <div style="position: relative;height: 25px;">
                                    <div style="font-size:14px;float:left;margin-top:4px;">{{itm.label}}</div>
                                  </div>
                                </ng-template>
                              </p-dropdown>
                            </td>
                            <td class='col-2'>
                              <p-rating class="rating-size" [(ngModel)]="empSkillLevel" [cancel]="false"></p-rating>
                            </td>
                            <td class='col-3'>
                              <input type="text" pInputText [(ngModel)]="empSkillRemarks" class="fullwidth"
                                placeholder="Remarks">
                            </td>
                            <td class='col-1 text-center'>
                              <span class="fa fa-plus pointerCursor text-primary" (click)="addSkill()"></span>
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!--end table row-->
                </div>
              </div>
              <!--end row 1-->
              <br /><br />
            </div>
            <!--end row 2-->

          </mat-tab>
          <!--end tab 4-->


          <!--start tab 5 ---------------------------------------------------------- -->
          <mat-tab label="EXPERIENCE">
            <div class="bg-darkBlue">
              <div class="row mr-4">
                <div class="offset-md-1 col-md-9">
                  <label class="text-skyblue font15">
                    Tip: Save before moving to next tab
                  </label>
                </div>
                <div class="col-md-1">
                  <button mat-raised-button class="btn" (click)="clear()" style="border-radius: 0;">RESET</button>
                </div>
                <div class="col-md-1">
                  <button mat-raised-button class="btn" (click)="updateEmpPersonalInfo()"
                    style="border-radius: 0;">&nbsp; SAVE &nbsp;</button>
                </div>
              </div>
            </div>
            <div class="bgWhite">

              <!--Start row 1-->
              <div class="row m-auto">
                <div class="col-md-12">
                  <!--start table row-->
                  <div class="example-container">
                    <div class="example-table-container">
                      <table class="table table-striped bottomBorder">
                        <thead>
                          <tr class='d-flex'>
                            <th class='col-1 text-center'>Sr #</th>
                            <th class='col-3 text-left'>Designation</th>
                            <th class='col-3 text-left'>Experience</th>
                            <th class='col-2 text-center'>Starting Date</th>
                            <th class='col-2 text-center'>End Date</th>
                            <th class='col-1 text-center'>Add / Delete</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of empOrgList; let i=index" class='d-flex'>
                            <td class='col-1 text-center'>{{i+1}}</td>
                            <td class='col-3'>{{item.desigRmrks}}</td>
                            <td class='col-3'>{{item.qlfctnCriteriaName}}</td>
                            <td class='col-2'>{{item.startDt | date}}</td>
                            <td class='col-2'>{{item.leavingDt | date}}</td>
                            <td class='col-1 text-center'>
                              <span class="fa fa-minus pointerCursor text-danger" (click)="removePSD(i)"></span>
                            </td>
                          </tr>

                          <tr class='d-flex'>
                            <td class='col-4'>
                              <input type="text" pInputText [(ngModel)]="empPost" class="fullwidth"
                                placeholder="Designation">
                            </td>
                            <td class='col-3'>
                              <p-dropdown appendTo="body" [options]="experienceList" filter="true"
                                [(ngModel)]="ddlExperience" placeholder="Experience" [style]="{'width':'50%'}">
                                <ng-template let-itm pTemplate="item">
                                  <div style="position: relative;height: 25px;">
                                    <div style="font-size:14px;float:left;margin-top:4px;">{{itm.label}}</div>
                                  </div>
                                </ng-template>
                              </p-dropdown>
                            </td>
                            <td class='col-2'>
                              <p-calendar [(ngModel)]="orgStartDate" placeholder="Job Start Date"
                                [inputStyle]="{'width':'100%'}"></p-calendar>
                            </td>
                            <td class='col-2'>
                              <p-calendar [(ngModel)]="orgEndDate" placeholder="Job End Date"
                                [inputStyle]="{'width':'100%'}"></p-calendar>
                            </td>
                            <td class='col-1 text-left'>
                              <span class="fa fa-plus pointerCursor text-primary" (click)="addPSD()"></span>
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!--end table row-->
                </div>
              </div>
              <br /><br />
            </div>
            <!--end row 2-->

          </mat-tab>
          <!--end tab 5-->

        </mat-tab-group>
        <!-- End tabs -->

      </div>
      <!--end Modal body -->

      <!--start Modal footer -->
      <!-- <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div> -->
      <!--end Modal footer -->

    </div>
  </div>
</div>
<!-- End Modal Window  -->

<!-- Start Modal Window to delete leave rule -->
<div class="modal fade" id="deleteModal">
  <div class="modal-dialog shadow-lg-dark">
    <div class="modal-content">
      <!--start Modal body -->
      <div class="modal-body">
        <br>
        <div class="hidden" ngDefaultControl></div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-10">
            <h2>Delete Entry</h2>
          </div>
        </div><br />
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="fullwidth">
              <input matInput placeholder="Enter Password" type="password" [(ngModel)]="txtdPassword">
            </mat-form-field>
          </div>
        </div><br>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="fullwidth">
              <input matInput placeholder="Enter PIN" type="password" [(ngModel)]="txtdPin">
            </mat-form-field>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <button mat-raised-button color="warn" data-dismiss="modal">Delete</button>
          </div>
        </div>
        <br />
      </div>
      <!--end Modal body -->

      <!--start Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      <!--end Modal footer -->

    </div>
  </div>
</div>
<!-- End Modal Window to delete leave rule -->
