<br />
<!-- start menubar buttons -->
<div class="myContainer mat-elevation-z8 bgWhite">
  <!--start top nav box shadow div-->
  <div class="topnav boxShadow">
    <!-- start heading & logo div-->
    <div>

      <span class="fa iconContainer">
        <span class="fa icon-hr-posting"></span>
      </span>
      <h1> Tranfer/Posting</h1>

      <a class="pointerCursor text-uppercase" data-toggle="modal" data-target="#promotionModal">
        <i class="fa fa-refresh"></i>
        Transfers
      </a>
      <!--end add role permission button-->
    </div>
    <!-- end heading & logo div-->
  </div>
  <!--end top nav box shadow div-->
</div>
<!-- end menubar buttons -->

<!--start myContainer div-->
<div class="myContainer bgWhite allBorder minHeight84">
  <!--Start 1st Row-->
  <div class="row">
    <!--start search textbox column-->
    <div class="col-md-12">
      <div class="searchBar">
        <span class="fa icon-search"></span>
        <input class="noneOutLine menuSearchBox" type="text" maxlength="32" placeholder="Search"
          [(ngModel)]="tblSearch">
      </div>
    </div>
    <!--end search textbox column-->
  </div>
  <!--end 1st Row-->

  <!--Start table Row-->
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr class="d-flex">
            <th class="col-1 text-center ">Sr No.</th>
            <th [class.active]="order === 'erpRoleName'" (click)="setOrder('erpRoleName')"
              class="col-3 pointerCursor text-left ">
              Date
              <span class="fa fa-angle-double-down" [hidden]="reverse"></span>
              <span class="fa fa-angle-double-up" [hidden]="!reverse"></span>
            </th>
            <th [class.active]="order === 'noOfModules'" (click)="setOrder('noOfModules')"
              class="col-6 pointerCursor text-left">
              Description
              <span class="fa fa-angle-double-down" [hidden]="reverse"></span>
              <span class="fa fa-angle-double-up" [hidden]="!reverse"></span>
            </th>
            <th class="col-2 pointerCursor text-center">
              Detail
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class='d-flex'>
            <!-- <tr *ngFor="let item of employeeList |
                search:'indvdlFullName,jobDesigName,payGradeName,empJobStartDt':tblSearch | paginate: {
                  itemsPerPage: itemPerPage, currentPage: p } | orderBy: order:reverse:'case-insensitive' let i=index"
            class='d-flex'> -->
            <td class='col-1 text-center'>1</td>
            <td class='col-3 text-left'>June 29, 2019</td>
            <td class='col-6 text-left'>Transfer</td>
            <!-- <td class='col-2'>{{item.empJobStartDt | date}}</td> -->
            <td class='col-2 text-center'>
              <span class="fa fa-list-alt pointerCursor text-primary" data-toggle="modal"
                data-target="#promotionModal"></span>
            </td>
            <td class='col-1 text-center'>2</td>
            <td class='col-3 text-left'>July 18, 2019</td>
            <td class='col-6 text-left'>Transfer/Promotion</td>
            <!-- <td class='col-2'>{{item.empJobStartDt | date}}</td> -->
            <td class='col-2 text-center'>
              <span class="fa fa-list-alt pointerCursor text-primary" data-toggle="modal"
                data-target="#promotionModal"></span>
            </td>
            <td class='col-1 text-center'>3</td>
            <td class='col-3 text-left'>Sept 18, 2019</td>
            <td class='col-6 text-left'>Transfer/Promotion</td>
            <!-- <td class='col-2'>{{item.empJobStartDt | date}}</td> -->
            <td class='col-2 text-center'>
              <span class="fa fa-list-alt pointerCursor text-primary" data-toggle="modal"
                data-target="#promotionModal"></span>
            </td>
            <td class='col-1 text-center'>2</td>
            <td class='col-3 text-left'>November 18, 2019</td>
            <td class='col-6 text-left'>Transfer</td>
            <!-- <td class='col-2'>{{item.empJobStartDt | date}}</td> -->
            <td class='col-2 text-center'>
              <span class="fa fa-list-alt pointerCursor text-primary" data-toggle="modal" data-target="#promotionModal"></span>
            </td>
          </tr>
          <tr class='d-flex'>
            <td class='col-1 text-center'>2</td>
            <td class='col-3 text-left'>July 18, 2019</td>
            <td class='col-6 text-left'>Transfer/Promotion</td>
            <!-- <td class='col-2'>{{item.empJobStartDt | date}}</td> -->
            <td class='col-2 text-center'>
              <span class="fa fa-list-alt pointerCursor text-primary" data-toggle="modal"
                data-target="#promotionModal"></span>
            </td>
          </tr>
          <tr class='d-flex'>
            <td class='col-1 text-center'>3</td>
            <td class='col-3 text-left'>Sept 18, 2019</td>
            <td class='col-6 text-left'>Transfer/Promotion</td>
            <!-- <td class='col-2'>{{item.empJobStartDt | date}}</td> -->
            <td class='col-2 text-center'>
              <span class="fa fa-list-alt pointerCursor text-primary" data-toggle="modal"
                data-target="#promotionModal"></span>
            </td>
          </tr>
          <tr class='d-flex'>
            <td class='col-1 text-center'>4</td>
            <td class='col-3 text-left'>November 18, 2019</td>
            <td class='col-6 text-left'>Transfer</td>
            <!-- <td class='col-2'>{{item.empJobStartDt | date}}</td> -->
            <td class='col-2 text-center'>
              <span class="fa fa-list-alt pointerCursor text-primary" data-toggle="modal"
                data-target="#promotionModal"></span>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Pagination Starts -->
      <div class="col-md-12 text-right">
        <div class="paginationBox">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
        <div class="paginationBox">
          <mat-form-field class="pagenateList">
            <mat-select [(ngModel)]="itemPerPage">
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="10">10</mat-option>
              <mat-option value="15">15</mat-option>
              <mat-option value="20">20</mat-option>
              <mat-option value="25">25</mat-option>
              <mat-option value="30">30</mat-option>
              <mat-option value="35">35</mat-option>
              <mat-option value="40">40</mat-option>
              <mat-option value="45">45</mat-option>
              <mat-option value="50">50</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="paginationBox">
          Item per page: &nbsp;&nbsp;
        </div>
      </div>
      <!-- Pagination Ends -->

    </div>

  </div>
  <!-- end table row -->
</div>
<!--end myContainer div-->

<!-- Hidden Table for Print and PDF files starts-->
<div class="container printArea" id="printArea" [hidden]=true>
  <div class="printDiv">

    <!--Start heading table -->
    <table>
      <tr>
        <td width="15%" style="border:none;">
          <img src="../../../assets/images/Ambit-Logo.svg" width="135px">
        </td>

        <td style="border:none;">
          <div class="commonCss cssHeading">Infovative Solutions</div>
          <div class="commonCss cssAddress">Office #209, 3rd Floor Anayat Plaza, G11 Markaz Islamabad.</div>
          <div class="commonCss cssContact">Mobile: 0313-1234567, Ph. 051-5544661</div>
        </td>
      </tr>
    </table>
    <!--End heading table -->

    <br /><br />

    <!--Start table Row-->
    <div class="row">
      <table>
        <thead>
          <tr class="d-flex">
            <th class='col-1 text-center'>Sr #</th>
            <th class='col-3 text-left'>Leave Type</th>
            <th class='col-2 text-left'>Nature</th>
            <th class='col-3 text-center'>Leave Limit</th>
            <th class='col-3 text-center'>Per month/annum</th>
          </tr>
        </thead>
        <tbody>
          <tr class="d-flex"
            *ngFor="let item of employeeList | search:'leaveTypeName,leaveNatureName,leaveLmtAmoUNt,leaveLmtName' :tblSearch  let i=index">
            <td class='col-1 text-center'>{{i + 1}}</td>
            <td class='col-3'>{{item.leaveTypeName}}</td>
            <td class='col-2'>{{item.leaveNatureName}}</td>
            <td class='col-3'>{{item.leaveLmtAmoUNt}}</td>
            <td class='col-3'>{{item.leaveLmtName}}</td>
          </tr>
        </tbody>
      </table>
    </div><!-- end table row -->
  </div>
</div>
<!-- Hidden Table for Print and PDF files ends-->


<!-- Start Modal Window to delete leave rule -->
<div class="modal fade" id="deleteModal">
  <div class="modal-dialog shadow-lg-dark">
    <div class="modal-content">
      <!--start Modal body -->
      <div class="modal-body">
        <br>
        <!-- <div class="hidden" [(ngModel)]="leaveId" ngDefaultControl></div> -->
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-10">
            <h2>Delete Leave Rule</h2>
          </div>
        </div><br />
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="fullwidth">
              <input matInput placeholder="Enter Password" type="password" [(ngModel)]="txtdPassword">
            </mat-form-field>
          </div>
        </div><br>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="fullwidth">
              <input matInput placeholder="Enter PIN" type="password" [(ngModel)]="txtdPin">
            </mat-form-field>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <button mat-raised-button color="warn">Delete</button>
          </div>
        </div>
        <br />
      </div>
      <!--end Modal body -->

      <!--start Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      <!--end Modal footer -->

    </div>
  </div>
</div>
<!-- End Modal Window to delete leave rule -->


<!-- Start Modal Window to add & update new user -->
<div class="modal fade" id="promotionModal">

  <!--start modal window dialog-->
  <div class="modal-dialog shadow-lg-dark modal-lg">
    <!--start modal window contents -->
    <div class="modal-content modal-bottom-border-blue">

      <!--start user Modal Header -->
      <div class="modal-header bg-skyBlue borderBlue5px">
        <h4 class="modal-title">Add Transfer</h4>
        <div>
          <button type="button" class="btn-close cursorPointer" data-dismiss="modal"></button>
        </div>
      </div>
      <!--end user Modal Header -->

      <!--start user Modal body -->
      <div class="modal-body m-3">

        <!--start row 1-->
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="fullwidth">
              <input matInput [matDatepicker]="picker" placeholder="Date" [(ngModel)]="efectDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="fullwidth">
              <mat-select placeholder="Transfer Type" [(ngModel)]="transferType">
                <mat-option *ngFor="let item of transferTypeList" [value]="item.transferType">{{item.transferType}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <!--end row 1-->

        <!--start row 2-->
        <div class="row">

          <div class="col-md-6">
            <fieldset class="scheduler-border">
              <legend class="scheduler-border text-skyblue">Transfering From</legend>
              <div class="row">
                <div class="col-md-12 mt-2 mb-2">

                  <mat-form-field class="fullwidth pl-3 pr-3">
                    <mat-select placeholder="Branch" [(ngModel)]="branch1" (ngModelChange)="getDepartment(branch1, 1);getFilterItem('filterbranch1')">
                      <mat-option *ngFor="let item of branchList" [value]="item.locationCd">
                        {{item.locationName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="fullwidth pl-3 pr-3">
                    <mat-select placeholder="Department" [(ngModel)]="department1" (ngModelChange)="getSection(department1, 1);getFilterItem('filterdepart1')">
                      <mat-option *ngFor="let item of departmentList1" [value]="item.deptCd">
                        {{item.deptName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="fullwidth pl-3 pr-3">
                    <mat-select placeholder="Section" [(ngModel)]="section1" (ngModelChange)="getFilterItem('filtersection1')">
                      <mat-option *ngFor="let item of sectionList1" [value]="item.deptCd">
                        {{item.deptName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="fullwidth pl-3 pr-3">
                    <mat-select placeholder="Post From" [(ngModel)]="postFrom" (ngModelChange)="getFilterItem('filterjob1')">
                      <input class="form-control" type="text" placeholder="Search Post" [(ngModel)]="srchPostFrom">
                      <mat-option *ngFor="let item of tempJobList1 | search:'jobDesigName': srchPostFrom" [value]="item.jobDesigID">
                        {{item.jobDesigName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="fullwidth pl-3 pr-3">
                    <mat-select placeholder="Employee Name" [(ngModel)]="ddlEmployee1" (ngModelChange)="getFilterItem('filteremp1')">
                      <input class="form-control" type="text" placeholder="Search Employee" [(ngModel)]="srchEmp1">
                      <mat-option *ngFor="let item of tempEmpList1 | search:'indvdlFullName': srchEmp1" [value]="item.indvdlID">
                        {{item.indvdlFullName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <div class="row">
                    <div class="col-md-6 text-right">
                      <label>Designation</label>
                    </div>
                    <div class="col-md-6 text-left">
                      <label>Pay Scale</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 text-right">
                      <label>{{lblDesignation1}}</label>
                    </div>
                    <div class="col-md-6 text-left">
                    <label>{{lblPayGrade1}}</label>
                    </div>
                  </div>

                </div>
              </div>
            </fieldset>
          </div>

          <div class="col-md-6">
            <fieldset class="scheduler-border">
              <legend class="scheduler-border text-skyblue">Transfering To</legend>
              <div class="row">
                <div class="col-md-12 mt-2 mb-2">

                  <mat-form-field class="fullwidth pl-3 pr-3">
                    <mat-select placeholder="Branch" [(ngModel)]="branch2" (ngModelChange)="getDepartment(branch2, 2);getFilterItem('filterbranch2')">
                      <mat-option *ngFor="let item of branchList" [value]="item.locationCd">
                        {{item.locationName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="fullwidth pl-3 pr-3">
                    <mat-select placeholder="Department" [(ngModel)]="department2" (ngModelChange)="getSection(department2, 2);getFilterItem('filterdepart2')">
                      <mat-option *ngFor="let item of departmentList2" [value]="item.deptCd">
                        {{item.deptName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="fullwidth pl-3 pr-3">
                    <mat-select placeholder="Section" [(ngModel)]="section2" (ngModelChange)="getFilterItem('filtersection2')">
                      <mat-option *ngFor="let item of sectionList2" [value]="item.deptCd">
                        {{item.deptName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="fullwidth pl-3 pr-3">
                    <mat-select placeholder="Post To" [(ngModel)]="postTo" (ngModelChange)="getFilterItem('filterjob2')">
                      <input class="form-control" type="text" placeholder="Search Post" [(ngModel)]="srchPostTo">
                      <mat-option *ngFor="let item of tempJobList2 | search:'jobDesigName': srchPostTo" [value]="item.jobDesigID">
                        {{item.jobDesigName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  
                  <mat-form-field class="fullwidth pl-3 pr-3">
                    <mat-select placeholder="Employee Name" [(ngModel)]="ddlEmployee2" (ngModelChange)="getFilterItem('filteremp2')" [disabled]="true">
                      <input class="form-control" type="text" placeholder="Search Employee" [(ngModel)]="srchEmp2">
                      <mat-option *ngFor="let item of tempEmpList2 | search:'indvdlFullName': srchEmp2" [value]="item.indvdlID">
                        {{item.indvdlFullName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <div class="row">
                    <div class="col-md-6 text-right">
                      <label>Designation</label>
                    </div>
                    <div class="col-md-6 text-left">
                      <label>Pay Scale</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 text-right">
                      <label>{{lblDesignation2}}</label>
                    </div>
                    <div class="col-md-6 text-left">
                    <label>{{lblPayGrade2}}</label>
                    </div>
                  </div>

                </div>
              </div>
            </fieldset>
          </div>

        </div>
        <!--end row 2-->

        <!--start row 3-->
        <div class="row mt-2">
          <div class="offset-md-8 col-md-2">
            <button mat-raised-button class="btn fullwidth pb-1 pt-1 rounded-0" (click)="clear()">&nbsp;&nbsp;Clear&nbsp;&nbsp;</button>
          </div>
          <div class="col-md-2">
            <button mat-raised-button class="btn fullwidth pb-1 pt-1 rounded-0" (click)="add()">&nbsp;&nbsp;&nbsp;ADD&nbsp;&nbsp;&nbsp;</button>
          </div>
        </div>
        <!--end row 3-->

        <!--start row 4-->
        <div class="row mt-2">
          <div class="col-md-12">
            <table class="table table-striped">
              <thead>
                <tr class="d-flex">
                  <th class="col-3 text-left">Employee Name</th>
                  <th class="col-4 text-left">Post From</th>
                  <th class="col-4 text-left">Post To</th>
                  <th class="col-1 text-center">Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of transfersList let i=index" class="d-flex" [ngClass]="{'bg-light-red': item.status == 1}">
                  <td class="col-3 text-left">{{item.EmpName}}</td>
                  <td class="col-4 text-left">{{item.PostFrom}}</td>
                  <td class="col-4 text-left">{{item.PostTo}}</td>
                  <td class="col-1 text-center"><span class="fa tableIcon pointerCursor" (click)="remove(i)"><span class="fa icon-u-delete"></span></span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--end row 4-->

        <!--start row 5-->
        <div class="row mt-4 mb-4">
          <div class="offset-md-7 col-md-5">
            <!--start buttons row -->
            <div class="row">
              <div class="col-md-6">
                <button mat-raised-button class="btn fullwidth pb-1 pt-1" (click)="reset()"
                  style="border-radius: 0;">&nbsp;&nbsp;&nbsp;RESET&nbsp;&nbsp;&nbsp;</button>
              </div>
              <div class="col-md-6">
                <button mat-raised-button class="btn fullwidth pb-1 pt-1" (click)="save()"
                  style="border-radius: 0;">&nbsp;&nbsp;&nbsp;SAVE&nbsp;&nbsp;&nbsp;</button>
              </div>
            </div>
            <!--end buttons row -->
          </div>
        </div>
        <!--end row 5-->

      </div>
      <!--end user Modal body -->
    </div>
    <!--end modal window contents -->
  </div>
  <!--end modal window dialog-->
</div>
<!-- End Modal Window to add & update new user -->


