<br />
<!-- start menubar buttons -->
<div class="myContainer mat-elevation-z8 bgWhite">
  <!--start top nav box shadow div-->
  <div class="topnav boxShadow">
    <div>
      <!--class="container" -->
      <span class="fa iconContainer">
        <span class="fa icon-hr-post"> </span>
      </span>
      <h1> Shifts</h1>

    </div>
  </div>
  <!--end top nav box shadow div-->
</div>
<!-- end menubar buttons -->

<div class="myContainer bgWhite minHeight84 allBorder">
  <!--table row-->
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr class="d-flex">
            <th class="col-1 text-center">Sr #</th>
            <th class="col-2">Shift Name</th>
            <th class="col-3 text-center">Department</th>
            <th class="col-2 text-center">Start Time</th>
            <th class="col-2 text-center">End Time</th>
            <th class="col-2 text-left">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr class="d-flex">
            <td class="col-1 text-center"></td>
            <td class="col-2 text-center">
              <p-dropdown placeholder="Select Shift" [options]="shiftList" [(ngModel)]="cmbShift" [showClear]="true">
              </p-dropdown>
            </td>
            <td class="col-3 text-center">
              <p-multiSelect [options]="departmentList" [(ngModel)]="cmbDepartment">
              </p-multiSelect>
            </td>
            <td class="col-2 text-center">
              <p-calendar [(ngModel)]="startTime" [timeOnly]="true" [style]="{'width':'100%'}"></p-calendar>
            </td>
            <td class="col-2 text-center">
              <p-calendar [(ngModel)]="endTime" [timeOnly]="true" [style]="{'width':'100%'}"></p-calendar>
            </td>
            <td class="col-2 text-left">
              <span class="fa tableIcon mt-1 pointerCursor" (click)="saveShift()">
                <span class="fa icon-u-save"></span>
              </span>
            </td>
          </tr>
          <tr class="d-flex"
            *ngFor="let item of deptShiftList | paginate: { itemsPerPage: itemPerPage, currentPage: p, id: 'first' } let i=index">
            <td class="col-1 text-center">{{i + 1}}</td>
            <td class="col-2">{{item.shiftName}}</td>
            <td class="col-3 text-center">
              <button type="button" class="btn btn-link" type="button" class="btn btn-link" data-toggle="modal"
                data-target="#shiftDetailModal" (click)="getShiftDeptDetail(item.shiftCd)"
                *ngIf='item.department.length==1;'>
                {{item.department[0].deptName}}
              </button>
              <button type="button" class="btn btn-link" type="button" class="btn btn-link" data-toggle="modal"
                data-target="#shiftDetailModal" (click)="getShiftDeptDetail(item.shiftCd)"
                *ngIf='item.department.length==2;'>
                {{item.department[0].deptName }},
                {{item.department[1].deptName }}</button>
              <button type="button" class="btn btn-link" type="button" class="btn btn-link" data-toggle="modal"
                data-target="#shiftDetailModal" (click)="getShiftDeptDetail(item.shiftCd)"
                *ngIf='item.department.length>2;'>
                {{item.department[0].deptName}}, {{item.department[1].deptName}} and More
              </button>
            </td>
            <td class="col-2 text-center">{{item.startTime}} hrs</td>
            <td class="col-2 text-center">{{item.endTime}} hrs</td>
            <td class="col-2 text-left">
              <span class="fa tableIcon pointerCursor" (click)="editShift(item)">
                <span class="fa icon-u-edit"></span>
              </span>
              <span class="fa tableIcon pointerCursor" (click)="deleteShift(item)">
                <span class="fa icon-u-delete"></span>
              </span>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Pagination Starts -->
      <div class="col-md-12 text-right">
        <div class="paginationBox">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
        <div class="paginationBox">
          <mat-form-field class="pagenateList">
            <mat-select [(ngModel)]="itemPerPage">
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="10">10</mat-option>
              <mat-option value="15">15</mat-option>
              <mat-option value="20">20</mat-option>
              <mat-option value="25">25</mat-option>
              <mat-option value="30">30</mat-option>
              <mat-option value="35">35</mat-option>
              <mat-option value="40">40</mat-option>
              <mat-option value="45">45</mat-option>
              <mat-option value="50">50</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="paginationBox">
          Item per page: &nbsp;&nbsp;
        </div>
      </div>
      <!-- Pagination Ends -->
    </div>
  </div>
  <!--end table row-->
</div>



<!-- Hidden Table for Print and PDF files starts-->
<div class="container printArea" id="printArea" [hidden]=true>
  <div class="printDiv">

    <!--Start heading table -->
    <table>
      <tr>
        <td width="15%" style="border:none;">
          <img src="../../../assets/images/Ambit-Logo.svg" width="135px">
        </td>

        <td style="border:none;">
          <div class="commonCss cssHeading">Infovative Solutions</div>
          <div class="commonCss cssAddress">Office #209, 3rd Floor Anayat Plaza, G11 Markaz Islamabad.</div>
          <div class="commonCss cssContact">Mobile: 0313-1234567, Ph. 051-5544661</div>
        </td>
      </tr>
    </table>
    <!--End heading table -->

    <br /><br />

    <!--Start table Row-->
    <div class="row">
      <table>
        <thead>
          <tr class="d-flex">
            <th class='col-1 text-center'>Sr #</th>
            <th class='col-3 text-left'>Shift Name</th>
            <th class='col-3 text-left'>Department</th>
            <th class='col-3 text-center'>Start Time</th>
            <th class='col-2 text-center'>End Time</th>
          </tr>
        </thead>
        <tbody>
          <tr class="d-flex" *ngFor="let item of deptShiftList let i=index">
            <td class='col-1 text-center'>{{i+1}}</td>
            <td class='col-3 text-left'>{{item.shiftName}}</td>
            <td class='col-3 text-left'>{{item.deptCd}}</td>
            <td class='col-3 text-center'>{{item.startTime}}</td>
            <td class='col-2 text-center'>{{item.endTime}}</td>
          </tr>
        </tbody>
      </table>
    </div><!-- end table row -->
  </div>
</div>
<!-- Hidden Table for Print and PDF files ends-->

<!-- Hidden Table Starts for Excel and CSV files -->
<!-- <igx-grid #excelDataContent [data]="excelDataList" [autoGenerate]="false" height="null" width="null" [hidden]="true">
</igx-grid> -->
<!-- Hidden Table Ends  for Excel and CSV files -->



<!-- Start Modal Window to view employee data -->
<div class="modal fade" id="shiftDetailModal">
  <div class="modal-dialog shadow-lg-dark">
    <div class="modal-content modal-bottom-border-blue">

      <!--start Modal Header -->
      <div class="modal-header bg-skyBlue borderBlue5px">
        <h4 class="modal-title">Department List for Day Shift</h4>
        <div>
          <button type="button" class="btn-close cursorPointer" data-dismiss="modal"></button>
        </div>
      </div>
      <!--end Modal Header -->

      <!--start Modal body -->
      <div class="modal-body">
        <!--1st row-->
        <div class="row mt-n3 mb-5">
          <div class="col-md-12">
            <table class="table table-striped">
              <tbody>
                <tr class="d-flex" *ngFor="let item of deptShiftDetailList let i=index">
                  <td class="col-12 text-left">{{item.deptName}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row pt-5">
          <div class="offset-md-8 col-md-4">
            <button mat-raised-button class="btn fullwidth pt-1 pb-1 noneOutLine" style="border-radius: 0;">
              &nbsp;&nbsp;&nbsp;OK&nbsp;&nbsp;&nbsp;
            </button>
          </div>
        </div>
      </div>
      <!--end Modal body -->

      <!--start Modal footer -->
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div> -->
      <!--end Modal footer -->

    </div>
  </div>
</div>
<!-- End Modal Window to view employee data -->
