<!--start container-->
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="fullwidth">
        <mat-select placeholder="Select an Employee" [(ngModel)]="employeeName" (selectionChange)="empChange($event)">
          <mat-option *ngFor="let item of newEmployeeList" [value]="item.indvdlID">
            {{item.indvdlFirstName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-4"><br>
      <label>
        <h5>Designation | <b>{{empDesignation}}</b></h5>
      </label>
    </div>
    <div class="col-md-4"><br>
      <label>
        <h5>BPS | <b>{{empGrade}}</b></h5>
      </label>
    </div>
  </div>
</div>
<!--end container-->

<!-- <br> -->

<!--start container-->
<div class="myContainer bgWhite">
  <!--* Mat-Tab-Group Starts -->
  <mat-tab-group>
    <!-- Mat-Tab_01 Starts -->
    <mat-tab label="Reviews">


      <!-- start menubar buttons -->
      <div class="topnav boxShadow">
        <div>
          <h2>Reviews</h2>

          <a class="pointerCursor" (click)="downloadExcelReviews()">
            <i class="fa fa-file-excel-o"></i>
            Excel
          </a>

          <a class="pointerCursor" (click)="downloadCSVReviews()">
            <i class="fa fa-file-text-o"></i>
            CSV
          </a>

          <a class="pointerCursor" (click)="downloadPDFReviews()">
            <i class="fa fa-file-pdf-o"></i>
            PDF
          </a>

          <a class="pointerCursor" (click)="printDivReviews()">
            <i class="fa fa-print"></i>
            Print
          </a>

        </div>
      </div>
      <!-- end menubar buttons -->



      <!--Start search textbox Row-->
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="fullwidth">
            <input matInput [(ngModel)]="tblSearchReviews" placeholder="Search">
          </mat-form-field>
          <i class="fab fa-accessible-icon"></i>
        </div>
      </div>
      <!--end search textbox Row-->

      <!--start table row-->
      <div class="example-container">
        <div class="example-table-container">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class='text-left'>Date</th>
                <!-- <th class='text-left'>Employee</th> -->
                <th class='text-left'>Knowledge</th>
                <th class='text-left'>WrkQlty</th>
                <th class='text-left'>Attendance</th>
                <th class='text-left'>Communication</th>
                <th class='text-left'>Dependability</th>
                <th class='text-center'>Add</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let item of reviewsList; let i=index">
                <td class='text-left'>{{item.ReviewDate | date:'dd-MM-yyyy'}}</td>
                <!-- <td class='text-left'>{{item.EmployeeName}}</td> -->
                <td class='text-left'>{{item.RateJobKnowledge}}</td>
                <td class='text-left'>{{item.RateWorkQlty}}</td>
                <td class='text-left'>{{item.RateAttendance}}</td>
                <td class='text-left'>{{item.RateCommunication}}</td>
                <td class='text-left'>{{item.RateDependability}}</td>
                <td class='text-center'>
                  <span class="fa fa-minus pointerCursor" (click)="removeReviews(i)"></span>
                </td>
              </tr>

              <tr>
                <td class='text-left'>
                  <mat-form-field class="fullwidth">
                    <input [(ngModel)]="reviewDate" matInput [matDatepicker]="pickerReviewDate" placeholder="Date">
                    <mat-datepicker-toggle matSuffix [for]="pickerReviewDate"></mat-datepicker-toggle>
                    <mat-datepicker #pickerReviewDate></mat-datepicker>
                  </mat-form-field>
                </td>
                <!-- <td class='text-left'>
                  <mat-form-field class="fullwidth">
                    <mat-select placeholder="Name" [(ngModel)]="employeeName">
                      <mat-option *ngFor="let item of employeeList" [value]="item.indvdlID">
                        {{item.indvdlFullName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td> -->
                <td class='text-left'>
                  <p-rating class="rating-size" [(ngModel)]="rateJobKnowledge" [cancel]="false">
                  </p-rating>
                </td>
                <td class='text-left'>
                  <p-rating class="rating-size" [(ngModel)]="rateWorkQlty" [cancel]="false">
                  </p-rating>
                </td>
                <td class='text-left'>
                  <p-rating class="rating-size" [(ngModel)]="rateAttendance" [cancel]="false">
                  </p-rating>
                </td>
                <td class='text-left'>
                  <p-rating class="rating-size" [(ngModel)]="rateCommunication" [cancel]="false">
                  </p-rating>
                </td>
                <td class='text-left'>
                  <p-rating class="rating-size" [(ngModel)]="rateDependability" [cancel]="false">
                  </p-rating>
                </td>
                <td class='text-center'>
                  <button mat-icon-button class='noneOutLine'><span class="fa fa-plus"
                      (click)="addReviews()"></span></button>
                </td>
              </tr>
            </tbody>
          </table>

          <!--button tag Row Starts-->
          <div class="row">
            <div class="col-md-1 text-left">
              <button mat-raised-button color="primary" (click)="saveReviews()">Save</button>
            </div>
            <div class="col-md-11 text-left">
              <button mat-raised-button (click)="clearReviews()">Reset</button>
            </div>
          </div>
          <!-- Button tag Row Ends -->
          <br>

        </div>
      </div>
      <!--end table row-->
    </mat-tab>
    <!-- Mat-Tab_01 Ends -->

    <!-- Mat-Tab_02 Starts -->
    <mat-tab label="Projects">

      <!-- start menubar buttons -->
      <div class="topnav boxShadow">
        <div>
          <h2>Projects</h2>

          <a class="pointerCursor" (click)="downloadExcelGoals()">
            <i class="fa fa-file-excel-o"></i>
            Excel
          </a>

          <a class="pointerCursor" (click)="downloadCSVGoals()">
            <i class="fa fa-file-text-o"></i>
            CSV
          </a>

          <a class="pointerCursor" (click)="downloadPDFGoals()">
            <i class="fa fa-file-pdf-o"></i>
            PDF
          </a>

          <a class="pointerCursor" (click)="printDivGoals()">
            <i class="fa fa-print"></i>
            Print
          </a>

        </div>
      </div>
      <!-- end menubar buttons -->

      <!--Start search textbox Row-->
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="fullwidth">
            <input matInput [(ngModel)]="tblSearchGoals" placeholder="Search">
          </mat-form-field>
          <i class="fab fa-accessible-icon"></i>
        </div>
      </div>
      <!--end search textbox Row-->

      <!--start table row-->
      <div class="example-container">
        <div class="example-table-container">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class='text-left'>Starting Date</th>
                <th class='text-left'>Completion Date</th>
                <th class='text-left'>Project Description</th>
                <th class='text-left'>Employee Assessment </th>
                <th class='text-left'>Supervisor</th>
                <th class='text-left'>Supervisor Assessment </th>
                <th class='text-center'>Add</th>
              </tr>
            </thead>
            <tbody>

              

              <!-- <tr *ngFor="let item of projectsList; let i=index">
                <td class='text-left'>{{item.StartDate | date:'dd-MM-yyyy'}}</td>
                <td class='text-left'>{{item.FinishDate | date:'dd-MM-yyyy'}}</td>
                <td class='text-left'>{{item.ProjectDesc}}</td>
                <td class='text-left'>{{item.RateEmpAssessment}}</td>
                <td class='text-left'>{{item.Supervisor}}</td>
                <td class='text-left'>{{item.RateSprvsrAssessment}}</td>
                <td class='text-center'>
                  <span class="fa fa-minus pointerCursor" (click)="removeGoals(i)"></span>
                </td>
              </tr> -->

              <tr>
                <td class='text-left'>
                  <!-- <mat-form-field class="fullwidth">
                    <input [(ngModel)]="startDate" matInput [matDatepicker]="startDatePicker"
                      placeholder="Starting Date">
                    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #startDatePicker></mat-datepicker>
                  </mat-form-field> -->
                  <p-calendar [(ngModel)]="startDate" placeholder="Starting Date" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"></p-calendar>
                </td>
                <td class='text-left'>
                  <!-- <mat-form-field class="fullwidth">
                    <input [(ngModel)]="finishDate" matInput [matDatepicker]="finishDatePicker"
                      placeholder="Completion Date">
                    <mat-datepicker-toggle matSuffix [for]="finishDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #finishDatePicker></mat-datepicker>
                  </mat-form-field> -->
                  <p-calendar [(ngModel)]="finishDate" placeholder="Completion Date" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"></p-calendar>
                </td>
                <td class='text-left'>
                  <!-- <mat-form-field class="fullwidth">
                    <input [(ngModel)]="projectDesc" matInput placeholder="Project Description">
                  </mat-form-field> -->
                  <input type="text" pInputText [(ngModel)]="projectDesc" class="fullwidth" placeholder="Project Description">
                </td>
                <td class='text-left'>
                  <p-rating class="rating-size" [(ngModel)]="rateEmpAssessment" [cancel]="false">
                  </p-rating>
                </td>
                <td class='text-left'>
                  <!-- <mat-form-field class="fullwidth">
                    <mat-select placeholder="Name" [(ngModel)]="supervisorName">
                      <mat-option *ngFor="let item of supervisorList" [value]="item.indvdlID">
                        {{item.indvdlFirstName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field> -->

                  <p-dropdown appendTo="body" [options]="supervisorList" filter="true" [(ngModel)]="supervisorName" placeholder="Supervisor Name" [style]="{'width':'100%'}">
                    <ng-template let-itm pTemplate="item">
                      <div style="position: relative;height: 25px;">
                        <div style="font-size:14px;float:left;margin-top:4px;">{{itm.label}}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                  
                </td>
                <td class='text-left'>
                  <p-rating class="rating-size" [(ngModel)]="rateSprvsrAssessment" [cancel]="false">
                  </p-rating>
                </td>
                <td class='text-center'>
                  <button mat-icon-button class='noneOutLine'><span class="fa fa-save" (click)="addGoals()"></span></button>
                </td>
              </tr>

              <!-- Project Performance Data Start -->
              <tr *ngFor="let item of tempProjectsPerformanceData; let i=index">
                <td class='text-left'>{{item.StartDate | date:'dd-MM-yyyy'}}</td>
                <td class='text-left'>{{item.FinishDate | date:'dd-MM-yyyy'}}</td>
                <td class='text-left'>{{item.ProjectDesc}}</td>
                <td class='text-left'>{{item.RateEmpAssessment}}</td>
                <td class='text-left'>{{item.SupervisorId}}</td>
                <td class='text-left'>{{item.RateSprvsrAssessment}}</td>
                <td class='text-center'>
                  <span class="fa fa-edit text-primary pointerCursor" (click)="editProjects(item)"></span>
                  &nbsp;&nbsp;
                  <span class="fa fa-trash text-danger pointerCursor" data-toggle="modal" data-target="#deleteModal"
                    (click)="deleteProjects(item)"></span>
                </td>
              </tr>
              <!-- Project Performance Data End -->
              
            </tbody>
          </table>

          <!--button tag Row Starts-->
          <div class="row">
            <div class="col-md-1 text-left">
              <button mat-raised-button color="primary" (click)="saveProjects()">Save</button>
            </div>
            <div class="col-md-11 text-left">
              <button mat-raised-button (click)="clearProjects()">Reset</button>
            </div>
          </div>
          <!-- Button tag Row Ends -->
          <br>

        </div>
      </div>
      <!--end table row-->
    </mat-tab>
    <!-- Mat-Tab_02 Ends -->

    <!-- Mat-Tab_03 Starts -->
    <mat-tab label="Skills">

      <!-- start menubar buttons -->
      <div class="topnav boxShadow">
        <div>
          <h2>Skills</h2>

          <a class="pointerCursor" (click)="downloadExcelSkills()">
            <i class="fa fa-file-excel-o"></i>
            Excel
          </a>

          <a class="pointerCursor" (click)="downloadCSVSkills()">
            <i class="fa fa-file-text-o"></i>
            CSV
          </a>

          <a class="pointerCursor" (click)="downloadPDFSkills()">
            <i class="fa fa-file-pdf-o"></i>
            PDF
          </a>

          <a class="pointerCursor" (click)="printDivSkills()">
            <i class="fa fa-print"></i>
            Print
          </a>

        </div>
      </div>
      <!-- end menubar buttons -->

      <!--Start search textbox Row-->
      <div class="row tab-margin">
        <div class="col-md-12">
          <mat-form-field class="fullwidth">
            <input matInput [(ngModel)]="tblSearchSkills" placeholder="Search">
          </mat-form-field>
          <i class="fab fa-accessible-icon"></i>
        </div>
      </div>
      <!--end search textbox Row-->

      <!--start table row-->
      <div class="example-container">
        <div class="example-table-container">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class='text-left'>Date</th>
                <th class='text-left'>Skill Name</th>
                <th class='text-left'>Skill Level</th>
                <th class='text-left'>Remarks</th>
                <th class='text-center'>Action</th>
              </tr>
            </thead>
            <tbody>

              <!-- Skills Performance Data Start -->
              <tr *ngFor="let item of tempSkillsPerformanceData; let i=index">
                <td class='text-left'>{{item.SkillDate | date:'dd-MM-yyyy'}}</td>
                <td class='text-left'>{{item.SkillName}}</td>
                <td class='text-left'>{{item.RateSkillLevel}}</td>
                <td class='text-left'>{{item.SkillRemarks}}</td>
                <td class='text-center'>
                  <span class="fa fa-edit text-primary pointerCursor" (click)="editSkills(item)"></span>
                  &nbsp;&nbsp;
                  <span class="fa fa-trash text-danger pointerCursor" data-toggle="modal" data-target="#deleteModal"
                    (click)="deleteSkills(item)"></span>
                </td>
              </tr>
              <!-- Skills Performance Data End -->


              <tr *ngFor=" let item of skillsList; let i=index">
                <td class='text-left'>{{item.SkillDate | date:'dd-MM-yyyy'}}</td>
                <td class='text-left'>{{item.QlfctnSkillName}}</td>
                <td class='text-left'>{{item.RateSkillLevel}}</td>
                <td class='text-left'>{{item.SkillRemarks}}</td>
                <td class='text-center'>
                  <span class="fa fa-minus pointerCursor" (click)="removeSkills(i)"></span>
                </td>
              </tr>

              <tr>
                <td class='text-left'>
                  <p-calendar [(ngModel)]="skillDate" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"></p-calendar>
                </td>
                <td class='text-left'>
                  <p-dropdown appendTo="body" [options]="skillsNameList" filter="true" [(ngModel)]="skillCriteriaCd" placeholder="Group" [style]="{'width':'100%'}">
                    <ng-template let-itm pTemplate="item">
                      <div style="position: relative;height: 25px;">
                        <div style="font-size:14px;float:left;margin-top:4px;">{{itm.label}}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </td>
                <td class='text-left'>
                  <p-rating class="rating-size" [(ngModel)]="rateSkillLevel" [cancel]="false">
                  </p-rating>
                </td>
                <td class='text-left'>
                  <input type="text" pInputText [(ngModel)]="skillRemarks" class="fullwidth" placeholder="Remarks">
                </td>
                <td class="text-center">
                  <button mat-icon-button class='noneOutLine'><span class="fa fa-plus"
                      (click)="addSkills()"></span></button>
                </td>
              </tr>
            </tbody>
          </table>

          <!--button tag Row Starts-->
          <div class="row">
            <div class="col-md-1 text-left">
              <button mat-raised-button color="primary" (click)="saveSkills()">Save</button>
            </div>
            <div class="col-md-11 text-left">
              <button mat-raised-button (click)="clearSkills()">Reset</button>
            </div>
          </div>
          <!-- Button tag Row Ends -->
          <br>

        </div>
      </div>
      <!--end table row-->
    </mat-tab>
    <!-- Mat-Tab_03 Ends -->
  </mat-tab-group>
  <!--* Mat-Tab-Group Ends -->
</div>
<!--end container -->


<!--* -------- Reviews ------ -->

<!-- Hidden Table for Print and PDF files starts-->
<div class="container printArea" id="printAreaReviews" [hidden]=true>
  <div class="printDiv">

    <!--Start heading table -->
    <table>
      <tr>
        <td width="15%" style="border:none;">
          <img src="../../../assets/images/Ambit-Logo.svg" width="135px">
        </td>

        <td style="border:none;">
          <div class="commonCss cssHeading">Infovative Solutions</div>
          <div class="commonCss cssAddress">Office #209, 3rd Floor Anayat Plaza, G11 Markaz Islamabad.</div>
          <div class="commonCss cssContact">Mobile: 0313-1234567, Ph. 051-5544661</div>
        </td>
      </tr>
    </table>
    <!--End heading table -->

    <br /><br />

    <!--Start table Row-->
    <div class="row">
      <table id='contentReview'>
        <thead>
          <tr>
            <th>Sr #</th>
            <th>Review Date</th>
            <th>Employee Name</th>
            <th>Rate JobKnowledge</th>
            <th>Rate WorkQlty</th>
            <th>Rate Attendance</th>
            <th>Rate Communication</th>
            <th>Rate Dependability</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of reviewsList | search:'EmployeeName':tblSearchReviews  let i=index">
            <td>{{i+1}}</td>
            <td>{{item.ReviewDate}}</td>
            <td>{{item.EmployeeName}}</td>
            <td>{{item.RateJobKnowledge}}</td>
            <td>{{item.RateWorkQlty}}</td>
            <td>{{item.RateAttendance}}</td>
            <td>{{item.RateCommunication}}</td>
            <td>{{item.RateDependability}}</td>
          </tr>
        </tbody>
      </table>
    </div><!-- end table row -->
  </div>
</div>
<!-- Hidden Table for Print and PDF files ends-->

<!-- Hidden Table Starts for Excel and CSV files -->
<igx-grid #excelDataContentReviews [data]="excelDataListReviews" [autoGenerate]="false" height="null" width="null"
  [hidden]="true">
</igx-grid>
<!-- Hidden Table Ends  for Excel and CSV files -->

<!--* -------- Goals ------ -->

<!-- Hidden Table for Print and PDF files starts-->
<div class="container printArea" id="printAreaGoals" [hidden]=true>
  <div class="printDiv">

    <!--Start heading table -->
    <table>
      <tr>
        <td width="15%" style="border:none;">
          <img src="../../../assets/images/Ambit-Logo.svg" width="135px">
        </td>

        <td style="border:none;">
          <div class="commonCss cssHeading">Infovative Solutions</div>
          <div class="commonCss cssAddress">Office #209, 3rd Floor Anayat Plaza, G11 Markaz Islamabad.</div>
          <div class="commonCss cssContact">Mobile: 0313-1234567, Ph. 051-5544661</div>
        </td>
      </tr>
    </table>
    <!--End heading table -->

    <br /><br />

    <!--Start table Row-->
    <div class="row">
      <table id='contentGoal'>
        <thead>
          <tr>
            <th>Sr #</th>
            <th>Set Date</th>
            <th>Completion Date</th>
            <th>Goal Description</th>
            <th>Rate EmpAssessment</th>
            <th>Supervisor Name</th>
            <th>Rate SprvsrAssessment</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of projectsList | search:'SupervisorName':tblSearchGoals  let i=index">
            <td>{{i+1}}</td>
            <td>{{item.startDate}}</td>
            <td>{{item.finishDate}}</td>
            <td>{{item.projectDesc}}</td>
            <td>{{item.RateEmpAssessment}}</td>
            <td>{{item.SupervisorName}}</td>
            <td>{{item.RateSprvsrAssessment}}</td>
          </tr>
        </tbody>
      </table>
    </div><!-- end table row -->
  </div>
</div>
<!-- Hidden Table for Print and PDF files ends-->

<!-- Hidden Table Starts for Excel and CSV files -->
<igx-grid #excelDataContentGoals [data]="excelDataListGoals" [autoGenerate]="false" height="null" width="null"
  [hidden]="true">
</igx-grid>
<!-- Hidden Table Ends  for Excel and CSV files -->


<!--* -------- Skills ------ -->

<!-- Hidden Table for Print and PDF files starts-->
<div class="container printArea" id="printAreaSkills" [hidden]=true>
  <div class="printDiv">

    <!--Start heading table -->
    <table>
      <tr>
        <td width="15%" style="border:none;">
          <img src="../../../assets/images/Ambit-Logo.svg" width="135px">
        </td>

        <td style="border:none;">
          <div class="commonCss cssHeading">Infovative Solutions</div>
          <div class="commonCss cssAddress">Office #209, 3rd Floor Anayat Plaza, G11 Markaz Islamabad.</div>
          <div class="commonCss cssContact">Mobile: 0313-1234567, Ph. 051-5544661</div>
        </td>
      </tr>
    </table>
    <!--End heading table -->

    <br /><br />

    <!--Start table Row-->
    <div class="row">
      <table id='contentSkill'>
        <thead>
          <tr>
            <th>Sr #</th>
            <th>Skill Date</th>
            <th>Skill Name</th>
            <th>Rate AchvdLevel</th>
            <th>Skill History Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of skillsList | search:'SkillNameCd':tblSearchSkills  let i=index">
            <td>{{i+1}}</td>
            <td>{{item.SkillDate}}</td>
            <td>{{item.SkillNameCd}}</td>
            <td>{{item.rateSkillLevel}}</td>
            <td>{{item.SkillHistoryDescription}}</td>
          </tr>
        </tbody>
      </table>
    </div><!-- end table row -->
  </div>
</div>
<!-- Hidden Table for Print and PDF files ends-->

<!-- Hidden Table Starts for Excel and CSV files -->
<igx-grid #excelDataContentSkills [data]="excelDataListSkills" [autoGenerate]="false" height="null" width="null"
  [hidden]="true">
</igx-grid>
<!-- Hidden Table Ends  for Excel and CSV files -->


<!-- Delete Certificate Modal Window Starts -->
<div class="modal fade" id="deleteModal">
  <div class="modal-dialog shadow-lg-dark modal-md">
    <div class="modal-content">

      <!--start Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete</h4>

        <div>
          <button type="button" class="btn-ia cursorPointer text-right" (click)="delete()">
            <span class="fa fa-trash"></span> &nbsp;Delete
          </button>
          <button type="button" class="btn-ia cursorPointer" data-dismiss="modal">
            <span class="fa fa-times-circle"></span> &nbsp;Close
          </button>
        </div>

        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
      </div>
      <!--end Modal Header -->

      <!--start Modal body -->
      <div class="modal-body">
        <!--start 1st row-->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="fullwidth">
              <input matInput [(ngModel)]="userPassword" type="password" placeholder="Enter Password" required>
            </mat-form-field>
          </div>
        </div>
        <!--end 1st row-->
        <br />
        <!--start 2nd row-->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="fullwidth">
              <input matInput [(ngModel)]="userPINCode" type="password" placeholder="Enter PIN Code" required>
            </mat-form-field>
          </div>
        </div>
        <!--end 2nd row-->
        <br />
        <!--button tag-->
        <!-- <button mat-raised-button color="warn" (click)="delete()">Delete</button> -->
      </div>
      <!--end Modal body -->

      <!--start Modal footer -->
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div> -->
      <!--end Modal footer -->

    </div>
  </div>
</div>
<!-- Delete certificate Modal Window Ends -->