<br />
<!-- start menubar buttons -->
<div class="myContainer mat-elevation-z8 bgWhite">
  <!--start top nav box shadow div-->
  <div class="topnav boxShadow">
    <div>
      <!--class="container" -->
      <span class="fa iconContainer">
        <span class="fa icon-hr-jobprofile"> </span>
      </span>
      <h1> Employee Shifts</h1>
    </div>
  </div>
  <!-- end menubar buttons -->
</div>



<div class="myContainer bgWhite minHeight84 allBorder mb-1">
  <!--Start search textbox Row-->
  <div class="row">
    <div class="col-md-12">
      <!-- <mat-form-field class="fullwidth">
        <mat-icon matPrefix ><i class='fa fa-search'></i></mat-icon>
        <input matInput >
      </mat-form-field> -->
      <div class="searchBar">
        <div class="row mt-4 mb-1">

          <div class="col-md-3">
            <div class="row">
              <div class="col-md-1">
                <span class="fa icon-search"></span>
              </div>
              <div class="col-md-10 mt-n2">
                <input class="noneOutLine menuSearchBox" type="text" maxlength="32" placeholder="Employee Name"
                  [(ngModel)]="tblSearch">
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <!-- <mat-form-field class="fullwidth"> -->
            <mat-select class="noneOutLine" placeholder="Branch" [(ngModel)]="officeName" (ngModelChange)="getFilterItem('branch');getDepartment(officeName)">
              <mat-option *ngFor="let item of officeList" [value]="item.locationCd">{{item.locationName}}</mat-option>
            </mat-select>
            <!-- </mat-form-field> -->
          </div>

          <div class="col-md-3">
            <!-- <mat-form-field class="fullwidth"> -->
            <mat-select class="noneOutLine" placeholder="Department" [(ngModel)]="departmentName" (ngModelChange)="getFilterItem('dept');getDesignation(officeName,departmentName)">
              <mat-option *ngFor="let item of departmentList" [value]="item.deptCd">{{item.deptName}}</mat-option>
            </mat-select>
            <!-- </mat-form-field> -->
          </div>

          <div class="col-md-3">
            <!-- <mat-form-field class="fullwidth"> -->
            <mat-select placeholder="Designation" [(ngModel)]="designationName" (ngModelChange)="getFilterItem('desig')"> 
              <mat-option *ngFor="let item of designationList" [value]="item.jobDesigID">{{item.jobDesigName}}</mat-option>
            </mat-select>
            <!-- </mat-form-field> -->
          </div>

        </div>
      </div>
    </div>
  </div>
  <!--end search textbox Row-->
</div>



<div class="myContainer bgWhite minHeight84 allBorder">

  <!--start table row-->
  <div class="row">

    <div class="col-md-12">
      <table class="table table-striped bottomBorder">
        <thead>
          <tr class='d-flex'>
            <th class='col-1 text-center'>Sr #</th>
            <th class='col-2' [class.active]="order === 'indvdlFullName'" (click)="setOrder('indvdlFullName')">
              Employee Name
              <span class="fa fa-angle-double-down" [hidden]="reverse"></span>
              <span class="fa fa-angle-double-up" [hidden]="!reverse"></span>
            </th>

            <th class='col-2' [class.active]="order === 'jobDesigName'" (click)="setOrder('jobDesigName')">
              Designation
              <span class="fa fa-angle-double-down" [hidden]="reverse"></span>
              <span class="fa fa-angle-double-up" [hidden]="!reverse"></span>
            </th>

            <th class='col-2'>
              <!-- [class.active]="order === 'shift'" (click)="setOrder('shift')"> -->
              Shift
              <!-- <span class="fa fa-angle-double-down" [hidden]="reverse"></span> -->
              <!-- <span class="fa fa-angle-double-up" [hidden]="!reverse"></span> -->
            </th>

            <th class='col-2' [class.active]="order === 'branch'" (click)="setOrder('branch')">
              From Date
              <!-- <span class="fa fa-angle-double-down" [hidden]="reverse"></span>
                <span class="fa fa-angle-double-up" [hidden]="!reverse"></span> -->
            </th>

            <th class='col-2' [class.active]="order === 'department'" (click)="setOrder('department')">
              To Date
              <!-- <span class="fa fa-angle-double-down" [hidden]="reverse"></span>
                <span class="fa fa-angle-double-up" [hidden]="!reverse"></span> -->
            </th>
            <th class='col-1 text-left'>Action</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let item of employeeShift | search:'indvdlFullName,jobDesigName,locationName,deptName,jobDesigName': tblSearch let i=index"  class="d-flex">
            <td class='col-1 text-center'>{{i + 1}}</td>
            <td class='col-2'>{{item.indvdlFullName}}</td>
            <td class='col-2'>{{item.jobDesigName}}</td>


            <td class='col-2' *ngIf="item.fDate == null">
              <select placeholder="Shift" [(ngModel)]="item.shiftCd" class="form-control noneOutLine"> 
                <option *ngFor="let shft of shiftList" [value]="shft.shiftCd">{{shft.shiftName}}</option>
              </select>
            </td>
            <td class='col-2' *ngIf="item.fDate == null">
              <p-calendar [(ngModel)]="item.fromDate"></p-calendar>
            </td>
            <td class='col-2 text-left' *ngIf="item.fDate == null">
              <p-calendar [(ngModel)]="item.toDate"></p-calendar>
            </td>


            <td class='col-2' *ngIf="item.fDate != null">{{item.shiftName}}</td>
            <td class='col-2' *ngIf="item.fDate != null">{{item.fromDate | date}}</td>
            <td class='col-2' *ngIf="item.fDate != null">{{item.toDate | date}}</td>

            <td class='col-1 text-left'>
              
              <span *ngIf="item.fDate == null" class="fa tableIcon mt-1 pointerCursor" (click)="saveEmployeeShift(item)"><span class="fa icon-u-save"></span></span>

              <span *ngIf="item.fDate != null" class="fa tableIcon mt-1 pointerCursor" (click)="getFilterItem('empdetail', item)" data-toggle="modal" data-target="#editEmpShiftModal"><span class="fa icon-u-edit"></span></span>
              <span *ngIf="item.fDate != null" class="fa tableIcon mt-1 pointerCursor" (click)="getFilterItem('empdetail', item)" data-toggle="modal" data-target="#empShiftDetailModal"><span class="fa icon-u-view"></span></span>

            </td>
          </tr>
          
        </tbody>
      </table>

      <!-- Pagination Starts -->
      <div class="col-md-12 text-right">
        <div class="paginationBox">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
        <div class="paginationBox">
          <mat-form-field class="pagenateList">
            <mat-select [(ngModel)]="itemPerPage">
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="10">10</mat-option>
              <mat-option value="15">15</mat-option>
              <mat-option value="20">20</mat-option>
              <mat-option value="25">25</mat-option>
              <mat-option value="30">30</mat-option>
              <mat-option value="35">35</mat-option>
              <mat-option value="40">40</mat-option>
              <mat-option value="45">45</mat-option>
              <mat-option value="50">50</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="paginationBox">
          Item per page: &nbsp;&nbsp;
        </div>
      </div>
      <!-- Pagination Ends -->
    </div>
    <!--end table row-->
  </div>

</div>





<!--/////////////////////////////////////////////
<!-- ///////////////Modal Window//////////////////
<!-- /////////////////////////////////////////////


<!-- Start Modal Window to view employee data -->
<div class="modal fade" id="empShiftDetailModal">
  <div class="modal-dialog shadow-lg-dark modal-lg">
    <div class="modal-content modal-bottom-border-blue">

      <!--start Modal Header -->
      <div class="modal-header bg-skyBlue borderBlue5px">
        <h4 class="modal-title">View Employee Shifts</h4>
        <div>
          <button type="button" class="btn-close cursorPointer" data-dismiss="modal"></button>
        </div>
      </div>
      <!--end Modal Header -->

      <!--start Modal body -->
      <div class="modal-body">

        <div class="row mb-2">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <label class="text-darkblue font0-8em">Employee Name</label>
              </div>
            </div>
            <div class="row mt-n2">
              <div class="col-md-12">
                <label>{{lblEmpName}}</label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <label class="text-darkblue font0-8em">Designation</label>
              </div>
            </div>
            <div class="row mt-n2">
              <div class="col-md-12">
                <label>{{lblEmpDesig}}</label>
              </div>
            </div>
          </div>
        </div>
        <!--table row-->

        <div class="row mb-2">
          <div class="col-md-12">
            <table class="table table-striped">
              <thead>
                <tr class="d-flex">
                  <th class="col-4">Shift</th>
                  <th class="col-4">From Date</th>
                  <th class="col-4">To Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of employeeShiftDetail let i=index" class="d-flex">
                  <td class="col-4">{{item.shiftName}}</td>
                  <td class="col-4">{{item.fromDate | date}}</td>
                  <td class="col-4">{{item.toDate | date}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="offset-md-9 col-md-3">
            <button mat-raised-button class="btn fullwidth pt-1 pb-1 noneOutLine" style="border-radius: 0;">
              &nbsp;&nbsp;&nbsp;OK&nbsp;&nbsp;&nbsp;
            </button>
          </div>
        </div>
        
      </div>
      <!--end Modal body -->

    </div>
  </div>
</div>
<!-- End Modal Window to view employee data -->



<!-- Start Modal Window to view employee data -->
<div class="modal fade" id="editEmpShiftModal">
  <div class="modal-dialog shadow-lg-dark modal-lg">
    <div class="modal-content modal-bottom-border-blue">

      <!--start Modal Header -->
      <div class="modal-header bg-skyBlue borderBlue5px">
        <h4 class="modal-title">Edit or Add New Employee Shifts</h4>
        <div>
          <button type="button" class="btn-close cursorPointer" data-dismiss="modal"></button>
        </div>
      </div>
      <!--end Modal Header -->

      <!--start Modal body -->
      <div class="modal-body">

        <div class="row mb-2">

          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <label class="text-darkblue font0-8em">Employee Name</label>
              </div>
            </div>
            <div class="row mt-n2">
              <div class="col-md-12">
                <label>{{lblEmpName}}</label>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <label class="text-darkblue font0-8em">Designation</label>
              </div>
            </div>
            <div class="row mt-n2">
              <div class="col-md-12">
                <label>{{lblEmpDesig}}</label>
              </div>
            </div>
          </div>

        </div>

        <!--table row-->
        <div class="row mb-2">
          <div class="col-md-12">
            <table class="table table-striped">
              <thead>
                <tr class="d-flex">
                  <th class="col-3">Shift</th>
                  <th class="col-4">From Date</th>
                  <th class="col-4">To Date</th>
                  <th class="col-1 text-left">Action</th>
                </tr>
              </thead>
              <tbody>

                <tr class="d-flex">
                  <td class='col-3'>
                    <select placeholder="Shift" [(ngModel)]="ddlShift" class="form-control noneOutLine"> 
                      <option *ngFor="let shft of shiftList" [value]="shft.shiftCd">{{shft.shiftName}}</option>
                    </select>
                  </td>
                  <td class='col-4'>
                    <p-calendar [(ngModel)]="dtpFromDate" ></p-calendar>
                  </td>
                  <td class='col-4'>
                    <p-calendar [(ngModel)]="dtpToDate" ></p-calendar>
                  </td>
                  <td class='col-1 text-center'>
                    <span class="fa tableIcon mt-1 pointerCursor" (click)="updateEmployeeShift()">
                      <span class="fa icon-u-save"></span>
                    </span>
                  </td>
                </tr>

                <tr *ngFor="let item of employeeShiftDetail let i=index"  class="d-flex" >

                  <td class='col-3'>{{item.shiftName}}</td>
                  <td class='col-4'>{{item.fromDate | date}}</td>
                  <td class='col-4'>{{item.toDate | date}}</td>

                  <td class='col-1 text-center'>
                    <span class="fa tableIcon mt-1 pointerCursor" (click)="editShift(item)"> 
                      <span class="fa icon-u-edit"></span> 
                    </span>
                  </td>

                </tr>

              </tbody>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="offset-md-9 col-md-3">
            <button type="button" mat-raised-button class="btn fullwidth pt-1 pb-1 noneOutLine rounded-0" >&nbsp;&nbsp;&nbsp;OK&nbsp;&nbsp;&nbsp;</button>
          </div>
        </div>

      </div>
      <!--end Modal body -->

    </div>
  </div>
</div>
<!-- End Modal Window to view employee data -->
