<!-- start menubar buttons -->
<div class="topnav boxShadow">
    <div>
      <!--class="container" -->
      <span class="fa iconContainer">
        <span class="fa icon-hr-post"> </span>
      </span>
      <h1> Year Calender</h1>
  
    </div>
  </div>
  <!-- end menubar buttons -->
  <br/><br/>
<div class="myContainer mat-elevation-z8 bgWhite">
  <p-fullCalendar [events]="events" [options]="options"></p-fullCalendar>
</div>
<br/>


<!-- Start Modal Window to view employee data -->
<div class="modal fade" id="eventModal">
  <div class="modal-dialog shadow-lg-dark modal-lg">
      <div class="modal-content">

        <!--start Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Add Event</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!--end Modal Header -->

          <!--start Modal body -->
          <div class="modal-body">
            <!--1st row-->
              <div class="row">
                <div class="col-md-2">
                  Date: &nbsp;
                </div>
                <div class="col-md-10">
                  <p-calendar [(ngModel)]="eventDate" [showIcon]="true"></p-calendar>
                </div>
              </div>
              <!--end 1st row-->
              <br/>
              <!--2nd row-->
              <div class="row">
                <div class="col-md-2">
                  Start Time: &nbsp;
                </div>
                <div class="col-md-3">
                  <p-calendar [(ngModel)]="startTime" [timeOnly]="true" [style]="{'width':'100%'}"></p-calendar>
                </div>
                <div class="offset-md-1 col-md-2">
                    End Time: &nbsp;
                </div>
                <div class="col-md-3">
                  <p-calendar [(ngModel)]="endTime" [timeOnly]="true" [style]="{'width':'100%'}"></p-calendar>
                </div>
              </div>
              <!--end 2nd row-->
              <br/>
              <div class="row">
                <div class="col-md-2"><br/>
                  Event Type: &nbsp;
                </div>
                <div class="col-md-3">
                  <br/>
                  <p-dropdown [options]="eventTypeList" [(ngModel)]="eventType" placeholder="Select Event Type" optionLabel="name" [showClear]="true"></p-dropdown>
                </div>
                <div class="offset-md-3 col-md-4">
                  <mat-form-field class="fullwidth">
                    <input matInput placeholder="Event Remarks" [(ngModel)]="txtRemarks" required>
                  </mat-form-field>
                </div>
              </div>
              <br/>
              <div class="row">
                <div class="col-md-11">
                  <button mat-raised-button color="primary" (click)="saveEvent()">Save</button>
                </div>
              </div>
          </div>
          <!--end Modal body -->
  
          <!--start Modal footer -->
          <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
          <!--end Modal footer -->
  
      </div>
  </div>
</div>
<!-- End Modal Window to view employee data -->

<!-- Start Modal Window to view employee data -->
<div class="modal fade" id="calendarModal">
  <div class="modal-dialog shadow-lg-dark modal-lg">
      <div class="modal-content">

        <!--start Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Generate Calendar</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!--end Modal Header -->

          <!--start Modal body -->
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <h5><b>Select Weekdays: &nbsp;</b></h5>
              </div>
            </div>
            <!--1st row-->
            <div class="row">
              <div class="col-md-12">
                  <mat-checkbox>Monday</mat-checkbox>&nbsp;&nbsp;
                  <mat-checkbox>Tuesday</mat-checkbox>&nbsp;&nbsp;
                  <mat-checkbox>Wednesday</mat-checkbox>&nbsp;&nbsp;
                  <mat-checkbox>Thursday</mat-checkbox>&nbsp;&nbsp;
                  <mat-checkbox>Friday</mat-checkbox>&nbsp;&nbsp;
                  <mat-checkbox>Saturday</mat-checkbox>&nbsp;&nbsp;
                  <mat-checkbox>Sunday</mat-checkbox>
              </div>
            </div>
            <!--end 1st row-->
            <br/>
            <!--2nd row-->
            <div class="row">
              <table class="table table-striped fullwidth">
                <thead>
                  <tr class="d-flex">
                    <th class="col-2 text-center">Sr #</th>
                    <th class="col-4 text-center">Holiday Name</th>
                    <th class="col-4 text-center">Date</th>
                    <th class="col-2 text-center">Add</th>
                  </tr>
                </thead>
                <tbody>  
                  <tr class="d-flex">
                    <td class="col-2 text-center">1</td>
                    <td class="col-4 text-center">
                      <input type="text" pInputText />
                    </td>
                    <td class="col-4 text-center">
                      <p-calendar [(ngModel)]="eventDate" [showIcon]="true"></p-calendar>
                    </td>
                    <td class="col-2 text-center">
                      <span class="fa fa-plus pointerCursor"></span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!--end 2nd row-->
            <br/>
            <div class="row">
              <div class="col-md-12">
                <button mat-raised-button color="primary" (click)="saveEvent()">Save</button>
              </div>
            </div>
          </div>
          <!--end Modal body -->
  
          <!--start Modal footer -->
          <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
          <!--end Modal footer -->
  
      </div>
  </div>
</div>
<!-- End Modal Window to view employee data -->
  