<br />
<!-- start menubar buttons -->
<div class="myContainer mat-elevation-z8 bgWhite">
  <!--start top nav box shadow div-->
  <div class="topnav boxShadow">
    <!--class="container" -->
    <span class="fa iconContainer">
      <span class="fa icon-hr-post"> </span>
    </span>
    <h1> Calender</h1>
  </div>
  <!-- end menubar buttons -->
</div>
<div class="myContainer bgWhite mb-1 mt-3">
  <div class="row mt-3">

    <!--Add buttons to initiate auth sequence and sign out-->
    <button id="authorize_button" style="display: none;">Authorize</button>
    <button id="signout_button" style="display: none;">Sign Out</button>

    <pre id="content" style="white-space: pre-wrap;"></pre>

  </div>
</div>
