<div class="bg-lighter-grey innerContainer allBorder mt-5 center-block">
  <div class="p-4">
    <div class="row">
      <div class="col-md-9 text-left">
        <label class="font-weight-normal dashboardHeadingFont"> Attendance Dashboard </label>
      </div>
      <div class="col-md-3 text-right">
        <mat-form-field class="fullwidth my-form">
          <mat-select class="my-form" placeholder="Select Branch" required>
            <mat-option *ngFor=" let item" [value]="item.companyId">
              {{item.companyName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="bgWhite boxShadow">
          <div class="row p-4">
            <div class="col-md-7 text-left">
              <div class="row">
                <div class="col-md-12">
                  <div class="imgInOffice"></div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-12">
                  <label class="mb-0" style="font-size: 0.9em;">IN OFFICE TODAY</label>
                </div>
              </div>
            </div>
            <div class="col-md-5 text-right">
              <div class="row">
                <div class="col-md-12">
                  <label class="pt-1" style="font-size: 2.5em;">{{lblPresentEmp}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="bgWhite boxShadow">
          <div class="row p-4">
            <div class="col-md-8 text-left">
              <div class="row">
                <div class="col-md-12">
                  <div class="imgOnLeave"></div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-12">
                  <label class="mb-0" style="font-size: 0.9em;">ON LEAVE - TODAY</label>
                </div>
              </div>
            </div>
            <div class="col-md-4 text-right">
              <div class="row">
                <div class="col-md-12">
                  <label class="pt-1" style="font-size: 2.5em;">0</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="bgWhite boxShadow">
          <div class="row p-4">
            <div class="col-md-10 text-left">
              <div class="row">
                <div class="col-md-12">
                  <div class="imgAtHome"></div>
                </div>
              </div>
              <div class="row mt-n3">
                <div class="col-md-12">
                  <label class="mb-0 pt-2" style="font-size: 0.9em;">REMOTE/WORK FROM HOME</label>
                </div>
              </div>
            </div>
            <div class="col-md-2 text-left">
              <div class="row">
                <div class="col-md-12">
                  <label class="pt-1" style="font-size: 2.5em;">{{lblremoteEmp}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="bgWhite boxShadow">
          <div class="row p-4">
            <div class="col-md-9 text-left">
              <div class="row">
                <div class="col-md-12">
                  <div class="imgAbsent"></div>
                </div>
              </div>
              <div class="row mt-1">
                <div class="col-md-12">
                  <label class="mb-0" style="font-size: 0.9em;">ABSENT TODAY</label>
                </div>
              </div>
            </div>
            <div class="col-md-3 text-right">
              <div class="row">
                <div class="col-md-12">
                  <label class="pt-1" style="font-size: 2.5em;">{{lblAbsentEmp}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <div class="bgWhite pt-2" style="height: 350px;"></div>
      </div>
      <div class="col-md-6">
        <div class="bgWhite p-3" style="height: 350px;">
          <div class="row mt-1">
            <div class="col-md-6 text-left">
              <label class="font0-9em">RECENT ENTRIES</label>
            </div>
            <div class="col-md-6 text-right">
              <label class="font0-9em">Today is {{lblDayName}}, {{curDate}}</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table table-striped">
                <tbody>
                  <tr class="d-flex" *ngFor="let item of recentEmpEntry">
                    <td class="col-6 text-left">{{item.empName}}</td>
                    <td class="col-6 text-right">{{item.curTime}}, {{item.noOfMin}} mins ago</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <div class="bgWhite p-4" style="height: 350px;">
          <div class="row">
            <div class="col-md-12">
              <label class="font0-9em">NATIONAL HOLIDAYS</label>
            </div>
          </div>
          <div class="row overflow-auto">
            <div class="col-md-12">
              <div class="row mt-2">
                <div class="col-md-6 text-Left">
                  <div *ngIf='oddHolidays.length>evenHolidays.length;'>
                    <div *ngFor="let item of oddHolidays">
                      <div class="row">
                        <div class="col-md-2">
                          <span class="fa fa-circle onfield" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-10 text-left">
                          <label class="onfield font0-9em ml-n3">{{item.holidayName}}</label>
                        </div>
                      </div>
                      <div class="row mt-n2">
                        <div class="offset-md-2 col-md-10 text-left">
                          <label class="font0-8em remote ml-n3">{{item.dyName}},{{item.month}}
                            {{item.dyofMon}}, {{item.yr}}
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf='oddHolidays.length<evenHolidays.length;'>
                    <div *ngFor="let item of evenHolidays">
                      <div class="row">
                        <div class="col-md-2">
                          <span class="fa fa-circle inoffice" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-10 text-left">
                          <label class="inoffice font0-9em ml-n3">{{item.holidayName}}</label>
                        </div>
                      </div>
                      <div class="row mt-n2">
                        <div class="offset-md-2 col-md-10 text-left">
                          <label class="font0-8em remote ml-n3">{{item.dyName}},{{item.month}}
                            {{item.dyofMon}}, {{item.yr}}
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 text-right">
                  <div *ngIf='oddHolidays.length>evenHolidays.length;'>
                    <div *ngFor="let item of evenHolidays">
                      <div class="row">
                        <div class="col-md-2">
                          <span class="fa fa-circle inoffice" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-10 text-left">
                          <label class="inoffice font0-9em ml-n3">{{item.holidayName}}</label>
                        </div>
                      </div>
                      <div class="row mt-n2">
                        <div class="offset-md-2 col-md-10 text-left">
                          <label class="font0-8em remote ml-n3">{{item.dyName}},{{item.month}}
                            {{item.dyofMon}}, {{item.yr}}
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf='oddHolidays.length<evenHolidays.length;'>
                    <div *ngFor="let item of oddHolidays">
                      <div class="row">
                        <div class="col-md-2">
                          <span class="fa fa-circle onfield" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-10 text-left">
                          <label class="onfield font0-9em ml-n3">{{item.holidayName}}</label>
                        </div>
                      </div>
                      <div class="row mt-n2">
                        <div class="offset-md-2 col-md-10 text-left">
                          <label class="font0-8em remote ml-n3">{{item.dyName}},{{item.month}}
                            {{item.dyofMon}}, {{item.yr}}
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="bgWhite pt-4 pl-4 pr-4" [chart]="Area_chart" style="height:350px;"></div>
      </div>
    </div>
  </div>

</div>
