
.btn-Square{
    border: 4px solid #5F84D5;
    border-top: 0px;
    border-bottom: 13px solid #5F84D5;
    background-color: #5F84D5;
    height: 44px;
    width: 44px;
    text-align: center;
    color: #fff;
    padding-top: -15px;
    font-size: 30px;
}

.btn-Square:hover{
    cursor: pointer;
}