
.btn-Square{
    border: 0px solid red;
    // background-color: #5F84D5;
    background-color: transparent;
    height: 44px;
    width: 44px;
    text-align: center;
    color: #fff;
    padding-top: 9px;
    font-size: 40px;
}

.btn-Square:hover{
    cursor: pointer;
}