<br />
<!-- start menubar buttons -->
<div class="myContainer mat-elevation-z8 bgWhite">
  <!--start top nav box shadow div-->
  <div class="topnav boxShadow">
    <!-- start heading & logo div-->
    <div>

      <span class="fa iconContainer">
        <span class="fa icon-h-hrletter"></span>
      </span>
      <h1> HR Letters</h1>

      <!--start add role permission button-->
      <a class="pointerCursor" data-toggle="modal" data-target="#docModal">
        <i class="fa fa-plus-circle"></i>
        UPLOADS
      </a>
      <!--end add role permission button-->
    </div>
    <!-- end heading & logo div-->
  </div>
  <!--end top nav box shadow div-->
</div>
<!-- end menubar buttons -->

<!--start myContainer div-->
<div class="myContainer bgWhite minHeight84 allBorder">
  <!--Start 1st Row-->
  <div class="row">
    <!--start search textbox column-->
    <div class="col-md-12">
      <div class="searchBar">
        <span class="fa icon-search"></span>
        <input class="noneOutLine menuSearchBox" type="text" maxlength="32" placeholder="Search"
          [(ngModel)]="tblSearch">
      </div>
    </div>
    <!--end search textbox column-->
  </div>
  <!--end 1st Row-->

  <!--Start table Row-->
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped fullwidth">
        <thead>
          <tr class="d-flex">
            <th class="col-2 text-left">Sr No.</th>
            <th [class.active]="order === 'docName'" (click)="setOrder('docName')"
              class="col-4 pointerCursor text-left ">
              Document Name
              <span class="fa fa-angle-double-down" [hidden]="reverse"></span>
              <span class="fa fa-angle-double-up" [hidden]="!reverse"></span>
            </th>
            <th class="col-6 text-left">Delete</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let item of userDetail | search:'UserName,Email': query" class='d-flex'> -->
          <tr class='d-flex'
            *ngFor="let doc of documentList | search:'docName':tblSearch  | paginate: { itemsPerPage: itemPerPage, currentPage: p, id: 'first' }  | orderBy: order:reverse:'case-insensitive' let i=index">
            <td class='col-2 text-left'>{{i+1}}</td>
            <td class='col-4 text-left'><a href="../assets/images/OrgDocuments/{{doc.docName}}.{{doc.docExtension}}"
                download>{{doc.docName}}</a></td>
            <td class='col-6 text-left'>
              <span class="fa tableIcon pointerCursor" (click)="delete(doc)">
                <span class="fa icon-u-delete"></span>
              </span>
            </td>
          </tr>
        </tbody>
      </table>


      <!-- Pagination Starts -->
      <div class="col-md-12 text-right">
        <div class="paginationBox">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
        <div class="paginationBox">
          <mat-form-field class="pagenateList">
            <mat-select [(ngModel)]="itemPerPage">
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="10">10</mat-option>
              <mat-option value="15">15</mat-option>
              <mat-option value="20">20</mat-option>
              <mat-option value="25">25</mat-option>
              <mat-option value="30">30</mat-option>
              <mat-option value="35">35</mat-option>
              <mat-option value="40">40</mat-option>
              <mat-option value="45">45</mat-option>
              <mat-option value="50">50</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="paginationBox">
          Item per page: &nbsp;&nbsp;
        </div>
      </div>
      <!-- Pagination Ends -->

    </div>

  </div>
  <!-- end table row -->
</div>
<!--end myContainer div-->

<br />


<!-- Start Modal Window -->
<div class="modal fade" id="docModal">
  <!--start modal window dialog-->
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <!--start modal window contents -->
    <div class="modal-content modal-bottom-border-blue">
      <!--start user Modal Header -->
      <div class="modal-header bg-skyBlue borderBlue5px">
        <h4 class="modal-title">Upload Document</h4>
        <div>
          <button type="button" class="btn-close cursorPointer" data-dismiss="modal"></button>
        </div>
      </div>
      <!--end user Modal Header -->

      <!--start user Modal body -->
      <div class="modal-body m-3">
        <!--start 1st row -->
        <div class="row">
          <!--start fields column-->
          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="Document Title" [(ngModel)]="documentTitle" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <br />
            <input type="file" (change)="onFileSelected($event)" [(ngModel)]="docFile" />

            <!--start buttons row -->
            <div class="row mt-3">
              <div class="col-md-6">
                <button mat-raised-button class="btn fullwidth pt-1 pb-1 noneOutLine" (click)="clear()"
                  style="border-radius: 0;">
                  &nbsp;&nbsp;&nbsp;RESET&nbsp;&nbsp;&nbsp;
                </button>
              </div>
              <div class="col-md-6">
                <button mat-raised-button class="btn fullwidth pt-1 pb-1 noneOutLine" (click)="save()"
                  style="border-radius: 0;">
                  &nbsp;&nbsp;&nbsp;SAVE&nbsp;&nbsp;&nbsp;
                </button>
              </div>
            </div>
            <!--end buttons row -->
          </div>
          <!--end fields column-->
        </div>
        <!--end 1st row -->
      </div>
      <!--end user Modal body -->
    </div>
    <!--end modal window contents -->
  </div>
  <!--end modal window dialog-->
</div>
<!-- End Modal Window -->
