<!-- start menubar buttons -->
<div class="topnav boxShadow">
  <div>
    <!--class="container" -->
    <span class="fa iconContainer">
      <span class="fa icon-hr-jobprofile" > </span>
    </span>
    <h1> Job Profile</h1>

    <!-- (click)="downloadExcel()" -->
    <a class="pointerCursor">
      <i class="fa fa-file-excel-o"></i>
      Excel
    </a>

    <!-- (click)="downloadCSV()" -->
    <a class="pointerCursor">
      <i class="fa fa-file-text-o"></i>
      CSV
    </a>

    <!-- (click)="downPDF()" -->
    <a class="pointerCursor">
      <i class="fa fa-file-pdf-o"></i>
      PDF
    </a>

    <!-- (click)="printDiv()" -->
    <a class="pointerCursor">
      <i class="fa fa-print"></i>
      Print
    </a>

    <a class="pointerCursor" data-toggle="modal" data-target="#profileModal" (click)="clear()">
      <i class="fa fa-plus-square"></i>
      Add New
    </a>

  </div>
</div>
<!-- end menubar buttons -->


<!--tabs row-->
<div class="myContainer mat-elevation-z8 bgWhite">
  <!--Start search textbox Row-->
  <div class="row tab-margin">
    <div class="col-md-12">
      <mat-form-field class="fullwidth">
        <input matInput [(ngModel)]="tblSearch" placeholder="Search">
      </mat-form-field>
      <i class="fab fa-accessible-icon"></i>
    </div>
  </div>
  <!--end search textbox Row-->
  

<div class="row">
  <table class="table table-striped">
    <thead>
      <tr class='d-flex'>
        <th class='col-1 text-center'>Sr #</th>
        <th class='col-2 text-center'>Office Name</th>
        <th class='col-1'>Dept</th>
        <th class='col-1'>Section</th>
        <th class='col-1 text-center'>Job Title</th>
        <th class='col-1 text-center'>Type</th>
        <th class='col-1 text-center'>Quantity</th>
        <th class='col-1 text-center'>Qualification</th>
        <th class='col-1 text-center'>Experience</th>
        <th class='col-1 text-center'>Edit</th>
        <th class='col-1 text-center'>Delete</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let item of userDetail | search:'UserName,Email': query" class='d-flex'> -->
      <tr class='d-flex'>
        <td class='col-1 text-center'>1</td> 
        <td class='col-2 text-center'>Head Quarter</td>
        <td class='col-1'>Finance</td>             
        <td class='col-1'>BK&C</td>             
        <td class='col-1 text-center'>AD</td>             
        <td class='col-1 text-center'>Regular</td>             
        <td class='col-1 text-center'>1</td>
        <td class='col-1 text-center'>ACCA</td>
        <td class='col-1 text-center'>5 years</td>
        <td class='col-1 text-center'>
          <span class="fa fa-edit pointerCursor"></span>
        </td>
        <td class='col-1 text-center'>
          <span class="fa fa-trash pointerCursor" data-toggle="modal" data-target="#deleteModal"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!--end table row-->  
</div>
<!--end tabs row-->

<!-- Start Modal Window to add new job profile -->
<div class="modal fade" id="profileModal">
<div class="modal-dialog shadow-lg-dark modal-lg">
  <div class="modal-content">
    <!--start Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title">Add Job Profile</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <!--end Modal Header -->


    <!--start Modal body -->
    <div class="modal-body">
        
      <!--start horizontal Stepper -->
      <mat-horizontal-stepper linear>

        <!--start 1st Step -->
        <mat-step [stepControl]="formGroup1" optional>
          <!--stepper 2nd label-->
          <ng-template matStepLabel><b>Jobs</b></ng-template>
          <!--start 2nd step form control div-->

            <!--start 1st row-->
            <br/>
            <div class="row">
              <div class="col-md-2">
                <span class="label">Job Title</span>
              </div>
              <div class="col-md-10">
                <p-dropdown [options]="jobsList" [(ngModel)]="jobTitle" (onChange)="getFilterItem('jobs')" placeholder="Job Title" filter="true" [style]="{'width':'100%'}">
                  <ng-template let-itm pTemplate="item">
                    <div style="position: relative;height: 25px; z-index: 100;">
                      <div style="font-size:14px;float:left;margin-top:4px;">{{itm.label}}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
                <br/>
              </div>
            </div>
            <!-- filter="true" [showClear]="true" -->
            <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/>
            <!--end 1st row-->
            
            <!--start next step button div-->
            <div class="text-right">
              <button mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
            <!--end next step button div-->
        </mat-step>
        <!--end 1st Step -->



        <!--start 2nd Step -->
        <mat-step [stepControl]="formGroup2" optional>
          <!--stepper 2nd label-->
          <ng-template matStepLabel><b>Qualification</b></ng-template>
          <!--start 2nd step form control div-->


            <!--start 1st row-->
            <br/>
            <div class="row">
              <div class="col-md-2">
                <span class="label">Degree</span>
              </div>
              <div class="col-md-10">
                <p-dropdown [options]="degreeList" [(ngModel)]="ddlDegree" (onChange)="getFilterItem('degree')" placeholder="Degree" filter="true" [style]="{'width':'100%'}">
                  <ng-template let-itm pTemplate="item">
                    <div style="position: relative;height: 25px; z-index: 100;">
                      <div style="font-size:14px;float:left;margin-top:4px;">{{itm.label}}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
                <br/>
              </div>
            </div>
            <!-- filter="true" [showClear]="true" -->
            <!--end 1st row-->
            


            <!--start 2nd row-->
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="fullwidth">
                  <input matInput placeholder="Criteria Required Level" [(ngModel)]="degreeReqLevel" type="number" min="1" max="99">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="fullwidth">
                  <input matInput placeholder="Criteria Maximum Level" [(ngModel)]="degreeMaxLelvel" type="number" min="1" max="99">
                </mat-form-field>
              </div>
            </div>
            <br/>
            <!--end 2nd row-->
            


            <!--start 3rd row-->
            <div class="row">
              <div class="col-md-6">
                Preference Indicator
              </div>
              <div class="col-md-6">
                  <p-checkbox [(ngModel)]="chkDegreePI" binary="true"></p-checkbox>
              </div>
            </div>
            <br/>
            <!--end 3rd row-->



            <!--start next step button div-->
            <div class="text-right">
              <button mat-raised-button color="primary" (click)="addDegree()">Add</button>
            </div>
            <br/>
            <!--end next step button div-->
            


            <!--table row-->
            <div class="row">
              <table class="table table-striped">
                <thead>
                  <tr class='d-flex'>
                    <th class='col-1 text-center'>Sr #</th>
                    <th class='col-10'>Degree Title</th>
                    <th class='col-1 text-center'>Delete</th>
                  </tr>
                </thead>
                <tbody>
                    <!-- | search:'UserName,Email': query -->
                  <tr *ngFor="let item of tempDegreeList " class='d-flex'>
                    <td class='col-1 text-center'>1</td> 
                    <td class='col-2'>{{item.DegreeLabel}}</td>
                    <td class='col-1'>{{item.QlfctnRuleCriteriaCD}}</td>
                    <td class='col-1'>{{item.ReqdQlfctnRuleNo}}</td>
                    <td class='col-1'>{{item.QlfctnCriteriaCD}}</td>
                    <td class='col-1'>{{item.QlfctnTypeCd}}</td>
                    <td class='col-1'>{{item.QlfctnCD}}</td>
                    <td class='col-1'>{{item.QlfctnCriteriaReqdLvl}}</td>
                    <td class='col-1'>{{item.QlfctnCriteriaMaxLvl}}</td>
                    <td class='col-1'>{{item.PrefIndctr}}</td>

                    <td class='col-1 text-center'>
                      <span class="fa fa-trash pointerCursor" data-toggle="modal" data-target="#deleteModal"></span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <br/>
            <!--end table row-->


            
            <!--start next step button div-->
            <div class="text-right">
              <button mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
            <!--end next step button div-->
          <!--end 2nd step form control div-->
        </mat-step>
        <!--end 2nd Step -->



        <!--start 3rd Step -->
        <mat-step [stepControl]="formGroup3" optional>
        <!--stepper 3rd label-->
        <ng-template matStepLabel><b>Certificate</b></ng-template>
        <!--start 3rd step form control div-->


          <!--start 1st row-->
          <br/>
          <div class="row">
            <div class="col-md-2">
              <span class="label">Certificate</span>
            </div>
            <div class="col-md-10">
              <p-dropdown [options]="certificateList" [(ngModel)]="ddlCertificate" (onChange)="getFilterItem('certificate')" placeholder="Certificate" filter="true" [style]="{'width':'100%'}">
                <ng-template let-itm pTemplate="item">
                  <div style="position: relative;height: 25px; z-index: 100;">
                    <div style="font-size:14px;float:left;margin-top:4px;">{{itm.label}}</div>
                  </div>
                </ng-template>
              </p-dropdown>
              <br/>
            </div>
          </div>
          <!-- filter="true" [showClear]="true" -->
          <!--end 1st row-->
          


          <!--start 2nd row-->
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="fullwidth">
                <input matInput placeholder="Criteria Required Level" [(ngModel)]="certificateReqLevel" type="number" min="1" max="99">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="fullwidth">
                <input matInput placeholder="Criteria Maximum Level" [(ngModel)]="certificateMaxLelvel" type="number" min="1" max="99">
              </mat-form-field>
            </div>
          </div>
          <br/>
          <!--end 2nd row-->
          


          <!--start 3rd row-->
          <div class="row">
            <div class="col-md-6">
              Preference Indicator
            </div>
            <div class="col-md-6">
                <p-checkbox [(ngModel)]="chkCertificatePI" binary="true"></p-checkbox>
            </div>
          </div>
          <br/>
          <!--end 3rd row-->



          <!--start next step button div-->
          <div class="text-right">
            <button mat-raised-button color="primary" (click)="addCertificate()">Add</button>
          </div>
          <br/>
          <!--end next step button div-->
          


          <!--table row-->
          <div class="row">
            <table class="table table-striped">
              <thead>
                <tr class='d-flex'>
                  <th class='col-1 text-center'>Sr #</th>
                  <th class='col-10'>Certificate Title</th>
                  <th class='col-1 text-center'>Delete</th>
                </tr>
              </thead>
              <tbody>
                  <!-- | search:'UserName,Email': query -->
                <tr *ngFor="let item of tempCertificateList " class='d-flex'>
                  <td class='col-1 text-center'>1</td> 
                  <td class='col-2'>{{item.DegreeLabel}}</td>
                  <td class='col-1'>{{item.QlfctnRuleCriteriaCD}}</td>
                  <td class='col-1'>{{item.ReqdQlfctnRuleNo}}</td>
                  <td class='col-1'>{{item.QlfctnCriteriaCD}}</td>
                  <td class='col-1'>{{item.QlfctnTypeCd}}</td>
                  <td class='col-1'>{{item.QlfctnCD}}</td>
                  <td class='col-1'>{{item.QlfctnCriteriaReqdLvl}}</td>
                  <td class='col-1'>{{item.QlfctnCriteriaMaxLvl}}</td>
                  <td class='col-1'>{{item.PrefIndctr}}</td>

                  <td class='col-1 text-center'>
                    <span class="fa fa-trash pointerCursor" data-toggle="modal" data-target="#deleteModal"></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <br/>
          <!--end table row-->


          
          <!--start next step button div-->
          <div class="text-right">
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>
          <!--end next step button div-->
        <!--end 3rd step form control div-->
        </mat-step>
        <!--end 3rd Step --> 



        <!--start 4th Step -->
        <mat-step [stepControl]="formGroup4" optional>
          <!--stepper 4th label-->
          <ng-template matStepLabel><b>Experience</b></ng-template>
          <!--start 4th step form control div-->
            <!--start 1st row-->
            <div class="row">
              <div class="col-md-4">
                <br/>
                <h5>Time Period</h5>
              </div>
              <div class="col-md-4">
                <mat-form-field class="fullwidth">
                  <input matInput placeholder="Years" [(ngModel)]="experienceYear" type="number" min="0" max="99">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="fullwidth">
                  <input matInput placeholder="Months" [(ngModel)]="experienceMonth" type="number" min="0" max="12"> 
                </mat-form-field>
              </div>
            </div>
            <br/>
            <!--end 1st row-->  
            


            <!--table row-->
            <div class="row">
              <table class="table table-striped">
                <thead>
                  <tr class='d-flex'>
                    <th class='col-1 text-center'>Sr #</th>
                    <th class='col-5'>Skill</th>
                    <th class='col-5'>Preference Indicator</th>
                    <th class='col-1 text-center'></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of skillsDetail; let i=index" class='d-flex'>
                    <td class='col-1 text-center'>{{i + 1}}</td>

                    <td class='col-5'>


                      <p-dropdown [options]="tempSkillList" filter="true" [(ngModel)]="item.skill" placeholder="Skill"
                        required>
                        <ng-template let-itm pTemplate="item">
                          <div style="position: relative;height: 25px;">
                            <div style="font-size:14px;float:left;margin-top:4px;">{{itm.label}}</div>
                          </div>
                        </ng-template>
                      </p-dropdown>


                    </td>

                    <td class='col-5'><p-checkbox [(ngModel)]="item.indicator" binary="true"></p-checkbox></td>
                    <td class='col-1 text-center'><span class="fa fa-minus pointerCursor" (click)="removeSkill(i)"></span></td>
                  </tr>

                  <tr class='d-flex'>
                      <td class='col-1 text-center'></td> 
                      <td class='col-5'></td>  
                      <td class='col-5'></td>           
                      <td class='col-1 text-center'><span class="fa fa-plus pointerCursor" (click)="addSkill()"></span></td>
                    </tr>
                </tbody>
              </table>
            </div>
            <br/>
            <!--end table row-->
            


            <!--start next step button div-->
            <div class="text-right">
              <button mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
            <!--end next step button div-->
          
          <!--end 4th step form control div-->
        </mat-step>
        <!--end 4th Step -->



        <!--start 5th Step -->
        <mat-step [stepControl]="formGroup5" optional>
          <!--stepper 5th label-->
          <ng-template matStepLabel><b>Job Description</b></ng-template>
          <!--start 5th step form control div-->
            <br/>
            <!--start 1st row-->
            <!-- <div class="row">
              <div class="col-md-12">
                  <p-multiSelect [options]="roles" placeholder="ERP Role" optionLabel="label" [style]="{'width':'100%'}"></p-multiSelect>
              </div>
            </div> -->
            <!--end 1st row-->


            <!--table row-->
            <div class="row">
              <table class="table table-striped">
                <thead>
                  <tr class='d-flex'>
                    <th class='col-2 text-center'>Sr #</th>
                    <th class='col-8'>Description</th>
                    <th class='col-2 text-center'>Add</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of descDetail; let i=index" class='d-flex'>
                    <td class='col-1 text-center'>{{i + 1}}</td> 
                    <td class='col-10'>
                      <p-dropdown [options]="tempDescList" editable="true" filter="true" [(ngModel)]="item.desc" placeholder="Description" [style]="{'width':'100%'}">
                        <ng-template let-itm pTemplate="item">
                          <div style="position: relative;height: 25px;">
                            <div style="font-size:14px;float:left;margin-top:4px;">{{itm.label}}</div>
                          </div>
                        </ng-template>
                      </p-dropdown>
                    </td>           
                    <td class='col-1 text-center'><span class="fa fa-minus pointerCursor" (click)="removeDesc()"></span></td>
                  </tr>
                  <tr class='d-flex'>
                      <td class='col-1 text-center'></td> 
                      <td class='col-10'></td>           
                      <td class='col-1 text-center'><span class="fa fa-plus pointerCursor" (click)="addDesc()" ></span></td>
                    </tr>
                </tbody>
              </table>
            </div>
            <!--end table row-->
            <br/>
            <!--start next step button div-->
            <div class="text-right">
              <button mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
            <!--end next step button div-->
          
          <!--end 5th step form control div-->
        </mat-step>
        <!--end 5th Step -->



        <!--start 6th stepper-->
        <mat-step [stepControl]="formGroup6" optional>
          <!--stepper 5th label-->
          <ng-template matStepLabel><b>Leaves</b></ng-template>
          <!--start 6th step form control div-->
          <!-- <form [formGroup]="formGroup6"></form> -->
          <br/>
          <!--table row-->
          <div class="row">
            <table class="table table-striped">
              <thead>
                <tr class='d-flex'>
                  <th class='col-2 text-center'>Sr #</th>
                  <th class='col-5'>Leave Rule Title</th>
                  <th class='col-3'>No. of Leaves / Unit</th>
                  <th class='col-2 text-center'>Add</th>
                </tr>
              </thead>
              <tbody>
                <!-- <tr *ngFor="let item of userDetail | search:'UserName,Email': query" class='d-flex'> -->
                <tr class='d-flex'>
                    <td class='col-2 text-center'>1</td> 
                    <td class='col-5'>
                      Medical Leaves
                    </td>           
                    <td class='col-3'>
                      3 per month
                    </td>             
                    <td class='col-2 text-center'>
                      <span class="fa fa-minus pointerCursor"></span>
                    </td>
                  </tr>

                  <tr class='d-flex'>
                  <td class='col-2 text-center'><br/>2</td> 
                  <td class='col-5'>
                    <p-dropdown [options]="rules" placeholder="Leave Rule" optionLabel="label" [showClear]="true" [style]="{'width':'100%'}"></p-dropdown>
                  </td>           
                  <td class='col-3'>
                  </td>             
                  <td class='col-2 text-center'>
                    <span class="fa fa-plus pointerCursor"></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--end table row-->
          <br/>
          <!--start next step button div-->
          <div class="text-right">
            <button mat-raised-button color="primary" (click)="save()" >Save</button>
          </div>
          <!--end next step button div-->
          
          <!--end 5th step form control div-->
        </mat-step>
        <!--end 6th stepper-->



      </mat-horizontal-stepper>
      <!--end horizontal Stepper -->
    </div>
    <!--end Modal body -->


    <!--start Modal footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
    <!--end Modal footer -->

  </div>
</div>
</div>
<!-- End Modal Window to add new job profile -->

<!-- Start Modal Window to delete job profile -->
<div class="modal fade" id="deleteModal">
<div class="modal-dialog shadow-lg-dark">
  <div class="modal-content">
    <!--start Modal body -->
    <div class="modal-body">
      <br>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
          <h2>Delete Job Profile</h2>
        </div>
      </div><br/>
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="fullwidth">
            <input matInput placeholder="Enter Password" type="password" [(ngModel)]="txtdPassword">
          </mat-form-field>
        </div>
      </div><br>
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="fullwidth">
            <input matInput placeholder="Enter PIN" type="password" [(ngModel)]="txtdPin">
          </mat-form-field>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <button mat-raised-button color="warn" data-dismiss="modal">Delete</button>
        </div>
      </div>
      <br/>
    </div>
    <!--end Modal body -->

    <!--start Modal footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
    <!--end Modal footer -->

  </div>
</div>
</div>
<!-- End Modal Window to delete job profile -->

<!-- Start Modal Window to add degree title -->
<div class="modal fade" id="degreeModal">
<div class="modal-dialog shadow-lg-dark">
  <div class="modal-content">
    <!--start Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title">Add Degree</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <!--end Modal Header -->

    <!--start Modal body -->
    <div class="modal-body">
      
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="fullwidth">
            <input matInput placeholder="Degree Title">
          </mat-form-field>
        </div>
      </div><br>
      <div class="row">
        <div class="col-md-12">
          <p-dropdown [options]="years" placeholder="Years" optionLabel="label" [showClear]="true" [style]="{'width':'100%'}"></p-dropdown>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <button mat-raised-button color="primary" data-dismiss="modal">Save</button>
        </div>
      </div>
      <br/>
    </div>
    <!--end Modal body -->

    <!--start Modal footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
    <!--end Modal footer -->

  </div>
</div>
</div>
<!-- End Modal Window to add degree title -->

<!-- Start Modal Window to add Certificates -->
<div class="modal fade" id="certificateModal">
<div class="modal-dialog shadow-lg-dark">
  <div class="modal-content">
    <!--start Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title">Add Certificates</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <!--end Modal Header -->

    <!--start Modal body -->
    <div class="modal-body">
      <!--1st row-->
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="fullwidth">
            <input matInput placeholder="Certificate Title">
          </mat-form-field>
        </div>
      </div><br>
      <!--end 1st row-->
      <!--2nd row-->
      <div class="row">
        <div class="col-md-6">
          <p-dropdown [options]="orgs" placeholder="Organization" optionLabel="label" [showClear]="true" [style]="{'width':'100%'}"></p-dropdown>
        </div>
        <div class="col-md-6">
          <p-dropdown [options]="times" placeholder="Time Period" optionLabel="label" [showClear]="true" [style]="{'width':'100%'}"></p-dropdown>
        </div>
      </div>
      <!--end 2nd row-->
      <br>
      <!--3rd row-->
      <div class="row">
        <mat-radio-group>
          <div class="row">
            <div class="col-md-3 text-center">
              Days
              <mat-radio-button value="Day"></mat-radio-button>
            </div>
            <div class="col-md-3 text-center">
              Months
              <mat-radio-button value="months"></mat-radio-button>
            </div>
            <div class="col-md-3 text-center">
              Year
              <mat-radio-button value="year"></mat-radio-button>
            </div>
          </div>
        </mat-radio-group>
      </div>
      <!--end 3rd row-->
      <br/>
      <div class="row">
        <div class="col-md-6">
          <button mat-raised-button color="primary" data-dismiss="modal">Save</button>
        </div>
      </div>
      <br/>
    </div>
    <!--end Modal body -->

    <!--start Modal footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
    <!--end Modal footer -->

  </div>
</div>
</div>
<!-- End Modal Window to add Certificates -->
