.modal .modalCmpnyPro {
    Border: 0px solid red;
    width: 30%;
    background-color: #5F84D5;
}

.btn-raised-ambit{
    border: 1px solid #E5E5E5;
    text-transform: uppercase;
    text-align: left;
    padding: 3px 5px 3px 5px;
}

.btn-raised-ambit:hover{
    cursor: pointer;
}

hr{
    padding: 0;
    margin-top: 5px;
    border-color: #949494;
}

.modal-body {
    padding: 15px 25px 15px 25px;
}

h5{
    font-size: 15px;
    font-weight: bold;
}
