.labelbreakH {
    display: block;
    //border: 1px solid red;  
    margin-bottom: 1px;
    line-height: normal;
}

.labelbreakT {
    display: block;
    //border: 1px solid green;
    margin: 0px;
    line-height: normal;
}