<br/>
<!--tabs row-->
<div class="myContainer mat-elevation-z5 bgWhite">
  <!-- start heading nav and buttons -->
  <div class="topnav">
    <div>

      <span class="fa iconContainer">
        <span class="fa icon-hr-jobprofile" > </span>
      </span>
      <h1> Attendance</h1>
      
      <a class="pointerCursor text-uppercase" data-toggle="modal" data-target="#attModal" (click)="clear()">
        <i class="fa fa-plus-circle"></i>
        Mark attendance
      </a>

    </div>
  </div>
  <!-- end heading nav and buttons -->
</div>
<!--end tabs row-->


<!--start myContainer div-->
<div class="myContainer">

  <!--Start 1st Row-->
  <div class="row pt-3 pl-4 pr-3">

    <div class="col-md-6 p-0 border-bottom">
      <div class="searchBar">
        <span class="fa icon-search"></span>
        <input class="noneOutLine menuSearchBox" type="text" maxlength="32" placeholder="Search..." [(ngModel)]="tblSearch">
      </div>
    </div>

    <div class="col-md-6 pt-2 pr-0 pb-2 border-bottom text-right">
        <mat-checkbox class="available" [(ngModel)]="available" (ngModelChange)="getFilterItem('fws')" >Available &nbsp; </mat-checkbox>
        <mat-checkbox class="absent" [(ngModel)]="absent" (ngModelChange)="getFilterItem('fws')">Absent &nbsp; </mat-checkbox>
        <mat-checkbox class="inoffice" [(ngModel)]="inOffice" (ngModelChange)="getFilterItem('fws')">In Office &nbsp; </mat-checkbox>
        <mat-checkbox class="onfield" [(ngModel)]="onField" (ngModelChange)="getFilterItem('fws')">On Field &nbsp; </mat-checkbox>
        <mat-checkbox class="onleave" [(ngModel)]="onLeave" (ngModelChange)="getFilterItem('fws')">On Leave &nbsp; </mat-checkbox>
        <mat-checkbox class="remote" [(ngModel)]="remote" (ngModelChange)="getFilterItem('fws')">Work at home &nbsp; </mat-checkbox>
    </div>

  </div>
  <!--end 1st Row-->

  <br />

  <div class="row">
    <div *ngFor="let item of tempEmployeeList | search:'indvdlFullName,jobDesigName':tblSearch let i=index" class="col-md-2 mb-3">

      <mat-card class="allBorder p-0 rounded-0">

        <div class="row m-2">

          <div class="col-md-4 p-0 allBorder text-center overflow-hidden">
            <img src="../assets/images/EmpImages/Profile-Male.jpg" alt="" width="61px" height="75px">
          </div>

          <div class="col-md-8 p-0 pl-2">
            <div class="row mb-n2">
              <div class="col-md-12">
                <label class="font0-9em">{{item.indvdlFullName}}</label>
              </div>
            </div>
            <div class="row mb-n2 mt-n3">
              <div class="col-md-12">
                <label class="font0-8em text-secondary">{{item.jobDesigName}}</label>
              </div>
            </div>


            <!--Available Employees -->
            <div class="row mb-n2 mt-n3 position-absolute absolute-bottom" *ngIf="item.attendanceStatCd == 2">
              <div class="col-md-12">
                <label class="font1emb">
                  <i class="fa fa-circle font0-8em available"></i> Available
                </label>
              </div>
            </div>


            <!--Absent Employees -->
            <div class="row mb-n2 mt-n3 position-absolute absolute-bottom" *ngIf="item.attendanceStatCd == 3">
              <div class="col-md-12">
                <label class="font1emb">
                  <i class="fa fa-circle font0-8em absent"></i> Absent
                </label>
              </div>
            </div>


            <!--In Office Employees -->
            <div class="row mb-n2 mt-n3 position-absolute absolute-bottom" *ngIf="item.attendanceStatCd == 4">
              <div class="col-md-12">
                <label class="font1emb">
                  <i class="fa fa-circle font0-8em inoffice"></i> In Office
                </label>
              </div>
            </div>


            <!--On Field Employees -->
            <div class="row mb-n2 mt-n3 position-absolute absolute-bottom" *ngIf="item.attendanceStatCd == 5">
              <div class="col-md-12">
                <label class="font1emb">
                  <i class="fa fa-circle font0-8em onfield"></i> On Field
                </label>
              </div>
            </div>


            <!--Onleave  Employees -->
            <div class="row mb-n2 mt-n3 position-absolute absolute-bottom" *ngIf="item.attendanceStatCd == 6">
              <div class="col-md-12">
                <label class="font1emb">
                  <i class="fa fa-circle font0-8em onleave"></i> On Leave
                </label>
              </div>
            </div>


            <!--Remote Employees -->
            <div class="row mb-n2 mt-n3 position-absolute absolute-bottom" *ngIf="item.attendanceStatCd == 7">
              <div class="col-md-12">
                <label class="font1emb">
                  <i class="fa fa-circle font0-8em remote"></i> Remote
                </label>
              </div>
            </div>



          </div>

          


          <!-- <div class="col-md-5 mt-3 pb-0" *ngIf="item.path != null">         *ngIf="item.path == null"
            <img src="../assets/images/EmpImages/{{item.empID}}.jpg" alt="" width="95px" height="110px">
          </div> -->


        </div>
        
      </mat-card>

    </div>
  </div>

</div>
<!--end myContainer div-->

<br/>



<!-- Start Modal Window -->
<div class="modal fade" id="attModal">
  <!--start modal window dialog-->
  <div class="modal-dialog shadow-lg-dark modal-lg w-50" >
    <!--start modal window contents -->
    <div class="modal-content modal-bottom-border-blue">
      <!--start user Modal Header -->
      <div class="modal-header bg-skyBlue borderBlue5px">
        <h4 class="modal-title">Attendance</h4>
        <div>
          <button type="button" class="btn-close cursorPointer" data-dismiss="modal"></button>
        </div>
      </div>
      <!--end user Modal Header -->

      <!--start user Modal body -->
      <div class="modal-body m-3">
        <!--start 1st row -->
        <div class="row">
          <!--start fields column-->
          <div class="col-md-7">

            <!--empoyee name -->
            <mat-form-field class="fullwidth">
              <mat-select disableOptionCentering placeholder="Employee Name" [(ngModel)]="ddlEmployee" (ngModelChange)="getFilterItem('emp')">
                <mat-option *ngFor="let item of employeeList" [value]="item.empID">
                  {{item.indvdlFullName}}
                </mat-option>
              </mat-select>
            </mat-form-field>


            <!--Entrance Code-->
            <mat-form-field class="fullwidth">
              <input matInput placeholder="Entrance Code" [(ngModel)]="txtPassword">
            </mat-form-field>


            <!--availibility-->
            <mat-form-field class="fullwidth">
              <mat-select disableOptionCentering placeholder="Availibility" [(ngModel)]="ddlAttType" [disabled]="disableFlag">
                <mat-option *ngFor="let item of attTypeList" [value]="item.attendanceStatCd">
                  {{item.attendanceStatName}}
                </mat-option>
              </mat-select>
            </mat-form-field>


            <!--start buttons row -->
            <button mat-raised-button class="btn mr-3 noneOutLine rounded-0 position-absolute absolute-right absolute-bottom" (click)="save()">
              &nbsp;&nbsp;&nbsp;Done&nbsp;&nbsp;&nbsp;
            </button>
            <!--end buttons row -->

          </div>




          <div class="col-md-5 text-right">
            
            <div class="pt-3 pr-3 pb-0 pl-3" style="background-color: #E5E5E5;">
              <img class="w-100 h-100"  src="../assets/images/EmpImages/Profile-Male.jpg" alt="">
              <label class="font1emb pt-1">
                <i class="fa fa-circle font0-8em remote"></i> Work at home
              </label>
            </div>
            
          </div>



          <!--end fields column-->
        </div>
        <!--end 1st row -->
      </div>
      <!--end user Modal body -->
    </div>
    <!--end modal window contents -->
  </div>
  <!--end modal window dialog-->
</div>
<!-- End Modal Window -->
