<br />
<!-- start menubar buttons -->
<div class="myContainer mat-elevation-z8 bgWhite">
  <!--start top nav box shadow div-->
  <div class="topnav boxShadow">
    <!-- start heading & logo div-->
    <div>
      <span class="fa iconContainer">
        <span class="fa icon-hr-post"></span>
      </span>
      <h1>Post</h1>

      <!--start add role permission button-->
      <a class="pointerCursor" data-toggle="modal" data-target="#postModal" (click)="clear()">
        <i class="fa fa-plus-circle"></i>
        ADD POST
      </a>
      <!--end add role permission button-->
    </div>
    <!-- end heading & logo div-->
  </div>
  <!--end top nav box shadow div-->
</div>
<!-- end menubar buttons -->

<!--start myContainer div-->
<div class="myContainer bgWhite minHeight84 allBorder">
  <!--Start 1st Row-->
  <div class="row">
    <!--start search textbox column-->
    <div class="col-md-12">
      <div class="searchBar">
        <span class="fa icon-search"></span>
        <input class="noneOutLine menuSearchBox" type="text" maxlength="32" placeholder="Search..."
          [(ngModel)]="postSearch" />
      </div>
    </div>
    <!--end search textbox column-->
  </div>
  <!--end 1st Row-->

  <!--Start table Row-->
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped fullwidth">
        <thead>
          <tr class="d-flex">
            <th class="col-1 text-center ">Sr No.</th>
            <th [class.active]="order === 'jobDesigName'" (click)="setOrder('jobDesigName')"
              class="col-2 pointerCursor text-left ">
              Post Title
              <span class="fa fa-angle-double-down" [hidden]="reverse"></span>
              <span class="fa fa-angle-double-up" [hidden]="!reverse"></span>
            </th>
            <th [class.active]="order === 'locationName'" (click)="setOrder('locationName')"
              class="col-2 pointerCursor text-left">
              Branch
              <span class="fa fa-angle-double-down" [hidden]="reverse"></span>
              <span class="fa fa-angle-double-up" [hidden]="!reverse"></span>
            </th>
            <th [class.active]="order === 'department'" (click)="setOrder('department')"
              class="col-2 pointerCursor text-left">
              Department
              <span class="fa fa-angle-double-down" [hidden]="reverse"></span>
              <span class="fa fa-angle-double-up" [hidden]="!reverse"></span>
            </th>
            <th [class.active]="order === 'section'" (click)="setOrder('section')"
              class="col-2 pointerCursor text-left">
              Section
              <span class="fa fa-angle-double-down" [hidden]="reverse"></span>
              <span class="fa fa-angle-double-up" [hidden]="!reverse"></span>
            </th>
            <th class="col-1 text-center">View</th>
            <th class="col-1 text-center">Edit</th>
            <th class="col-1 text-center">Delete</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let item of userDetail | search:'UserName,Email': query" class='d-flex'> -->
          <tr class="d-flex" *ngFor="
              let post of posts
                | search
                  : 'jobDesigName,locationName,department,section'
                  : postSearch
                | paginate
                  : { itemsPerPage: itemPerPage, currentPage: p, id: 'first' }
                | orderBy: order:reverse:'case-insensitive';
              let i = index
            ">
            <td class="col-1 text-center">{{ i + 1 }}</td>
            <td class="col-2 text-left">{{ post.jobDesigName }}</td>
            <td class="col-2 text-left">{{ post.locationName }}</td>
            <td class="col-2 text-left">{{ post.department }}</td>
            <td class="col-2 text-left">{{ post.section }}</td>
            <td class="col-1 text-center">
              <span class="fa tableIcon pointerCursor" (click)="getOrganoGram(post)">
                <span class="fa icon-h-organo"></span>
              </span>
            </td>
            <td class="col-1 text-center">
              <span class="fa tableIcon pointerCursor" data-toggle="modal" data-target="#postModal"
                (click)="editPost(post)">
                <span class="fa icon-u-edit"></span>
              </span>
            </td>
            <td class="col-1 text-center">
              <span class="fa tableIcon pointerCursor" (click)="deletePost(post)">
                <span class="fa icon-u-delete"></span>
              </span>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Pagination Starts -->
      <div class="col-md-12 text-right">
        <div class="paginationBox">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
        <div class="paginationBox">
          <mat-form-field class="pagenateList">
            <mat-select [(ngModel)]="itemPerPage">
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="10">10</mat-option>
              <mat-option value="15">15</mat-option>
              <mat-option value="20">20</mat-option>
              <mat-option value="25">25</mat-option>
              <mat-option value="30">30</mat-option>
              <mat-option value="35">35</mat-option>
              <mat-option value="40">40</mat-option>
              <mat-option value="45">45</mat-option>
              <mat-option value="50">50</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="paginationBox">
          Item per page: &nbsp;&nbsp;
        </div>
      </div>
      <!-- Pagination Ends -->
    </div>
  </div>
  <!-- end table row -->
</div>
<!--end myContainer div-->

<br />

<!--bootstrap modal window -->

<!-- Start Modal Window to add & update new user -->
<div class="modal fade" id="postModal">
  <!--start modal window dialog-->
  <div class="modal-dialog shadow-lg-dark modal-lg">
    <!--start modal window contents -->
    <div class="modal-content modal-bottom-border-blue">
      <!--start user Modal Header -->
      <div class="modal-header bg-skyBlue borderBlue5px">
        <h4 class="modal-title">{{postHeading}} Post Profile</h4>
        <div>
          <button type="button" class="btn-close cursorPointer" data-dismiss="modal"></button>
        </div>
      </div>
      <!--end user Modal Header -->

      <!--start user Modal body -->
      <div class="modal-body m-3">
        <!--start userModal 1st row -->
        <div class="row">
          <!--start fields column-->
          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="Post Title" [(ngModel)]="txtPostTitle" />
            </mat-form-field>
            <mat-form-field>
              <mat-select disableOptionCentering placeholder="Department*" [(ngModel)]="departmentName"
                (ngModelChange)="onDeptChange($event)">
                <mat-option *ngFor="let item of departments" [value]="item.deptCd">{{ item.deptName }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select disableOptionCentering placeholder="Job Designation*" (ngModelChange)="onJobChange($event)"
                [(ngModel)]="jobPostName">
                <input type="text" placeholder="Search..." [(ngModel)]="srchDesig" class="form-control" />
                <mat-option *ngFor="let item of jobPost | search: 'desigName':srchDesig" [value]="item.desigCd">
                  {{ item.desigName }} - {{ item.payGradeCd }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select disableOptionCentering placeholder="Reporting Officer*" [(ngModel)]="txtReptOfficer"
                (ngModelChange)="onRptOffChange($event)">
                <mat-option *ngFor="let item of reptOfficer" [value]="item.jobDesigID">
                  {{ item.jobDesigName }} - {{ item.payGradeCd }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select [formControl]="formLeaveRule" disableOptionCentering placeholder="Leave Rule*"
                [(ngModel)]="txtLeaveRule" multiple>
                <mat-option *ngFor="let item of ruleList" [value]="item.leaveRuleID">
                  {{ item.leaveNatureName }} - {{ item.leaveTypeName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-select disableOptionCentering placeholder="Branch*" [(ngModel)]="officeName"
                (ngModelChange)="onBranchChange($event)">
                <mat-option *ngFor="let item of offices" [value]="item.locationCd">{{ item.locationName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select disableOptionCentering placeholder="Section" [(ngModel)]="sectionName">
                <mat-option *ngFor="let item of sections" [value]="item.deptCd">{{ item.deptName }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select disableOptionCentering placeholder="Pay Scale*" [(ngModel)]="BPS"
                (ngModelChange)="onBPSChange($event)">
                <mat-option *ngFor="let item of bpsList" [value]="item.payGradeCd">{{ item.payGradeName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="row mt-4">
              <div class="col-md-12">
                <mat-radio-group [(ngModel)]="jobNature">
                  <div class="row">
                    <div class="col-md-4 text-left">
                      <mat-radio-button value="1">
                        Full Time
                      </mat-radio-button>
                    </div>
                    <div class="col-md-6 text-left">
                      <mat-radio-button value="2">
                        Part Time
                      </mat-radio-button>
                    </div>
                  </div>
                </mat-radio-group>
              </div>
            </div>
            <mat-form-field class="mt-2">
              <mat-select disableOptionCentering placeholder="Nature of Appointment*" [(ngModel)]="jobType">
                <mat-option *ngFor="let item of jobTypes" [value]="item.jobTypeCd">{{ item.jobTypeName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <!--start buttons row -->
            <div class="row mt-3">
              <div class="col-md-6">
                <button mat-raised-button class="btn fullwidth pt-1 pb-1 noneOutLine" (click)="clear()"
                  style="border-radius: 0;">
                  &nbsp;&nbsp;&nbsp;RESET&nbsp;&nbsp;&nbsp;
                </button>
              </div>
              <div class="col-md-6">
                <button mat-raised-button class="btn fullwidth pt-1 pb-1 noneOutLine" (click)="save()"
                  style="border-radius: 0;">
                  &nbsp;&nbsp;&nbsp;SAVE&nbsp;&nbsp;&nbsp;
                </button>
              </div>
            </div>
            <!--end buttons row -->
          </div>
          <!--end fields column-->
        </div>
        <!--end userModal 1st row -->
      </div>
      <!--end user Modal body -->
    </div>
    <!--end modal window contents -->
  </div>
  <!--end modal window dialog-->
</div>
<!-- End Modal Window to add & update new user -->

<!-- Start Modal Window to add & update new user -->
<div class="modal fade" id="organoGramModal">
  <!--start modal window dialog-->
  <div class="modal-dialog shadow-lg-dark modal-lg">
    <!--start modal window contents -->
    <div class="modal-content">
      <!--start user Modal body -->
      <div class="modal-body bg-darkBlue">
        <div class="row">
          <div class="col-md-6 text-left">
            <h4 class="modal-title text-white">Post Hierarchy</h4>
          </div>
          <div class="col-md-6 text-right">
            <button type="button" class="btn-close cursorPointer" data-dismiss="modal"></button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p-organizationChart [value]="data1" selectionMode="single" styleClass="post">
              <ng-template let-node pTemplate="person">
                <div class="node-header ui-corner-top">{{node.label}}</div>
                <div class="node-content">
                  <div>{{node.data.name}}</div>
                </div>
              </ng-template>
              <ng-template let-node pTemplate="department">
                {{node.label}}
              </ng-template>
            </p-organizationChart>
          </div>
        </div>
      </div>
      <!--end user Modal body -->
    </div>
    <!--end modal window contents -->
  </div>
  <!--end modal window dialog-->
</div>
<!-- End Modal Window to add & update new user -->
