    <!--Contact number cmbo bx row-->
    <div class="row">
        <div class="col-md-5">
            <mat-form-field class="fullwidth">
                <mat-select placeholder="Facebook" required>
                    <!-- <input type="text" class="form-control">
                    <mat-option
                    *ngFor="let item of currency | search:'currencyName, currencyCode': searchCurrency" [value]="item"></mat-option>
                    <table>
                    <tr class='d-flex'>
                            <td class="col-6">{{ item.currencyName }}</td>
                            <td class="col-6">{{ item.currencyCode }}</td>
                    </tr>
                    </table>
                    </mat-option> -->
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-md-6 npl">
            <mat-form-field class="fullwidth">
                <input matInput placeholder="Link">
            </mat-form-field>
        </div>

        <div class="col-md-1 text-right nopadding" style="margin: 20px 0 0 -10px;">
            <span class="pointerCursor fa fa-plus iconAdd" ></span>
        </div>
    
    </div>