.iconContainer {
    border: 0px solid red;
    width: 30px;
    height: 30px;
    //margin-left: 1%;
    //margin-right: 10px;
    margin: 3px 5px 0 1%;
  }
  
  
  .iconContainer .icon-hr-leaveRule{
    width: 100%;
    height:100%;
    mask: url(./assets/images/vacations-Rules.svg) no-repeat center ;
    background-color: #fff;
  }

  .iconContainer .icon-hr-leaveType{
    width: 100%;
    height:100%;
    mask: url(./assets/images/vacations.svg) no-repeat center ;
    background-color: #fff;
  }

  .iconContainer .icon-hr-performanceStandard{
    width: 100%;
    height:100%;
    mask: url(./assets/images/PerformanceStandards.svg) no-repeat center ;
    background-color: #fff;
  }

  