<!-- start table container-->
<div class="myContainer mat-elevation-z8 bgWhite">
  <!-- start menubar buttons -->
  <div class="topnav boxShadow">
    <div>
      <!--class="container" -->
      <span class="fa iconContainer">
        <span class="fa icon-hr-recruitmentapproval" > </span>
      </span>
      <h1> Recruitment</h1>

      <!-- (click)="downloadExcel()" -->
      <a class="pointerCursor">
        <i class="fa fa-file-excel-o"></i>
        Excel
      </a>

      <!-- (click)="downloadCSV()" -->
      <a class="pointerCursor">
        <i class="fa fa-file-text-o"></i>
        CSV
      </a>

      <!-- (click)="downPDF()" -->
      <a class="pointerCursor">
        <i class="fa fa-file-pdf-o"></i>
        PDF
      </a>

      <!-- (click)="printDiv()" -->
      <a class="pointerCursor">
        <i class="fa fa-print"></i>
        Print
      </a>

      <!-- <a class="pointerCursor" data-toggle="modal" data-target="#profileModal" (click)="clear()">
        <i class="fa fa-plus-square"></i>
        Add New
      </a> -->

    </div>
  </div>
  <!-- end menubar buttons -->


  <!--Start search textbox Row-->
  <div class="row">
    <div class="col-md-12">
      <!-- <mat-form-field class="fullwidth">
        <input matInput [(ngModel)]="tblSearch" placeholder="Search">
      </mat-form-field> -->
      <div class="searchBar">
        <span class="fa icon-search"></span>
        <input class="noneOutLine menuSearchBox" type="text" maxlength="32" placeholder="Search" [(ngModel)]="tblSearch">
      </div>
    </div>
  </div>
  <!--end search textbox Row-->

  <!--start table row-->       
  <div class="example-container">
    <div class="example-table-container">                      
      <table class="table table-striped">
        <thead>
          <tr class='d-flex'>
            <th class='col-1'>Sr #</th>
            <th class='col-2' [class.active]="order === 'officeName'" (click)="setOrder('officeName')"> Office <span class="fa fa-angle-double-down" [hidden]="reverse"></span> <span class="fa fa-angle-double-up" [hidden]="!reverse"></span></th>
            <th class='col-1' [class.active]="order === 'department'" (click)="setOrder('department')">Department<span class="fa fa-angle-double-down" [hidden]="reverse"></span><span class="fa fa-angle-double-up" [hidden]="!reverse"></span></th>
            <th class='col-1' [class.active]="order === 'section'" (click)="setOrder('section')">Section<span class="fa fa-angle-double-down" [hidden]="reverse"></span><span class="fa fa-angle-double-up" [hidden]="!reverse"></span></th>
            <th class='col-2' [class.active]="order === 'jobTitle'" (click)="setOrder('jobTitle')">Job Profile<span class="fa fa-angle-double-down" [hidden]="reverse"></span><span class="fa fa-angle-double-up" [hidden]="!reverse"></span></th>
            <th class='col-1' [class.active]="order === 'bps'" (click)="setOrder('bps')">BPS<span class="fa fa-angle-double-down" [hidden]="reverse"></span><span class="fa fa-angle-double-up" [hidden]="!reverse"></span></th>
            <th class='col-1' [class.active]="order === 'vacancies1'" (click)="setOrder('vacancies1')">Vacancies<span class="fa fa-angle-double-down" [hidden]="reverse"></span><span class="fa fa-angle-double-up" [hidden]="!reverse"></span></th>
            <th class='col-1' [class.active]="order === 'request'" (click)="setOrder('request')">Request<span class="fa fa-angle-double-down" [hidden]="reverse"></span><span class="fa fa-angle-double-up" [hidden]="!reverse"></span></th>
            <th class='col-1' [class.active]="order === 'process'" (click)="setOrder('process')">In Process<span class="fa fa-angle-double-down" [hidden]="reverse"></span><span class="fa fa-angle-double-up" [hidden]="!reverse"></span></th>
            <th class='col-1'>Detail</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of recruitmetAppsList | search:'officeName,department,section,jobTitle,vacancies1':tblSearch | paginate: {
            itemsPerPage: itemPerPage, currentPage: p } | orderBy: order:reverse:'case-insensitive' let i=index" class='d-flex'>
            <td class='col-1'>{{i + 1}}</td>
            <td class='col-2'>{{item.officeName}}</td>             
            <td class='col-1'>{{item.department}}</td>
            <td class='col-1'>{{item.section}}</td>
            <td class='col-2'>{{item.jobTitle}}</td>
            <td class='col-1'>{{item.bps}}</td>
            <td class='col-1'>{{(item.vacancies1 + item.vacancies2) - (item.request + item.process)}}</td>
            <td class='col-1'>{{item.request}}</td>
            <td class='col-1'>{{item.process}}</td>
            <td class='col-1 text-center'>
              <span class="fa fa-address-book pointerCursor" data-toggle="modal" data-target="#requestModal" (click)="getDetail(item)"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


    <div class="row tab-margin">
      <div class="col-md-11 text-right">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
      <div class="col-md-1 text-right">
        <mat-form-field class="fullwidth pagenateList">
          <mat-select placeholder="Items Per Page" [(ngModel)]="itemPerPage">
            <mat-option value="10">10</mat-option>
            <mat-option value="15">15</mat-option>
            <mat-option value="20">20</mat-option>
            <mat-option value="25">25</mat-option>
            <mat-option value="30">30</mat-option>
            <mat-option value="35">35</mat-option>
            <mat-option value="40">40</mat-option>
            <mat-option value="45">45</mat-option>
            <mat-option value="50">50</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    
  </div>
  <!--end table row-->


</div>
<br/>
<!--end container -->



<!-- Start Modal Window -->
<div class="modal fade" id="requestModal">
  <div class="modal-dialog shadow-lg-dark modal-xl">
    <div class="modal-content">
      
      <!--start Modal Header -->
      <div class="modal-header">
          <h4 class="modal-title">Recruitment</h4>
          <button type="button" class="btn-ia cursorPointer" data-dismiss="modal"><span class="fa fa-times-circle"></span> &nbsp;Close</button>
      </div>
      <!--end Modal Header -->

      <!--start Modal body -->
      <div class="modal-body">
          <!--start horizontal Stepper -->
          <mat-horizontal-stepper linear>
              <!--start 1st Step -->
              <mat-step optional>
                  <!--stepper 1st label-->
                  <ng-template matStepLabel><b>Request</b></ng-template>
                  <!--start form control div-->

                      <!--start row #1-->
                      <!-- <div class="row">
                        <div class="col-md-6">
                            <mat-form-field>
                              <mat-select placeholder="Document">
                                <mat-option value="option1">Document 1</mat-option>
                                <mat-option value="option1">Document 2</mat-option>
                              </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-3">
                          <br/>
                          Document No
                        </div>

                        <div class="col-md-3">
                          <br/>
                          165
                        </div>
                      </div> -->


                      <!-- <div class="col-md-3">
                            Vacancy Id
                          </div>

                          <div class="col-md-3">
                            65
                          </div> -->   
                      <!--end row #1-->
                      
                      <br/>
                      
                      <!--start row #2-->
                      <div class="row">
                          <div class="col-md-3">
                            <b>Job Profile</b>
                          </div>

                          <div class="col-md-3">
                            {{JobProfile}}
                          </div>

                          <div class="col-md-3">
                            <b>Office</b>
                          </div>

                          <div class="col-md-3">
                            {{OfficeName}}
                          </div>
                      </div>
                      <!--end row #2-->

                      <br/>

                      <!--start row #3-->
                      <div class="row">
                          <div class="col-md-3">
                            <b>Department</b>
                          </div>

                          <div class="col-md-3">
                            {{Department}}
                          </div>

                          <div class="col-md-3">
                            <b>Section</b>
                          </div>
  
                          <div class="col-md-3">
                            {{Section}}
                          </div>
                      </div>
                      <!--end row #3-->

                      <br/>

                      <!--start row #4-->
                      <div class="row" *ngIf="jobPostVacancyFlag">
                        <div class="col-md-6">
                          <mat-form-field class="fullwidth">
                            <mat-select placeholder="Job Post Vacancy Id" [(ngModel)]="ddlJobPostVacancyId" (selectionChange)="getJobPostVacancyDetail()">
                              <mat-option *ngFor="let item of jobPostVacancyIdList; let i=index" value="{{item.jobPostVcncyID}}">{{item.jobPostVcncyID}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        
                      </div>
                      <!--end row #4-->

                      <br/>

                      <!--start row #5-->
                      <div class="row">
                        <div class="col-md-6">
                          <mat-form-field class="fullwidth">
                              <input matInput [matDatepicker]="sdate" [(ngModel)]="startDate" placeholder="Application period start date">
                              <mat-datepicker-toggle matSuffix [for]="sdate"></mat-datepicker-toggle>
                              <mat-datepicker #sdate></mat-datepicker>
                          </mat-form-field>
                        </div>

                        <div class="col-md-6">
                          <mat-form-field class="fullwidth">
                            <input matInput [matDatepicker]="edate" [(ngModel)]="endDate" placeholder="Application period end date">
                            <mat-datepicker-toggle matSuffix [for]="edate"></mat-datepicker-toggle>
                            <mat-datepicker #edate></mat-datepicker>
                          </mat-form-field>
                        </div>
                      </div>
                      <!--end row #5-->

                      <br/>

                      <!--start row #6-->
                      <div class="row">
                          <div class="col-md-6">
                            
                            <mat-form-field class="fullwidth">
                              <mat-select placeholder="Quantity" [(ngModel)]="Quantity">
                                <mat-option *ngFor="let item of [].constructor(totalVacancies); let i=index" value="{{i+1}}">{{i+1}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          
                          <div class="col-md-3">
                            <br/>
                            Financial impact
                          </div>
                          <div class="col-md-3">
                            <br/>
                            {{JobPostVcncyFnnclImpct}}
                          </div>
                      </div>
                      <!--end row #6-->

                      <!--start row #7-->
                      <div class="row">
                        <div class="col-md-12">
                          <mat-form-field class="fullwidth">
                            <textarea matInput placeholder="Description" [(ngModel)]="Description"></textarea>
                          </mat-form-field>
                        </div>
                      </div>
                      <!--end row #7-->

                      <br>
                      <!--start next step button div-->
                      <div class="text-right">
                          <button mat-raised-button color="primary" (click)="saveRequest()">Save</button> &nbsp;&nbsp;
                          <button mat-raised-button color="primary" matStepperNext>Next</button>
                      </div>
                      <!--end next step button div-->
                  <!-- </form> -->
                  <!--end form control div-->
              </mat-step>
              <!--end 1st Step -->



              <!--start 2nd Step -->
              <mat-step optional>
                  <!--stepper 2nd label-->
                <ng-template matStepLabel><b>Approval</b></ng-template>
                  
                  <!-- start row #1-->
                  <!-- <div class="row">
                    <button mat-raised-button color="primary" data-toggle="modal" data-target="#detailModal">Approval Detail</button>
                  </div> -->
                  <!-- end row #1-->

                  <br/>

                  <!--Start row 2-->
                  <div class="row">
                    <!--start approving authority table -->
                    <div class="col-md-12">
                      <h4>Approving Authority</h4>
                      <!--start table row-->       
                      <div class="example-container mat-elevation-z8">
                          <div class="example-table-container">                      
                            <table class="table table-striped">
                              <thead>
                                <tr class='d-flex'>
                                  <th class='col-1 text-center'>Sr #</th>
                                  <th class='col-5'>Stage</th>
                                  <th class='col-5'>Authority</th>
                                  <th class='col-1 text-center'>Del</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of approvalReqList; let i=index" class='d-flex'>
                                  <td class='col-1 text-center'>{{i + 1}}</td>
                                  <td class='col-5'>{{item.apprvngPrcssName}}</td>             
                                  <td class='col-5'>{{item.authority}}</td>
                                  <td class='col-1 text-center'>
                                    <span class="fa fa-minus pointerCursor" (click)="removeApprAuthority(i)"></span>
                                  </td>
                                </tr>

                                <tr class='d-flex'>
                                  <td class='col-6'>
                                      <p-dropdown [options]="apprProcessList" filter="true" [(ngModel)]="ddlApprProcess" placeholder="Stage" [style]="{'width':'100%'}">
                                          <ng-template let-itm pTemplate="item">
                                            <div style="position: relative;height: 25px;">
                                              <div style="font-size:14px;float:left;margin-top:4px;">{{itm.label}}</div>
                                            </div>
                                          </ng-template>
                                        </p-dropdown>
                                  </td> 
                                  <td class='col-5'>
                                      <p-dropdown [options]="apprAuthorigyList"  filter="true" [(ngModel)]="ddlApprAuthority" placeholder="Authority" [style]="{'width':'100%'}">
                                          <ng-template let-itm pTemplate="item">
                                            <div style="position: relative;height: 25px;">
                                              <div style="font-size:14px;float:left;margin-top:4px;">{{itm.label}}</div>
                                            </div>
                                          </ng-template>
                                        </p-dropdown>
                                  </td>             
                                  <td class='col-1 text-center'>
                                    <span class="fa fa-plus pointerCursor" (click)="addApprAuthority()"></span>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                      </div>
                      <!--end table row-->
                    </div>
                    <!--End approving authority table -->
                  </div>
                  <!--end row 2-->
                  

                  
                  <!--start next step button div -->
                  <br/><br/><br/><br/><br/><br/><br/><br/><br/>
                  <div class="row text-right">
                    <div class="col-md-12">
                      <button mat-raised-button color="primary" (click)="saveApprAuthority()">Save</button> &nbsp;&nbsp;
                      <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                  </div>
                  <!--end next step button div -->

                  <!--end 2nd step form control div-->
              </mat-step>
              <!--end 2nd Step -->



              <!--start 3rd Step -->
              <mat-step optional>
                <!--stepper 2nd label-->
              <ng-template matStepLabel><b>Interview Panel</b></ng-template>

                <br/>

                <!--Start row 2-->
                <div class="row">
                  <!--start Interview panel table -->
                  <div class="col-md-12">
                    <h4>Interview Panel</h4>
                    <!--start table row-->       
                    <div class="example-container mat-elevation-z8">
                      <div class="example-table-container">                      
                        <table class="table table-striped">
                          <thead>
                            <tr class='d-flex'>
                              <th class='col-1 text-center'>Sr #</th>
                              <th class='col-10'>Official</th>
                              <th class='col-1 text-center'>Del</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of interviewPanelList; let i=index" class='d-flex'>
                              <td class='col-1 text-center'>{{i + 1}}</td> 
                              <td class='col-10'>{{item.official}}</td>             
                              <td class='col-1 text-center'><span class="fa fa-minus pointerCursor" (click)="removeInterviewPanel(i)"></span></td>
                            </tr>

                            <tr class='d-flex'>
                              <td class='col-11'>
                                  <p-dropdown [options]="apprAuthorigyList"  filter="true" [(ngModel)]="ddlInterviewOfficial" placeholder="Authority" [style]="{'width':'100%'}">
                                      <ng-template let-itm pTemplate="item">
                                        <div style="position: relative;height: 25px;">
                                          <div style="font-size:14px;float:left;margin-top:4px;">{{itm.label}}</div>
                                        </div>
                                      </ng-template>
                                    </p-dropdown>
                              </td>             
                              <td class='col-1 text-center'><span class="fa fa-plus pointerCursor" (click)="addInterviewPanel()"></span></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <!--end table row-->
                  </div>
                  <!--End Interview table -->
                </div>
                <!--end row 2-->



                <br/><br/>
                <!--start next step button div -->
                <div class="row text-right">
                  <div class="col-md-12">
                      <button mat-raised-button color="primary" (click)="saveInterviewPanel()">Save</button> &nbsp;&nbsp;
                    <button mat-raised-button color="primary" matStepperNext>Next</button>
                  </div>
                </div>
                <!--end next step button div -->

                <!--end 2nd step form control div-->
              </mat-step>
              <!--end 3rd Step -->



              <!--start 4th Step -->
              <mat-step optional>
                <!--stepper 2nd label-->
              <ng-template matStepLabel><b>Test</b></ng-template>

                <br/>

                <!--Start row 3-->
                <div class="row">
                  <div class="col-md-12">
                      <h4>Test</h4>
                      <!--start table row-->       
                      <div class="example-container mat-elevation-z8">
                          <div class="example-table-container">                      
                            <table class="table table-striped">
                              <thead>
                                <tr class='d-flex'>
                                  <th class='col-1 text-center'>Sr #</th>
                                  <th class='col-4'>Subject</th>
                                  <th class='col-3'>Total Marks</th>
                                  <th class='col-3'>Passing Marks</th>
                                  <th class='col-1 text-center'>Del</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of testSubjectList; let i=index" class='d-flex'>
                                  <td class='col-1 text-center'>{{i+1}}</td> 
                                  <td class='col-4'>{{item.testSbjctName}}</td>             
                                  <td class='col-3'>{{item.vcncyTestSbjctTotMrks}}</td>
                                  <td class='col-3'>{{item.vcncyTestSbjctPssngMrks}}</td>
                                  <td class='col-1 text-center'>
                                    <span class="fa fa-minus pointerCursor" (click)="removeTest(i)"></span>
                                  </td>
                                </tr>

                                <tr class='d-flex'>
                                  <td class='col-5'>
                                      <p-dropdown [options]="subjectList" filter="true" [(ngModel)]="ddlSubject" placeholder="Subject" [style]="{'width':'100%'}">
                                        <ng-template let-itm pTemplate="item">
                                          <div style="position: relative;height: 25px;">
                                            <div style="font-size:14px;float:left;margin-top:4px;">{{itm.label}}</div>
                                          </div>
                                        </ng-template>
                                      </p-dropdown>
                                  </td> 
                                  <td class='col-3'>
                                      <input type="number" pInputText [(ngModel)]="totalMarks" min="0" max="100" class="fullwidth"> 
                                  </td>
                                  <td class='col-3'>
                                      <input type="number" pInputText [(ngModel)]="passingMarks" min="0" max="100" class="fullwidth" > 
                                  </td>          
                                  <td class='col-1 text-center'>
                                    <span class="fa fa-plus pointerCursor" (click)="addTest()"></span>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                      </div>
                      <!--end table row-->
                  </div>
                </div>
                <!--end row 3-->
                

                <!--start next step button div -->
                <br/><br/><br/><br/><br/>
                <div class="row text-right">
                  <div class="col-md-12">
                      <button mat-raised-button color="primary" (click)="saveTest()" >Save</button> &nbsp;&nbsp;
                    <button mat-raised-button color="primary" matStepperNext>Next</button>
                  </div>
                </div>
                <!--end next step button div -->

                <!--end 2nd step form control div-->
              </mat-step>
              <!--end 4th Step -->



              <!--start 5th Step -->
              <mat-step optional>
                  <!--stepper 3rd label-->
                  <ng-template matStepLabel><b>Publishing</b></ng-template>
                  <!--start 3rd step form control div-->
                      <!--3rd step heading div-->
                      <div class="text-center">
                          <h4>Preview Add</h4>
                      </div>
                      <br/>

                      <!--start table row-->       
                      <div class="example-container mat-elevation-z8">
                        <div class="example-table-container">                      
                          <table class="table table-striped">
                            <thead>
                              <tr class='d-flex'>
                                <th class='col-1'>Sr #</th>
                                <th class='col-8'>Recruiting Channel</th>
                                <th class='col-2'>Publish</th>
                                <th class='col-1'>Delete</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of publishingChannelList; let i=index" class='d-flex'>
                                <td class='col-1'>{{i+1}}</td>             
                                <td class='col-8'>{{item.pblshngChnnlName}}</td>
                                <td class='col-2'>
                                  <p-inputSwitch [(ngModel)]="item.PblshingStatus"></p-inputSwitch>
                                </td>
                                <td class='col-1 text-center'><span class="fa fa-minus pointerCursor" (click)="removePubChannel(i)"></span></td>
                              </tr>

                              <tr class='d-flex'>
                                <td class='col-1'></td>             
                                <td class='col-10'>
                                    <p-dropdown [options]="tempPublishingChannelList" filter="true" [(ngModel)]="ddlPubChannel" placeholder="Channel" [style]="{'width':'100%'}">
                                      <ng-template let-itm pTemplate="item">
                                        <div style="position: relative;height: 25px;">
                                          <div style="font-size:14px;float:left;margin-top:4px;">{{itm.label}}</div>
                                        </div>
                                      </ng-template>
                                    </p-dropdown>
                                </td>
                                <td class='col-1 text-center'>
                                    <span class="fa fa-plus pointerCursor" (click)="addPubChannel()"></span>
                                </td>
                              </tr>


                              
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <!--end table row-->
                      
                      <!--start next step button div-->
                      <br/><br/><br/><br/>
                      <div class="text-right">
                        <button mat-raised-button color="primary" (click)="savePubChannel()">Save</button>
                      </div>
                      <!--end next step button div-->
                  <!--end 3rd step form control div-->
              </mat-step>
              <!--end 5th Step -->
          </mat-horizontal-stepper>
          <!--end horizontal Stepper -->
      </div>
      <!--end Modal body -->

      <!--start Modal footer -->
      <!--  
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div> -->
      <!--end Modal footer -->

    </div>
  </div>
</div>
<!-- End Modal Window  -->






<!-- Start approval detail  Modal Window -->
<div class="modal fade" id="detailModal">
    <div class="modal-dialog shadow-md-dark modal-md">
      <div class="modal-content">
        
        <!--start Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Approval Detail</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!--end Modal Header -->
    
        <!--start Modal body -->
        <div class="modal-body">
          <!--Row #1-->  
          <div class="row">
            <div class="col-md-7">
                <mat-card class="example-card">

                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Iftkhar Ali</mat-card-title>
                      <mat-card-subtitle>HR Director</mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content>
                      <p>
                        Request for approval of post.
                      </p>
                    </mat-card-content>
                    <mat-card-actions class="text-right">
                      <span class="fa fa-share"></span>
                    </mat-card-actions>
                  </mat-card>
            </div>
          </div>
          <!--end of row #1 -->

          <br/>
          
          <!--start row #2-->
          <div class="row">
            <div class="col-md-5"></div>
            
            <div class="col-md-offset-5 col-md-7">
              <mat-card class="example-card-r">

                <mat-card-header>
                  <div mat-card-avatar class="example-header-image-r"></div>
                  <mat-card-title>Usama Khan</mat-card-title>
                  <mat-card-subtitle>Recruitment Officer</mat-card-subtitle>
                  
                </mat-card-header>

                <mat-card-content>
                  <p>
                    Please discus
                  </p>
                </mat-card-content>
                <mat-card-actions class="">
                  <span class="fa fa-reply"></span>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
          <!--end row 2-->

          <br/>

          <!--Row #1-->  
          <div class="row">
              <div class="col-md-7">
                  <mat-card class="example-card">
  
                      <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Iftkhar Ali</mat-card-title>
                        <mat-card-subtitle>HR Director</mat-card-subtitle>
                      </mat-card-header>
  
                      <mat-card-content>
                        <p>
                          Approved.
                        </p>
                      </mat-card-content>
                      <mat-card-actions class="text-right">
                        <span class="fa fa-share"></span>
                      </mat-card-actions>
                    </mat-card>
              </div>
          </div>
          <!--end of row #1 -->

          <br/>
        <!--end Modal body -->
  
        <!--start Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        <!--end Modal footer -->
  
        </div>
        <!--end Modal body -->
      </div>
    </div>
</div>
<!-- End approval detail Modal Window  -->