<br />
<!-- start menubar buttons -->
<div class="myContainer mat-elevation-z8 bgWhite">
  <!--start top nav box shadow div-->
  <div class="topnav boxShadow">
    <!-- start heading & logo div-->
    <div>

      <span class="fa iconContainer">
        <span class="fa icon-hr-leaves"></span>
      </span>
      <h1> Leave Rules</h1>

      <!--start add role permission button-->
      <a class="pointerCursor" data-toggle="modal" data-target="#typeModal" (click)="clear()">
        <i class="fa fa-plus-circle"></i>
        ADD LEAVE RULE
      </a>
      <!--end add role permission button-->
    </div>
    <!-- end heading & logo div-->
  </div>
  <!--end top nav box shadow div-->
</div>
<!-- end menubar buttons -->

<!--start myContainer div-->
<div class="myContainer bgWhite minHeight84 allBorder">
  <!--Start 1st Row-->
  <div class="row">
    <!--start search textbox column-->
    <div class="col-md-12">
      <div class="searchBar">
        <span class="fa icon-search"></span>
        <input class="noneOutLine menuSearchBox" type="text" maxlength="32" placeholder="Search..."
          [(ngModel)]="tblSearchType">
      </div>
    </div>
    <!--end search textbox column-->
  </div>
  <!--end 1st Row-->

  <!--Start table Row-->
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped fullwidth">
        <thead>
          <tr class="d-flex">
            <th class="col-2 text-center ">Sr No.</th>
            <th [class.active]="order === 'leaveTypeName'" (click)="setOrder('leaveTypeName')"
              class="col-6 pointerCursor text-left ">
              Leave Rule
              <span class="fa fa-angle-double-down" [hidden]="reverse"></span>
              <span class="fa fa-angle-double-up" [hidden]="!reverse"></span>
            </th>
            <th class="col-2 text-center">Edit</th>
            <th class="col-2 text-center">Delete</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let item of userDetail | search:'UserName,Email': query" class='d-flex'> -->
          <tr *ngFor="let item of leaveRuleList | search:'leaveTypeName,leaveNatureName':tblSearchType | paginate: {
              itemsPerPage: itemPerPage, currentPage: p } | orderBy: order:reverse:'case-insensitive' let i=index"
            class='d-flex'>
            <td class='col-2 text-center'>{{i + 1}}</td>
            <td class='col-6 text-left'>{{item.leaveTypeName}} - {{item.leaveNatureName}}</td>
            <td class='col-2 text-center'>
              <span class="fa tableIcon pointerCursor" data-toggle="modal" data-target="#typeModal"
                (click)="editLeaveRule(item)">
                <span class="fa icon-u-edit"></span>
              </span>
            </td>
            <td class='col-2 text-center'>
              <span class="fa tableIcon pointerCursor" (click)="deleteLeaveRule(item)">
                <span class="fa icon-u-delete"></span>
              </span>
            </td>
          </tr>
        </tbody>
      </table>


      <!-- Pagination Starts -->
      <div class="col-md-12 text-right">
        <div class="paginationBox">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
        <div class="paginationBox">
          <mat-form-field class="pagenateList">
            <mat-select [(ngModel)]="itemPerPage">
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="10">10</mat-option>
              <mat-option value="15">15</mat-option>
              <mat-option value="20">20</mat-option>
              <mat-option value="25">25</mat-option>
              <mat-option value="30">30</mat-option>
              <mat-option value="35">35</mat-option>
              <mat-option value="40">40</mat-option>
              <mat-option value="45">45</mat-option>
              <mat-option value="50">50</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="paginationBox">
          Item per page: &nbsp;&nbsp;
        </div>
      </div>
      <!-- Pagination Ends -->

    </div>

  </div>
  <!-- end table row -->
</div>
<!--end myContainer div-->





<!-- Start Modal Window to add & update new user -->
<div class="modal fade" id="typeModal">

  <!--start modal window dialog-->
  <div class="modal-dialog shadow-lg-dark modal-lg">
    <!--start modal window contents -->
    <div class="modal-content modal-bottom-border-blue">

      <!--start user Modal Header -->
      <div class="modal-header bg-skyBlue borderBlue5px">
        <h4 class="modal-title">{{ leaveHeading }} Leave Rule</h4>
        <div>
          <button type="button" class="btn-close cursorPointer" data-dismiss="modal"></button>
        </div>
      </div>
      <!--end user Modal Header -->

      <!--start user Modal body -->
      <div class="modal-body m-3">

        <!--start userModal 1st row -->
        <div class="row">
          <!--start fields column-->
          <div class="col-md-6">
            <mat-form-field class="fullwidth">
              <mat-select disableOptionCentering placeholder="Leave Type" [(ngModel)]="leaveType">
                <mat-option *ngFor="let item of leaveTypeList" [value]="item.leaveTypeCd">
                  {{item.leaveTypeName}}
                </mat-option>
                <mat-option>
                  <button mat-raised-button class="btnClass fullwidth" style="border-radius: 0;">
                    ADD LEAVE TYPE
                  </button>
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="fullwidth">
                  <input matInput placeholder="Number of Leaves" [(ngModel)]="noOfLeave">
                </mat-form-field>
              </div>
            </div>
            <mat-radio-group [(ngModel)]="noOfLeave">
              <div class="row">
                <div class="offset-md-2 col-md-5">
                  <mat-radio-button value="1">Per Anum</mat-radio-button>
                </div>
                <div class="col-md-5">
                  <mat-radio-button value="2">Per Month</mat-radio-button>
                </div>
              </div>
            </mat-radio-group>
          </div>
          <div class="col-md-6">
            <mat-form-field class="fullwidth">
              <mat-select disableOptionCentering placeholder="Leave Nature" [(ngModel)]="leaveNature">
                <mat-option *ngFor="let item of leaveNatureList" [value]="item.leaveNatureCd">
                  {{item.leaveNatureName}}
                </mat-option>
                <mat-option>
                  <button mat-raised-button class="btnClass fullwidth" style="border-radius: 0;">
                    ADD LEAVE NATURE
                  </button>
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="fullwidth">
              <input matInput [matDatepicker]="picker" placeholder="Applied from" [(ngModel)]="appliedFrom">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <!--end fields column-->
        </div>
        <!--end userModal 1st row -->
        <br /><br />
        <br /><br />
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <!--start buttons row -->
            <div class="row">
              <div class="col-md-6">
                <button mat-raised-button class="btn fullwidth pt-1 pb-1" (click)="clear()"
                  style="border-radius: 0;">&nbsp;&nbsp;&nbsp;RESET&nbsp;&nbsp;&nbsp;</button>
              </div>
              <div class="col-md-6">
                <button mat-raised-button class="btn fullwidth pt-1 pb-1" (click)="save()"
                  style="border-radius: 0;">&nbsp;&nbsp;&nbsp;SAVE&nbsp;&nbsp;&nbsp;</button>
              </div>
            </div>
            <!--end buttons row -->
          </div>
        </div>
      </div>
      <!--end user Modal body -->
    </div>
    <!--end modal window contents -->
  </div>
  <!--end modal window dialog-->
</div>
<!-- End Modal Window to add & update new user -->
